
/* Styles for non-js file-picker */

.upload-file::before {
  content: " ";
  /* background: transparent url("/s/img/icons/upload--icon_blue.svg") no-repeat center center; */
  background-size: 1.6rem;
  min-width: 27px;
  min-width: 1.5rem;
  height: 27px;
  height: 1.5rem;
  margin-left: 0.5em;
  float: right;
  font-size: 0.8rem;
}

input[type=file]::-webkit-file-upload-button {
  font-size: 1.25rem;
  font-size: 1rem;
    border: none;
    border-right: 2px solid #033e58;
    padding: 0.5rem 1rem;
    background:#F5F6FF;
    color:#033e58;
}

input[type=file] {
    border: 2px solid #033e58;
    border-radius: 4px;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    margin-bottom: 0;
    background: #fff;
}

input[type=file]:hover,
input[type=file]::-webkit-file-upload-button:hover {
  cursor: pointer;
}

/*

@media only screen and (min-width: 650px) and (max-width: 767px){
  input[type=file] {
    width: 80%;
  }
}

@media only screen and (min-width: 800px){
  input[type=file] {
    width: 70%;
  }
}

*/
