
/* Styles for the header */

/* Need to check through, and separate out the nav styles too


/* Had to add the skip style back in from the earlier v of responsive.css - couldn't find it */

.skip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.skip__link {
  display: block;
  height: 1px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: -30px;
  -webkit-transition: top 100ms;
  transition: top 100ms;
  text-align: center;
  color: #fff;
  background: #003d59;
  font-weight: 600;
  font-size: 19.8px;
  font-size: 1.1rem;
}

.skip__link:focus {
  padding: 16px;
  padding: 1rem;
  max-height: 20em;
  height: auto;
  top: 0;
}



/* copied from Help and Support on Census and changed for SDC */

.page__header{
  background: #222;
  font-size: 0.9rem;
}



.header__logo a{
  color: #fff;
  text-decoration: none;
}


.header__logo a:hover, .header__logo a:focus, .header__logo a:active{
  color: #fff;
  text-decoration: underline;
}



.logo__img{
  width: 16px;
  height: 16px;
  margin: 0 0.5rem 0.25rem 0;
}

.page__header--title{
  color: #fff;
}



a.site-title{
  color: #fff;
  text-decoration: none;
}

a.site-title:hover, a.site-title:focus, a.site-title:active{
  color: #fff;
  text-decoration: underline;
}

a.sign-out, a.sign-out:hover {
    color: #fff;
}

.header:before{
  height: 0;
}


.header{
  padding: 0;
}

.bar__title {
    margin-right: auto;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.25rem 0;
  width: 100%;
}


.nav{
    padding: 0;
}


.nav--horizontal {
  font-size: 0;
  margin: 0;
}


.nav--horizontal .nav__item {
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  margin: 0 0 0 8px;
  margin: 0 0 0 0.5rem;
  padding: 0 8px 0 0;
  padding: 0 0.5rem 0 0;
  position: relative;
  text-align: center;
  *display: inline;
  *zoom: 1;
}

.nav--horizontal .nav__item:not(:last-child):after {
  content: "";
  position: absolute;
  height: 1em;
  width: 1px;
  background-color: #999;
  right: -1px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.nav--horizontal .nav__item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.nav--horizontal .nav__item:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}

.nav--horizontal .nav__link {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  text-align: center;
  *display: inline;
  *zoom: 1;
}





@media only screen and (min-width: 740px) {
  .header__help .header__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}



.header__btn {
  text-align: right;
  line-height: 1;
  color: white;
  margin: 0 0 0 32px;
  margin: 0 0 0 2rem;
  width: auto;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .header__btn {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem !important;
  }
}

.header__help {
  padding: 0;
  color: #fff;
  background: #033e58;
  overflow: hidden;
  -webkit-transition: max-height 300ms ease-in;
  transition: max-height 300ms ease-in;
  height: auto;
}

.has-js .header__help {
  max-height: 720px;
  max-height: 40rem;
}

.has-js .header__help.is-closed {
  max-height: 0;
  -webkit-transition: max-height 200ms ease-out;
  transition: max-height 200ms ease-out;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .header__help .mars,
  .header__help .venus {
    font-size: 0.8rem;
  }
}

.header__help a {
  color: white;
  text-decoration: underline;
}

.header__help a:hover {
  color: white;
  text-decoration: none;
}

.header__help .header__container {
  padding-top: 13.5px;
  padding-top: 0.75rem;
  padding-bottom: 13.5px;
  padding-bottom: 0.75rem;
}

@media only screen and (min-width: 740px) {
  .header__help .header__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.header__title {
  display: none;
}

.header__nav {
  margin-left: auto;
  margin-right: 16px;
}


.header__logo{
    width: auto;
    margin: 0;
    /*margin-left: 1rem;*/
}

.bar__title a {
    color: #fff;
    text-decoration: none;
}
