.download {
  padding-left: 18px;
  background-image: url("/static/images/ic_file_download_black_18px.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
  }

.edit-icon {
  padding-left: 18px;
  background-image: url("/static/images/ic_mode_edit_black_18px.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.add-icon {
    padding-left: 18px;
    background-image: url("/static/images/ic_add_circle_outline_black_18px.svg");
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.remove-icon{
  padding-left: 18px;
  background-image: url("/static/images/ic_remove_circle_outline_black_18px.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}
