
/* Lists */


/* Unordered lists */

/* Ordered lists */

/* Description lists */


/* Needs discussion for SDC pattern library and BEM */

.description-list{
  margin: 0;
}

.description-list dt{
  float: left;
  clear: left;
  width: 6rem;
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: 600;
  line-height: 1.4;
}

.description-list dd{
  margin: 0 0 0 6rem;
  padding: 0 0 0.5rem 0;
  line-height: 1.4;
}



.description-list-8 dt{
  width: 8rem;
}

.description-list-8 dd{
  margin: 0 0 0 8rem;
}


.description-list__dense dt,
.description-list__dense dd{
  line-height: 1.2;
}



/* get rid of these ones below and replace with generic from above */

.item-headlines-term{
  float: left;
  clear: left;
  width: 6rem;
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: 600;
}

.item-headlines-definition{
  margin: 0 0 0 6rem;
  padding: 0 0 0.5rem 0;
}


.ce-status__title{
  float: left;
  clear: left;
  width: 4rem;
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: 600;
}

.ce-status__data{
  margin: 0 0 0 4rem;
  padding: 0 0 0.5rem 0;
}

.ce-status__data.ce-status{
  font-weight: 600;
}



.survey-info{
  margin: 0;
  /*font-size: 0.9rem;*/
}


.survey-info__title{
  float: left;
  clear: left;
  width: 6rem;
  margin: 0;
  padding: 0;
  color: #444;
}

.survey-info__data{
  margin: 0 0 0 7rem;
  padding: 0 0 0.5rem 0;
}
