/* Unread circle icon */
.circle-icon:before {
  content: ' \25CF';
  font-size: 16px;
  color: #4263C2;
  margin-left: -0.75rem;
  margin-right: .2rem;
}

/* Create new message */
input.secure-message--recipient {
  font-size: 1rem;
  margin-bottom: 1rem;
}

input.secure-message--subject {
  border: 1px solid #222;
  margin-bottom: 1rem;
}

label.secure-message--subject {
  margin-top: 1rem;
}

textarea.secure-message--message {
  border: 1px solid #222;
  margin-bottom: 1rem;
}

.sm-form-recipient-label,
.sm-form-meta-label {
  display: inline-block;
  width: 5rem;
  color: #666;
}

.secure-message-conversation-meta__label {
  display: inline-block;
  width: 5rem;
  color: #666;
}

.secure-message--subject,
.secure-message--message {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 740px) {
  .create-message.block{
    width: 60%;
  }
}


/* Message list table */
.message-list {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.message-list thead tr {
  border-bottom: 2px solid #666;
}

.message-list tbody tr {
  border-bottom: 1px solid #ccc;
}

.message-list tbody tr:hover {
cursor: pointer;
background: #e4d8eb;
background: #eee;
}

.message-list th,
.message-list td {
  text-align: left;
  padding: 0.5rem 0 0.5rem 1rem;
}

.message-list th {
  padding-bottom: 0.25rem;
  background: #e4e8eb;
  background: #fff;
}

.message-list__date-time {
  width: 10rem;
  white-space: nowrap;
}

.message-list__ru-ref {
  width: 8rem;
  white-space: nowrap;
}

.message-list__ru-name {
  max-width: 16rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-list__subject {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-list__from {
  width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-list__to {
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-list__item--unread {
  font-weight: 800;
}


@media only screen and (min-width: 740px) {
  .message-list__date-time {
    padding-right: 2rem;
  }

  .message-list__ru-ref {
    padding-right: 2rem;
  }

  .message-list__ru-name {
    padding-right: 2rem;
  }

  .message-list__subject {
    min-width: 250px;
    padding-right: 2rem;
  }

  .message-list__from {
    min-width: 150px;
    padding-right: 2rem;
  }

  .message-list__to {
    min-width: 150px;
  }
}


/* Conversation views */
@media only screen and (min-width: 740px) {
  .secure-message-conversation{
    width: 62.5%;
  }
}

.secure-message-sent-message-meta.sm-from-ons {
  background: #033E58;
}

.secure-message-sent-message-meta.sm-from-respondent {
  background: #0F8243;
}

.secure-message-conversation-meta {
  margin-bottom: 1rem;
}

.secure-message-sent-message {
   border: 1px solid #222;
   margin-bottom: 2rem;
   border-radius: 0.2rem;
}

.secure-message-sent-message-meta,
.secure-message-sent-message-body {
  padding: 0.5rem;
}

.secure-message-sent-message-meta {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  padding-top: 0.333rem;
  padding-bottom: 0.333rem;
}

.secure-message-sent-message-meta__label {
  display: none;
}

.secure-message-sent-message-meta-datetime {
  display: block;
  color: #fff;
}

.secure-message-sent-message-meta-from {
  display: block;
  color: #fff;
}

.secure-message-sent-message-meta-to {
  display: block;
  color: #fff;
}
