/* need to separate out */


.bar__sitenavigation{
  border-top: 1px solid rgba(128, 158, 171, 1);
}


.sitenavigation{
  margin:0;
  padding: 0;
}

.sitenavigation__list{
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
}

.sitenavigation__listitem{
  display: inline-block;
  margin: 0 1.5rem 0 0;
  padding: 0;
}

.sitenavigation__listitem a{
  text-decoration: none;
  padding: 0.5rem 0 0.3rem 0;
  margin: 0;
  color: #fff;
  border-bottom: 0.2rem solid #033e58;
}

.sitenavigation__listitem a:hover,
.sitenavigation__listitem a:focus{
  border-bottom: 0.2rem solid #ccc;
}

.sitenavigation__listitem--active a:link,
.sitenavigation__listitem--active a:visited{
  font-weight: 800;
  border-bottom: 0.2rem solid #fff;
}










/* Tabbed navigation */
/* Using BEM         */

.nav-tabs{
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #666;
}

.nav-tabs__tab, .nav-tabs__tab--active{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
}

.tab-label{
    display: inline-block;
    padding: 0.3rem 1rem;
    margin: 0;
    margin-bottom: -2px;
    border: 1px solid #fff;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom: 0;
    color: #222;
    font-weight: 400;
}

.nav-tabs__tab--active .tab-label{
    font-weight: 600;
    border: 1px solid #666;
    background: #fff;
    border-bottom: 1px solid #fff;
}

.nav-tabs__tab .tab-label{
    text-decoration: none;
}

.nav-tabs__tab .tab-label:hover,
.nav-tabs__tab .tab-label:focus{
    text-decoration: underline;
    border: 1px solid #666;
    background-color: #4263c2;
    /*background-color: #f7f7f7;*/
}

.nav-tabs__tab .tab-label:hover{
  text-decoration: underline;
  background-color: #4263c2;
  color: #fff;
}



.nav-tabs__tab.create{
  float: right;
}

.tab-label.create-new-message{
  text-decoration: underline;
  color: #4263c2;
}

.tab-label.create-new-message:active,
.tab-label.create-new-message:focus{

  background-color: #4263c2;
  color: #fff;

}


.tab-label.create-new-message:hover{
  text-decoration: underline;
  background-color: #4263c2;
  color: #fff;
}
