
/* Secure Messaging pills */

.nav-pills{
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #666;
    padding-top: 0.5rem;
}

.nav-pills__pill, .nav-pills__pill--active{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
}

.pill-label{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0;
    margin-bottom: -1px;
    text-decoration: none;
    color: #222;
}

@media only screen and (max-width: 360px) {
  .pill-label{
    padding: 0.5rem 0.8rem;
  }
}


 .nav-pills__pill--active .pill-label{
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid #003C57;
}

.nav-pills__pill .pill-label{
    text-decoration: none;
}

.nav-pills__pill .pill-label:hover, .nav-pills__pill .pill-label:active{
  background-color: #4263c2;
  color: #fff;
  border-bottom: 3px solid #4263c2;
  text-decoration: underline;
}

.nav-pills__pill.create{
  float: right;
}

.pill-label.create-new-message{
  text-decoration: underline;
  color: #4263c2;
}

.pill-label.create-new-message:active,
.pill-label.create-new-message:focus{
  background-color: #4263c2;
  color: #fff;
}

.pill-label.create-new-message:hover{
  text-decoration: underline;
  background-color: #4263c2;
  color: #fff;
}
