.spoke{
  background-color: #999;
}

.spoke__header{
  margin: 2rem 2rem 0 2rem;
  padding: 1.5rem 2rem 0.5rem 2rem;
  background-color: #eeecec;
  /* border-bottom: 1px solid #999; */
}

.spoke__body{
  margin: 0 2rem 2rem 2rem;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #fff;
}

.secondary-info{
  color: #595959;
  font-weight: 400;
}

.current-value::before{
  content: "-";
}