
/* Additional styles for tables */


th,
td {
  padding: 15px 0;
  word-wrap: normal;
  line-height: 1.6;
  vertical-align: top;
  border-bottom: thin solid #e4e8eb;
}





.tbl-ce-label{
  width: 40%;
}


.ce-events .tbl-ce-value{
  text-align: right;
}

.tbl-ce-status{
  /*display:none;*/
}

.tbl-ce-action {
    text-align: right;
}

/* sortable table styles from ljwatson https://ljwatson.github.io/sortable-tables/ */

.sortable span[role="button"] {
    display: inline-block;
}

.sortable span[role="button"]:hover, span[role="button"]:focus {
    color: #0f8243;
}

.sortable span[role="button"]:focus {
}

.sortable th{
  white-space: nowrap;
}

.sortable th i {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 5px;
  width: 10px;
}

.arrow:after {
    /*
    font-weight: bold;
    font-style: normal;
    font-size: 1.25em;
    font-weight: 400;
    font-size: 0.8rem;
    */
}

.arrow:after {
    content: "\2195";
}

.arrow-down:after {
    content: "\2193";
}

.arrow-up:after {
    content: "\2191";
}


/* Pagination */

.paginatorLink{

margin: 0 0.5rem;
padding-left: 0.3rem;
padding-right: 0.3rem;
/*color: #fff;
background: #4263c2;*/

}

/* Content type specific table styles */

/* Surveys list */

.tbl-surveys-id{}

.tbl-surveys-title{}

.tbl-surveys-abbreviation{
}

.tbl-surveys-legal-basis{}

.tbl-surveys-frequency{
  /*display: none;*/
}
