node_modules/
.idea
allure-results
coverage
.nyc_output

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
.vscode

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
flask_session/
.pytest_cache

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# Rope project settings
.ropeproject
.build

# Minified
minimised/

# Floobits
*.floo
*.flooignore

# For local testing
/tests/views/tests

*.css
*.map

!main.css
!main.css.map
/scripts/sample.csv
/scripts/enrolment_email_details.csv
/scripts/~$example_business_file.xlsx

.history

# Design System templates
response_operations_ui/templates/components
response_operations_ui/templates/layout
