[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.8"

[packages]
flask-talisman = "*"
structlog = "*"
cssmin = "*"
jsmin = "*"
gunicorn = "*"
google-cloud-pubsub = "*"
requests = "*"
iso8601 = "*"
redis = "==2.10.6"
cryptography = "==3.2.1"
flask-paginate = "*"
python-dateutil = "*"
requestsdefaulter = "*"
bs4 = "*"
openpyxl = "*"
beautifulsoup4 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
furl = "*"
idna = "*"
itsdangerous = "*"
jdcal = "*"
orderedmultidict = "*"
ply = "*"
pycparser = "*"
sdc-cryptography = "*"
six = "*"
soupsieve = "*"
thriftpy2 = "*"
urllib3 = "*"
webassets = "*"
Flask = "*"
Flask-Login = "==0.4.1"
Flask-WTF = "*"
Flask-Assets = "*"
pyScss = "*"
PyJWT = "*"
Flask-Session = "*"
Werkzeug = "==0.16.1"
et_xmlfile = "*"
Jinja2 = "*"
MarkupSafe = "*"
WTForms = "==2.2.1"

[dev-packages]
codecov = "*"
flake8 = "*"
fakeredis = "*"
freezegun = "*"
pytest = "*"
pytest-cov = "*"
testfixtures = "*"
requests-mock = "*"
responses = "*"
mock = "*"
