[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

flask = "==0.12.2"
structlog = "==17.2.0"


[dev-packages]

pytest = "==3.3.0"
pytest-cov = "==2.5.1"
