[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.9"

[packages]
flask-talisman = "*"
structlog = "*"
cssmin = "*"
jsmin = "*"
gunicorn = "*"
google-cloud-pubsub = "*"
requests = "*"
iso8601 = "*"
redis = "*"
cryptography = "*"
flask-paginate = "*"
python-dateutil = "*"
requestsdefaulter = "*"
bs4 = "*"
openpyxl = "*"
beautifulsoup4 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
furl = "*"
idna = "*"
itsdangerous = "*"
jdcal = "*"
orderedmultidict = "*"
ply = "*"
pycparser = "*"
sdc-cryptography = "*"
six = "*"
soupsieve = "*"
thriftpy2 = "*"
urllib3 = "*"
webassets = "*"
Flask = "*"
Flask-Login = "*"
Flask-WTF = "*"
Flask-Assets = "*"
pyScss = "*"
PyJWT = "*"
Flask-Session = "*"
Werkzeug = "*"
et_xmlfile = "*"
Jinja2 = "*"
MarkupSafe = "*"
WTForms = "==2.2.1"

[dev-packages]
black = "==21.6b0"
flake8 = "*"
fakeredis = "*"
freezegun = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
coverage= "==6.0b1"
testfixtures = "*"
requests-mock = "*"
responses = "*"
mock = "*"
