<section class="ce-section ce-events">
    <h2 class="ons-u-fs-r--b ons-u-pt-m">Action dates</h2>
    
    {% set surveyEditPermission = hasPermission('surveys.edit') %}  
    {% set surveyTableData = { 
        "variants": 'compact',
        "caption": 'Dates for this collection exercise', 
        "hideCaption": true,
        "ths":
            [ 
                {  
                    "value": "Event",
                    "thClasses": "ons-u-vh" 
                }, 
                { 
                    "value": "Date",
                    "thClasses": "ons-u-vh"
                }, 
                { 
                    "value": "Status",
                    "thClasses": "ons-u-vh"
                } if surveyEditPermission else 
                    [ 
                        {  
                            "value": "Event",     
                            "thClasses": "ons-u-vh" 
                        }, 
                        { 
                            "value": "Date", 
                            "thClasses": "ons-u-vh" 
                        }
                    ]
            ]
    } %}

    {% set surveyTableDataRows = [] %}
    {% set dateGroups = ['mps', 'go_live', 'return_by', 'reminder', 'reminder2', 'reminder3', 'exercise_end', 'nudge_email_0', 'nudge_email_2', 'nudge_email_3', 'nudge_email_4', 'nudge_email_5'] %}
    {% set nudge = '' %}
    {% if not events.nudge_email_0 %}
        {% set nudge = 'nudge_email_0' %}
    {% elif not events.nudge_email_1 %}
        {% set nudge = 'nudge_email_1' %}
    {% elif not events.nudge_email_2 %}
        {% set nudge = 'nudge_email_2' %}
    {% elif not events.nudge_email_3 %}
        {% set nudge = 'nudge_email_3' %}
    {% elif not events.nudge_email_4%}
        {% set nudge = 'nudge_email_4' %}
    {% endif %}
    {% for dateGroup in dateGroups %}
        {% set label = '' %}
        {% set eventIsInFuture = False %}
        {% if dateGroup == 'mps' %}
            {% set label = 'Main print selection in processing' %}
            {% set event = events.mps %}
            {% set name = 'mps-date' %}
            {% set value = 'date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
            {% endif %}
        {% elif dateGroup == 'go_live' %}
            {% set label = 'Go live' %}
            {% set event = events.go_live %}
            {% set name = 'go-live-date' %}
            {% set value = 'date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
            {% endif %}
        {% elif dateGroup == 'return_by' %}
            {% set label = 'Return by' %}
            {% set event = events.return_by %}
            {% set name = 'return-by-date' %}
            {% set value = 'date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
            {% endif %}
        {% elif dateGroup == 'reminder' %}
            {% set label = 'First reminder' %}
            {% set event = events.reminder %}
            {% set name = 'first-reminder-date' %}
            {% set value = 'reminder' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set value = 'date' %}
            {% endif %}
        {% elif dateGroup == 'reminder2' %}
            {% set event = events.reminder2 %}
            {% set value = 'reminder' %}
            {% if events.reminder %}
                {% set showReminder = true %}
                {% set label = 'Second reminder' %}
                {% set name = 'second-reminder-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set value = 'date' %}
            {% endif %}
        {% elif dateGroup == 'reminder3' %}
            {% set event = events.reminder3 %}
            {% set value = 'reminder' %}
            {% if events.reminder2 %}
                {% set showReminder = true %}
                {% set label = 'Third reminder' %}
                {% set name = 'third-reminder-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set value = 'date' %}
            {% endif %}
        {% elif dateGroup == 'exercise_end' %}
            {% set label = 'Exercise end' %}
            {% set event = events.exercise_end %}
            {% set name = 'exercise-end-date' %}
            {% set value = 'date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
            {% endif %}
        {% elif dateGroup == 'nudge_email_0' %}
            {% set event = events.nudge_email_0 %}
            {% set value = 'nudge email' %}
            {% if events.add_nudge_email %}
                {% set showNudgeEmail = true %}
                {% set label = 'First nudge email' %}
                {% set name = 'first-nudge-email-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set value = 'date' %}
            {% endif %}
        {% elif dateGroup == 'nudge_email_2' %}
            {% set event = events.nudge_email_2 %}
            {% set value = 'nudge email' %}
            {% if events.nudge_email_0 %}
                {% set showNudgeEmail = true %}
                {% set label = 'Second nudge email' %}
                {% set name = 'second-nudge-email-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set value = 'date' %}
            {% endif %}
        {% elif dateGroup == 'nudge_email_3' %}
            {% set event = events.nudge_email_3 %}
            {% set value = 'nudge email' %}
            {% if events.nudge_email_2 %}
                {% set showNudgeEmail = true %}
                {% set label = 'Third nudge email' %}
                {% set name = 'third-nudge-email-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set value = 'date' %}
            {% endif %}
        {% elif dateGroup == 'nudge_email_4' %}
            {% set event = events.nudge_email_4 %}
            {% set value = 'nudge email' %}
            {% if events.nudge_email_3 %}
                {% set showNudgeEmail = true %}
                {% set label = 'Fourth nudge email' %}
                {% set name = 'fourth-nudge-email-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set value = 'date' %}
            {% endif %}
        {% elif dateGroup == 'nudge_email_5' %}
            {% set event = events.nudge_email_5 %}
            {% set value = 'nudge email' %}
            {% if events.nudge_email_4 %}
                {% set showNudgeEmail = true %}
                {% set label = 'Fifth nudge email' %}
                {% set name = 'fifth-nudge-email-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set value = 'date' %}
            {% endif %}
        {% elif ( (events.go_live) and (events.return_by) and (nudge) ) %}
            {% set label = ' ' %}
        {% endif %}

        {% if surveyEditPermission %}
            {% if not event %}
                {% set hyperlink = '<a href="' + url_for("collection_exercise_bp.get_create_collection_event_form",  short_name=survey.shortName, period=ce.exerciseRef, ce_id=ce.id, tag=dateGroup) + '">Add ' + value + '</a>' %}
            {% elif not locked or eventIsInFuture %}
                {% set hyperlink = '<a href="' + url_for("collection_exercise_bp.update_event_date",  short_name=survey.shortName, period=ce.exerciseRef, tag=dateGroup, errors=None if event == events.reminder) + '">Edit ' + value + '</a>' %}
            {% elif ( (events.go_live) and (events.return_by) and (nudge) ) %}
                {% set hyperlink = '<a href="' + url_for("collection_exercise_bp.get_create_collection_event_form",  short_name=survey.shortName, period=ce.exerciseRef, ce_id=ce.id, tag=nudge) + '">Add nudge email</a>' %}
            {% endif %}
        {% endif %}
        {% if label %}
            {% do surveyTableDataRows.append(
                {
                    "tds": [
                        {
                            "value": label
                        },
                        {
                            "value": eventDay + ' <em>' + eventDate + '</em> ' + eventTime if event,
                            "class": "ons-u-ta-right",
                            "name": name
                        },
                        {
                            "value": hyperlink,
                            "class": "ons-u-ta-right"
                        }
                    ]
                }
            ) %}
        {% endif %}
    {% endfor %}
  
    
    {% set nudge = '' %}
    {% if not events.nudge_email_0 %}
        {% set nudge = 'nudge_email_0' %}
    {% elif not events.nudge_email_1 %}
        {% set nudge = 'nudge_email_1' %}
    {% elif not events.nudge_email_2 %}
        {% set nudge = 'nudge_email_2' %}
    {% elif not events.nudge_email_3 %}
        {% set nudge = 'nudge_email_3' %}
    {% elif not events.nudge_email_4%}
        {% set nudge = 'nudge_email_4' %}
    {% endif %}
    {% if ( (events.go_live) and (events.return_by) and (nudge) ) %} 
        {% if surveyEditPermission %}
            {% set formData = {
                "action": url_for('collection_exercise_bp.get_create_collection_event_form', short_name=survey.shortName, period=ce.exerciseRef, ce_id=ce.id, tag=nudge),
                "method": 'get',
                "button": {
                    "text": 'Schedule nudge email',
                    "id": 'create-event-date-' + nudge,
                    "classes": 'ons-btn--secondary ons-btn--small'
                }
            } %}
            {% if nudge %}
                {% do surveyTableDataRows.append(
                    {
                        "tds": [
                            {
                                "form": formData,
                                "tdClasses": "ons-u-ta-left"
                            }
                        ]
                    }
                ) %}
            {% endif %}
        {% endif %}
    {% elif ( (events.go_live) and (events.return_by) ) %}
        {% call
            onsPanel({
                "type": "info",
                "classes": "ons-u-mb-l"
            })
        %}
            <p class="ons-u-fs-r">You cannot schedule any new nudge emails</p>
        {% endcall %}
    {% endif %}

    {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}

    {{
        onsTable(surveyTableData)
    }}
</section>
