<div id="ciAddForm" class=" ons-u-mt-l">
    <form id="form-add-ci" action="" class="form" method="post" enctype="multipart/form-data"
          xmlns="http://www.w3.org/1999/html">
        {{ form.csrf_token }}
        <div id="formtype">
            {{
                onsInput({
                    "name": "formtype",
                    "width": "7",
                    "value": form.formtype.data,
                    "classes": "input--w-5",
                    "label": {
                        "text": 'Add EQ collection instrument',
                        "description": "It must be a 4 digit number. An EQ CI added here can be selected for any CE with the same period number."
                    },
                    "error": {"text": error['header']} if 'add-ci-error' in error['section'] else None,         
                })
            }}
            {{
                onsButton({
                    "classes": "ons-u-mb-l ons-u-mt-s",
                    "variants": ['primary', 'small'],
                    "name": 'add-ci',
                    "text": 'Add',
                    "id": "save-btn",
                })
            }}
        </div>
    </form>
</div>
