<section class="ce-section ce-details ons-u-mb-l">
    <h2 class="ons-u-fs-r--b ons-u-pt-m">Action dates</h2>
    {% set actionDatesHeaders =
        [
            {
                "value": "Event",
                "thClasses": "ons-u-vh" 
            },
            {
                "value": "Date",
                "thClasses": "ons-u-vh"
            }
        ]
    %}
    {% if context["survey_edit_permission"] %}
        {% do actionDatesHeaders.append({"value": "Action", "thClasses": "ons-u-vh"} )%}
    {% endif %}
    
    {% set actionDatesTableData = {
        "variants": ['compact', 'responsive'],
        "id": 'tbl-ce-details',
        "caption": 'Dates for this collection exercise',
        "hideCaption": true,
        "ths": tblHeaders,
        "tableClasses": "ce-overview-table"
    }%}
    {% set actionDatesTableDataRows = [] %}
    
    {% for event in context["action_dates"].values() %}
        {% set event_text = event["text"] %}
        {% if "status" in event %}
            {% set event_status = event["status"] | capitalize %}
            {% if event_status == 'Processing' or event_status == 'Retry' %}
                {% set event_text = event_text + '<br/><span class="ons-status ons-status--pending">' + event_status +'</span>'%}
            {% elif event_status == 'Failed' %}
                {% set event_text = event_text + '<br/><span class="ons-status ons-status--error">' + event_status +'</span>'%}
            {% endif %}
        {% endif %}
            
        {% set actionDatesTds = [{"value": event["label"]},{"value": event_text}]%}
        
        {% if "hyperlink" in event %}
            {% do actionDatesTds.append({
                "value": '<a href="'+ event["hyperlink"] + '" id="'+ event["hyperlink_id"] + '">' + event["hyperlink_text"]+'</a>',
                "tdClasses": "ons-u-ta-right"
                }) %}
            {% elif context["survey_edit_permission"] %}
                {% do actionDatesTds.append({}) %}
        {% endif %}
        
        {% do actionDatesTableDataRows.append({"tds": actionDatesTds })%}
    {% endfor %}
    
    {% do actionDatesTableData | setAttribute("trs", actionDatesTableDataRows) %}
    {{ onsTable(actionDatesTableData) }}
    
</section>
