<section class="ce-section ce-details">
    {% set collectionInstrumentTableDataRows = [] %}
    {{
       onsLabel({
          "text": "Collection instruments (CI)",
          "for": "collection-instrument-table",
          "description": "You can see the minimum number of collection instruments needed under the 'Sample file' 
          section. "
      })
    }}
      {% set  collectionInstrumentTableData = {
        "variants": ['compact', 'responsive'],
        "id": "collection-instrument-table",
        "caption": 'Collection Instruments',
        "hideCaption": true,
    } %}
  {% if survey["surveyMode"] == "EQ_AND_SEFT" %}
      {% set tblHeaders =
        [
                  {
                  "value": "",
                  },
                  { 
                        "value":"<em>Total CI (" + ci_table_context["total_ci_count"] + ")</em>" ,
                        "thClasses": "ons-u-fs-r--b",
                  },
        ]
        %}
    {% do collectionInstrumentTableData | setAttribute("ths", tblHeaders) %}
  {% endif %}
    {% for ci_type in ci_table_context["ci_details"] %}
        {% do collectionInstrumentTableDataRows.append(
            {
                "tds": [
                  {
                    "value": ci_type.title
                  },
                  {
                    "value": ci_type.count,
                    "tdClasses": "ons-u-ta-centre"
                  }, 
                  {
                    "value": '<a href="' + ci_type.url + '" id="view-add-upload-ci-' + ci_type.type + '">' + ci_type.link_text + '</a>',
                    "tdClasses": "ons-u-ta-right"
                  }
                ] 
            }
        )
        %}
    {% endfor %}
    {% do collectionInstrumentTableData | setAttribute("trs", collectionInstrumentTableDataRows) %}
    {{ onsTable(collectionInstrumentTableData) }}
</section>
