{% from "components/input/_macro.njk" import onsInput %}
{% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
{% from "components/label/_macro.njk" import onsLabel %}

<section class="ce-section {{'ons-panel ons-panel--simple ons-panel--error' if missing_ci else ''}} ons-u-pt-m ons-u-mb-l ons-u-mt-M">
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {% if surveyEditPermission %}
        {% set linkText = 'Upload SEFT files' %}
    {% else %}
        {% set linkText = 'View SEFT files' %}
    {% endif %}
        {% if survey.surveyMode == 'SEFT' %}
            {{
                onsTable({
                    "variants": ['compact', 'responsive'],
                    "id": "collection-instruments-table",
                    "caption": 'Collection instruments',
                    "hideCaption": true,
                    "ths": [
                        { 
                            "value": "Collection instruments library",
                            "thClasses": "ons-u-fs-r--b"
                        },
                        {
                            "value": "Selected files",
                            "thClasses": "ons-u-fs-r--b"
                        },
                        {
                            "value": " ",
                            "thClasses": "ons-u-ta"
                        }
                    ],
                    "trs": [
                        {
                            "tds": [
                                {
                                    "value": "SEFT collection instruments",
                                    "tdClasses": "ons-u-ta"
                                },
                                {
                                    "value": collection_instruments|length|string,
                                    "name": "total-instruments",
                                    "tdClasses": "ons-u-ta"
                                },
                                {
                                    "value": '<a id="seft-upload-link" href="' + url_for('collection_exercise_bp.get_seft_collection_instrument', period=ce.exerciseRef, short_name=survey.shortName.replace(' ', '')) + '">' + linkText + '</a>',
                                    "name": "upload-seft-instruments",
                                    "tdClasses": "ons-u-ta-right"
                                }
                            ]
                        }
                    ]
                })
            }}
        {% endif %}
      
        {% if survey.surveyMode != 'SEFT' %}
                {% if not locked and surveyEditPermission %}
                    <form id="form-add-ci" action="" class="form" method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        {{
                            onsInput({
                                "name": "formtype",
                                "type": "text",
                                "id": "text-width",
                                "width": "7",
                                "maxLength": 4,
                                "value": form.formtype.data,
                                "classes": "input--w-5",
                                "attributes": {
                                    "required": true
                                },
                                "label": {
                                    "text": 'Add EQ collection instrument',
                                    "description": "It must be a 4 digit number"
                                }
                            })
                        }}
                        {{
                            onsButton({
                                "classes": "ons-u-mb-l ons-u-mt-s",
                                "variants": ['primary', 'small'],
                                "name": 'add-ci',
                                "text": 'Add',
                                "id": "save-btn",
                            })
                        }}
                    </form>
                {% endif %}
            {% if collection_instruments %}
                {% set surveyTableDataHeader = [] %}
                {% set ths = 
                    [ 
                        {
                            "value": "Collection instruments (" + collection_instruments|length|string + ")",
                            "thClasses": "ons-u-fs-r--b"
                        },
                    ]
                %}  
                {% if surveyEditPermission %} 
                    {% do ths.append(
                        {
                            "value": " ",
                            "class": "ons-u-vh"
                        },
                    ) %} 
                {% endif %}
                {% set surveyTableData = {
                    "variants": ['compact', 'responsive'],
                    "id": "collection-instruments-table",
                    "caption": 'Collection instruments for this exercise',
                    "hideCaption": true,
                    "ths": ths
                } %}
                {% set surveyTableDataRows = [] %}
                {% for collection_instrument in collection_instruments %}
                    {% if not locked and surveyEditPermission%}
                        {% set formData =
                            '<form id="form-unselect-ci-' + loop.index|string + '" action="" method="post">' +
                            '<a href=# id="unlink-ci-' + loop.index|string + '"><svg class="ons-ons-svg-icon" viewBox="0 0 45 22" xmlns="http://www.w3.org/2000/svg" focusable="false"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></a>' +
                            '<input type="hidden" name="ce_id" value="' + ce.id + '"/>' +
                            '<input type="hidden" name="ci_id" value="' + collection_instrument.id + '"/>' +
                            '<input type="hidden" name="unselect-ci"/>' +
                            '<input type="hidden" name="csrf_token" value="' + csrf_token() + '" />' +
                            '</form>'
                        %}
                    {% endif %}
                    {% set tds = 
                        [ 
                            {
                                "value": collection_instrument.file_name
                            },
                        ]
                    %}  
                    {% if surveyEditPermission %} 
                        {% do tds.append(
                            {
                                "value": formData,
                                "tdClasses": "ons-u-vh-right"
                            },
                        ) %} 
                    {% endif %}   
                    {% do surveyTableDataRows.append( 
                        { 
                            "tds": tds 
                        } 
                    )%}
  
                {% endfor %}
                {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
                {{ onsTable(surveyTableData) }}
                {% if not locked %}
                    {% for i in range(surveyTableDataRows | length) %}
                        {% set j = i + 1 %}
                            <script{% if csp_nonce %} nonce="{{ csp_nonce() }}" {% endif %}>
                                document.getElementById("unlink-ci-{{ j }}").addEventListener('click', function () {
                                this.parentNode.submit()
                            });</script>
                    {% endfor %}
                {% endif %}
            {% endif %}
    
            {% if not locked %}
                {% if surveyEditPermission %}
                    <div class="ons-u-mb-m">
                        {% if eq_ci_selectors %}
                            <form id="form-select-ci" action="" class="form" method="post" enctype="multipart/form-data">
                                {{
                                    onsLabel({
                                        "id": 'ci-selector',
                                        "text": 'Select EQ collection instruments'
                                    })
                                }}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="hidden" name="csrf_token" value="" />
                                <div id="ciSelectErrorPanel"
                                    class="{{'ons-panel ons-panel--simple ons-panel--error' if error.section == 'ciSelect' else ''}}">
                                    <div id="ciSelectErrorPanelBody" class="{{'ons-panel__body' if error.section == 'ciSelect' else ''}}">
                                        <input type="hidden" name="ce_id" value="{{ ce.id }}" />                                       
                                            <table class="ons-table">
                                                <button type="submit" class="ons-btn ons-u-mb-s ons-js-auto-selector ons-btn--small ons-btn--secondary" data-unselect-all="Unselect all" data-select-all="Select all">
                                                    <span class="ons-btn__inner">
                                                      <span class="ons-btn__text">
                                                        <span class="ons-js-button-text">Select all</span>
                                                      </span>
                                                    </span>
                                                </button>
                                                <thead class="ons-table__head">
                                                    <tr class="ons-table__row"></tr>
                                                </thead>
                                                <tbody>
                                                    {% for eq_ci in eq_ci_selectors|batch(3, '&nbsp;') %}
                                                          <tr>
                                                              {% for ci in eq_ci %}
                                                                  {% if ci['file_name'] %}
                                                                      <td>
                                                                          {{
                                                                              onsCheckbox({
                                                                                  "id": ci['id']|string,
                                                                                  "label": {
                                                                                      "text": ci['file_name']|string
                                                                                  },
                                                                                  "value": ci['id']|string,
                                                                                  "classes": "ons-checkbox--no-border",
                                                                                  "name": "checkbox-answer"
                                                                              })
                                                                          }}
                                                                      </td>
                                                                  {% endif %}
                                                              {% endfor %}
                                                          </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        <div class="ons-u-mt-xxs">
                                            {{
                                                onsButton({
                                                    "text": "Done",
                                                    "id": "btn-add-ci",
                                                    "name": "select-ci",
                                                    "classes": "ons-u-mt-s",
                                                    "variants": ['secondary', 'small']
                                                })
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <div>
                                {% if not collection_instruments %}
                                    <p>This survey type is an EQ but no collection instruments have been set up for it yet.</p>
                                {% endif %}
                                <p><a href="{{ url_for('surveys_bp.get_link_collection_instrument', short_name=survey.shortName) }}" class="ons-btn ons-btn--secondary ons-btn--small"><span class="ons-btn__inner">Link collection instruments</span></a></p>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="ons-u-mb-m">
                        {% if eq_ci_selectors %}
                            {% set surveyTableData = {
                                "variants": 'compact',
                                "id": "collection-instruments-table",
                                "caption": 'eQ collection instruments available:'
                            } %}
                            {% set surveyTableDataRows = [] %}
                            {% for ci in eq_ci_selectors %}
                                {% do surveyTableDataRows.append(
                                    {
                                        "tds": [
                                            {
                                                "value": survey.surveyRef + ' ' + ci.file_name|string + ' eQ'
                                            }
                                        ]
                                    }
                                ) %}
                            {% endfor %}
                            {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
                            {{ onsTable(surveyTableData) }}
                        {% elif not(eq_ci_selectors or collection_instruments) %}
                            <div>
                                <p>This survey type is an EQ but no collection instruments have been set up for it yet.</p>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="ons-grid ons-grid--flex ons-grid--between">
        <div class="ons-grid__col">
            <h1 class="ons-u-fs-l u-mb-xs" name="page-manage-account-title">{{ name }}</h1>
        </div>
    </div>
</section>
