<section class="ce-section ce-details">
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {% set tblHeaders =  
        [ 
            { 
                "value": "Collection instruments (CI)",
                "thClasses": "ons-u-fs-r--b"
            }
        ]
    %}
  
    {% set surveyTableData = {
        "variants": ['compact', 'responsive'],
        "id": "sample-table",
        "caption": 'Sample summary',
        "hideCaption": true,
        "ths": tblHeaders,
    } %}

    {% if sample %}
        {% if sample.state == 'ACTIVE' or sample.state == 'COMPLETE' %}
            {% do tblHeaders.append(
                {
                    "value": "",
                    "thClasses": "ons-u-ta"
                }
             )%}
            {% set surveyTableDataRows = [

                ] %}
            {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
        {% endif %}
    
        {{ onsTable(surveyTableData) }}
    {% else %}
        {{ onsTable(surveyTableData) }}
    {% endif %}
  
    {% if locked or (not surveyEditPermission) %}
        {% set ciButtonText = 'View collection instruments' %}
    {% else %}
        {% set ciButtonText = 'Add collection instruments' %}
    {% endif %}
    {{
        onsButton({
            "text": ciButtonText,
            "id": 'btn-sample-ci',
            "submitType": 'timer',
            "variants": ['secondary', 'small'],
            "url": url_for('collection_exercise_bp.get_view_sample_ci', short_name=survey.shortName, period=ce.exerciseRef),
            "noIcon": 'true'
        })
    }}
</section>
