<div id="ciSelectionForm" class="{{'ons-panel ons-panel--error ons-panel--no-title' if 'ciSelect' in error['section'] else ''}} 
ons-u-mt-l">
    <span class="ons-panel__assistive-text ons-u-vh">Error: </span>
    {% if 'ciSelect' in error['section'] %}
        <div class="ons-panel__body">
          <p class="ons-panel__error ons-u-mb-s">
            <strong>{{ error['header'] }}</strong>
          </p>
        </div>
    {% endif %}
    {% if eq_ci_selectors or collection_instruments['EQ'] %}
        <form id="form-select-ci" action="" class="form" method="post" enctype="multipart/form-data">
            {{
                onsLabel({
                    "id": 'ci-selector',
                    "classes": ' ons-u-mb-s',
                    "text": 'Select EQ collection instruments'
                })
            }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="ce_id" value="{{ ce.id }}" />
              {% if cir_enabled %}
                {% set ciSubmitButtonText = "Continue to choose versions" %}
                <div class="ons-grid ons-col-12@m ons-grid-flex--vertical-center ons-grid--no-wrap@m ons-u-mt-m ons-u-mb-m">
                  <div class="ons-grid__col ons-col-8@m" style="padding-left: 1rem">
                    <table id="collection-instruments-left-table" class="ons-table ons-table--responsive">
                      <thead class="ons-table__head">
                        <tr class="ons-table__row" style="white-space:nowrap;">
                          <th scope="col" class="ons-table__header">
                            <span class="ons-table__header-text">EQ formtype</span>
                          </th>
                          <th scope="col" class="ons-table__header">
                            <span class="ons-table__header-text">CIR version</span>
                          </th>
                        </tr>
                      </thead>
                      {% for eq_ci in all_cis_for_survey|batch(3, ' ') %}
                        {% for ci in eq_ci %}
                          {% if ci['form_type'] %}
                            <tbody class="ons-table__body">
                                <tr class="ons-table__row">
                                  <td class="ons-table__cell">
                                      {{
                                          onsCheckbox({
                                              "id": "ci-check-" + ci['form_type'],
                                              "label": {
                                                  "text": ci['form_type']
                                              },
                                              "value": ci['id']|string,
                                              "checked": true if ci['checked'] == 'true' else false,
                                              "name": "checkbox-answer",
                                              "classes": "ons-checkbox--no-border"
                                          })
                                      }}
                                  </td>
                                    <td class="ons-table__cell">
                                        {% if ci['registry_instrument'] %}
                                          <span>Version {{ ci['registry_instrument'].ci_version }}</span>
                                        {% else %}
                                          <span>Nothing Selected</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </table>
                  </div>
                </div>
              {# Below else will be removed once the CIR journey work is complete #}
              {% else %}
                {% set selectAllText = "Select all" %}
                {% set unselectAllText = "Unselect all" %}
                {% set ciSubmitButtonText = "Done" %}
                {% if collection_instruments['EQ']|length == all_cis_for_survey|length %}
                    {% set autoSelectState = unselectAllText %}
                {% else %}
                    {% set autoSelectState = selectAllText %}
                {% endif %}
                {{ 
                    onsButton({
                        "html": '<span class="ons-js-button-text" id="selection-text">' + autoSelectState + '</span>',
                        "variants": btnClasses,
                        "classes": 'ons-u-mb-m ons-btn--small ons-btn--secondary',
                        "id": "select-or-unselect-ci",
                        "attributes": {
                            "data-unselect-all": unselectAllText,
                            "data-select-all": selectAllText
                        }
                    })
                }}
                <div class="ons-grid ons-col-12@m ons-grid-flex--vertical-center ons-grid--no-wrap@m ons-u-mt-m ons-u-mb-m">
                {% for eq_ci in all_cis_for_survey|batch(3, ' ') %}
                    {% for ci in eq_ci %}
                      {% if ci['form_type'] %}
                          <div class="ons-grid__col ons-col-4@m" style="padding-left: 1rem">
                            <table id="collection-instruments-left-table" class="ons-table ons-table--responsive">
                              <thead class="ons-table__head">
                                <tr class="ons-table__row"> </tr>
                              </thead>
                              <tbody class="ons-table__body">
                                <tr class="ons-table__row">
                                    <td class="ons-table__cell">
                                        {{
                                            onsCheckbox({
                                                "id": "ci-check-" + ci['form_type'],
                                                "label": {
                                                    "text": ci['form_type']
                                                },
                                                "value": ci['id']|string,
                                                "checked": true if ci['checked'] == 'true' else false,
                                                "name": "checkbox-answer",
                                                "classes": "ons-checkbox--no-border"
                                            })
                                        }}
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      {% endif %}
                  {% endfor %}
              {% endfor %}
              </div>
            {% endif %}
            <p id="ci-checked-count">{{ collection_instruments['EQ']|length }} selected out of {{ all_cis_for_survey|length }} available</p>
            <div class="ons-u-mt-2xs">
                {{
                    onsButton({
                        "text": ciSubmitButtonText,
                        "id": "btn-add-ci",
                        "name": "select-eq-ci"
                    })
                }}
            </div>
        </form>
    {% endif %}
</div>
<div class="ons-grid ons-grid-flex ons-grid-flex--between">
    <div class="ons-grid__col">
        <h1 class="ons-u-fs-l u-mb-xs" name="page-manage-account-title">{{ name }}</h1>
    </div>
</div>
