{% from "components/label/_macro.njk" import onsLabel %}
<section class="ce-section ce-details">
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {{
       onsLabel({
          "text": "Collection instruments (CI)",
          "for": "sample-table",
          "description": "You can see the minimum number of collection instruments needed under the 'Sample file' 
          section. "
    })
    }}
    {% set surveyTableData = {
        "variants": ['compact', 'responsive'],
        "id": "sample-table",
        "caption": 'Sample summary',
        "hideCaption": true,
    } %}
    {% if survey.surveyMode == 'EQ' %}
        {% set ciType = 'EQ collection instruments' %}
        {% if locked or (not surveyEditPermission) %}
          {% set ciButtonText = 'View' %}
        {% else %}
          {% set ciButtonText = 'Add' %}
        {% endif %}
    {% else %}
        {% set ciType = 'SEFT collection instruments' %}
        {% set ciButtonText = 'View or Upload' %}
    {% endif %}
  
    {% set addCILink = '<a href="' + url_for('collection_exercise_bp.get_view_sample_ci', short_name=survey.shortName, 
                            period=ce.exerciseRef) + '" id="create-event-date-go-live">' + ciButtonText + '</a>' %}
  
    {% set surveyTableDataRows = [ 
        {"tds": [
            {
                "value": ciType
            },
            {
                "value": instrument_count,
                "tdClasses": "ons-u-ta-centre"
            }, 
            {
              "value": addCILink,
              "tdClasses": "ons-u-ta-right"
            }
          ] 
        } 
    ] %}
    {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
    {{ onsTable(surveyTableData) }}
</section>
