<section class="ce-section {{'ons-panel ons-panel--simple ons-panel--error' if missing_ci else ''}} ons-u-pt-m">
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
        {% if survey.surveyMode == 'SEFT' %}
            {{
                onsTable({
                    "variants": ['compact', 'responsive'],
                    "id": "collection-instruments-table",
                    "caption": 'Collection instruments',
                    "hideCaption": true,
                    "ths": [
                        { 
                            "value": "Collection instruments library",
                            "thClasses": "ons-u-ta"
                        },
                        {
                            "value": "",
                            "thClasses": "ons-u-ta"
                        },
                        {
                            "value": " ",
                            "thClasses": "ons-u-ta"
                        }
                    ],
                    "trs": [
                        {
                            "tds": [
                                {
                                    "value": "SEFT collection instruments",
                                    "tdClasses": "ons-u-ta"
                                },
                                {
                                    "value": collection_instruments|length|string,
                                    "name": "total-instruments",
                                    "tdClasses": "ons-u-ta-right"
                                },
                                {
                                    "value": '<a id="seft-upload-link" href="' + url_for('collection_exercise_bp.get_seft_collection_instrument', period=ce.exerciseRef, short_name=survey.shortName.replace(' ', '')) + '">Upload SEFT files</a>',
                                    "name": "upload-seft-instruments",
                                    "tdClasses": "ons-u-ta-right"
                                }
                            ]
                        }
                    ]
                })
            }}
            <div class="ons-grid__col">
                {{
                    onsButton({
                        "text": "Done",
                        "id": "btn-option-done",
                        "classes": "ons-u-mt-l",
                        "submitType": "timer",
                        "url": url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=ce.exerciseRef),
                        "noIcon": "true"
                    })
                  }}
            </div>
        {% endif %}
      
      
        {% if survey.surveyMode != 'SEFT' %}
            {% if collection_instruments %}
                {% set surveyTableData = {
                    "variants": ['compact', 'responsive'],
                    "id": "collection-instruments-table",
                    "caption": 'Collection instruments for this exercise',
                    "hideCaption": true,
                    "ths": [
                        {
                            "value": "Collection instruments (" + collection_instruments|length|string + ")",
                            "class": "ons-u-vh"
                        },
                        {
                            "value": " ",
                            "class": "ons-u-vh"
                        } if surveyEditPermission else
                            [
                                {
                                    "value": "Collection instruments (" + collection_instruments|length|string + ")",
                                    "class": "ons-u-vh"
                                }
                            ]
                    ]
                } %}
                {% set surveyTableDataRows = [] %}
                {% for collection_instrument in collection_instruments %}
                    {% if not locked and surveyEditPermission%}
                        {% set formData =
                            '<form id="form-unselect-ci-' + loop.index|string + '" action="" method="post">' +
                            '<a href=# id="unlink-ci-' + loop.index|string + '"><svg class="ons-ons-svg-icon" viewBox="0 0 45 22" xmlns="http://www.w3.org/2000/svg" focusable="false"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></a>' +
                            '<input type="hidden" name="ce_id" value="' + ce.id + '">' +
                            '<input type="hidden" name="ci_id" value="' + collection_instrument.id + '">' +
                            '<input type="hidden" name="unselect-ci">' +
                            '<input type="hidden" name="csrf_token" value="' + csrf_token() + '" />' +
                            '</form>'
                        %}
                    {% endif %}
                    {% do surveyTableDataRows.append(
                        {
                            "tds": [
                                {
                                    "value": collection_instrument.file_name
                                },
                                {
                                    "value": formData,
                                    "tdClasses": "ons-u-vh-right"
                                } if surveyEditPermission else
                                    [
                                        {
                                            "value": collection_instrument.file_name
                                        }
                                    ]
                            ]
                        }
                    ) %}
                {% endfor %}
                {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
                {{ onsTable(surveyTableData) }}
                {% for i in range(surveyTableDataRows | length) %}
                    {% set j = i + 1 %}
                    {% if not locked %}
                        <script{% if csp_nonce %} nonce="{{ csp_nonce() }}" {% endif %}>
                            document.getElementById("unlink-ci-{{ j }}").addEventListener('click', function () {
                            this.parentNode.submit()
                        });</script>
                    {% endif %}
                {% endfor %}
            {% endif %}
    
            {% if not locked %}
                {% if surveyEditPermission %}
                    <div class="ons-u-mb-m">
                        {% if eq_ci_selectors %}
                            {% set checkboxesData = {
                                "name": "checkbox-answer",
                                "legend": "eQ collection instruments available:"
                            } %}
        
                            {% set checkboxData = [] %}
        
                            <form id="form-select-ci" action="" class="form" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div id="ciSelectErrorPanel"
                                    class="{{'ons-panel ons-panel--simple ons-panel--error' if error.section == 'ciSelect' else ''}}">
                                    <div id="ciSelectErrorPanelBody" class="{{'ons-panel__body' if error.section == 'ciSelect' else ''}}">
                                        <input type="hidden" name="ce_id" value="{{ ce.id }}" />
                                        {% for ci in eq_ci_selectors %}
                                            {% do checkboxData.append(
                                                {
                                                    "id": ci.id,
                                                    "name": "checkbox-answer",
                                                    "label": {
                                                        "text": survey.surveyRef + ' ' + ci.file_name|string + ' eQ'
                                                    },
                                                    "value": ci.id
                                                }
                                            ) %}
                                        {% endfor %}
                                        {% do checkboxesData | setAttribute("checkboxes", checkboxData) %}
                                        {{ onsCheckboxes(checkboxesData) }}
                                        <div class="ons-u-mt-s">
                                            {{
                                                onsButton({
                                                    "text": "Add",
                                                    "id": "btn-add-ci",
                                                    "name": "select-ci",
                                                })
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <div>
                                <p>This survey type is an EQ but no collection instruments have been set up for it yet.</p>
                                {% if surveyEditPermission %}
                                    <p><a href="{{ url_for('surveys_bp.get_link_collection_instrument', short_name=survey.shortName) }}" class="ons-btn ons-btn--secondary ons-btn--small"><span class="ons-btn__inner">Link collection instruments</span></a></p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="ons-u-mb-m">
                        {% if eq_ci_selectors %}
                            {% set surveyTableData = {
                                "variants": 'compact',
                                "id": "collection-instruments-table",
                                "caption": 'eQ collection instruments available:'
                            } %}
                            {% set surveyTableDataRows = [] %}
                            {% for ci in eq_ci_selectors %}
                                {% do surveyTableDataRows.append(
                                    {
                                        "tds": [
                                            {
                                                "value": survey.surveyRef + ' ' + ci.file_name|string + ' eQ'
                                            }
                                        ]
                                    }
                                ) %}
                            {% endfor %}
                            {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
                            {{ onsTable(surveyTableData) }}
                        {% else %}
                            <div>
                                <p>This survey type is an EQ but no collection instruments have been set up for it yet.</p>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            {% include 'collection_exercise/ce-select-eq-version.html' %}
            {% if locked %}
                <div class="ons-grid__col">
                    {{
                        onsButton({
                            "text": "Done",
                            "id": "btn-option-done",
                            "classes": "ons-u-mt-l",
                            "submitType": "timer",
                            "url": url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=ce.exerciseRef),
                            "noIcon": "true"
                        })
                      }}
                </div>
            {% endif %}
        {% endif %}
</section>
