<section class="ce-section ce-events">
    {% set surveyEditPermission = hasPermission('surveys.edit') %}  
    {% set surveyTableData = { 
        "variants": 'compact',
        "caption": 'Dates for this collection exercise', 
        "hideCaption": true,
        "ths":
            [ 
                {  
                    "value": "Event",
                    "class": "ons-u-vh" 
                }, 
                { 
                    "value": "Date",
                    "class": "ons-u-vh"
                }, 
                { 
                    "value": "Status",
                    "class": "ons-u-vh"
                } if surveyEditPermission else 
                    [ 
                        {  
                            "value": "Event",     
                            "class": "ons-u-vh" 
                        }, 
                        { 
                            "value": "Date", 
                            "class": "ons-u-vh" 
                        }
                    ]
            ]
    } %}

    {% set surveyTableDataRows = [] %}
    {% set dateGroups = ['mps', 'go_live', 'return_by', 'reminder', 'reminder2', 'reminder3', 'exercise_end'] %}
    {% for dateGroup in dateGroups %}
        {% set label = '' %}
        {% set eventIsInFuture = False %}
        {% if dateGroup == 'mps' %}
            {% set label = 'MPS (Main print selection)' %}
            {% set event = events.mps %}
            {% set name = 'mps-date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
            {% endif %}
        {% elif dateGroup == 'go_live' %}
            {% set label = 'Go live' %}
            {% set event = events.go_live %}
            {% set name = 'go-live-date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
            {% endif %}
        {% elif dateGroup == 'return_by' %}
            {% set label = 'Return by' %}
            {% set event = events.return_by %}
            {% set name = 'return-by-date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
            {% endif %}
        {% elif dateGroup == 'reminder' %}
            {% set label = 'First reminder' %}
            {% set event = events.reminder %}
            {% set name = 'first-reminder-date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
            {% endif %}
        {% elif dateGroup == 'reminder2' %}
            {% set event = events.reminder2 %}
            {% if events.reminder %}
                {% set showReminder = true %}
                {% set label = 'Second reminder' %}
                {% set name = 'second-reminder-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
            {% endif %}
        {% elif dateGroup == 'reminder3' %}
            {% set event = events.reminder3 %}
            {% if events.reminder2 %}
                {% set showReminder = true %}
                {% set label = 'Third reminder' %}
                {% set name = 'third-reminder-date' %}
            {% endif %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
            {% endif %}
        {% elif dateGroup == 'exercise_end' %}
            {% set label = 'Exercise end' %}
            {% set event = events.exercise_end %}
            {% set name = 'exercise-end-date' %}
            {% if event %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
            {% endif %}
        {% endif %}

        {% if surveyEditPermission %}
          {% if not event %}
              {% set formData = {
                  "action": url_for('collection_exercise_bp.get_create_collection_event_form', short_name=survey.shortName, period=ce.exerciseRef, ce_id=ce.id, tag=dateGroup),
                  "method": 'get',
                  "button": {
                      "text": 'Add',
                      "id": 'create-event-date-' + dateGroup,
                      "classes": 'ons-btn--secondary ons-btn--small'
                  }
              } %}
          {% elif not locked or eventIsInFuture %}
              {% set formData = {
                  "action": url_for('collection_exercise_bp.update_event_date', short_name=survey.shortName, period=ce.exerciseRef, tag=dateGroup, errors=None if event == events.reminder),
                  "method": 'get',
                  "button": {
                      "text": 'Edit',
                      "id": 'edit-event-date-' + dateGroup,
                      "classes": 'ons-btn--secondary ons-btn--small'
                  }
              } %}
          {% endif %}
        {% endif %}
        {% if label %}
            {% do surveyTableDataRows.append(
                {
                    "tds": [
                        {
                            "value": label
                        },
                        {
                            "value": eventDay + ' <em>' + eventDate + '</em> ' + eventTime if event,
                            "class": "ons-u-ta-right",
                            "name": name
                        },
                        {
                            "form": formData,
                            "class": "ons-u-ta-right"
                        }
                    ]
                }
            ) %}
        {% endif %}
    {% endfor %}

    {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}

    {{
        onsTable(surveyTableData)
    }}

</section>
