{% extends "layouts/base.html" %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/upload/_macro.njk" import onsUpload %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/selected_ci_functions.min.js') }}"></script>
{% endblock %}

{% set page_title = survey.surveyRef + " " + survey.shortName + " " + ce.exerciseRef + " | Surveys" %}
{% set surveyEditPermission = hasPermission('surveys.edit') %}

{% block main %}
    {% include 'collection_exercise/ce-success-panel.html' %}
    {% include 'collection_exercise/ce-info-panel.html' %}
    {% include 'partials/flashed-messages.html' %}
    <h1 class="ons-u-fs-m ons-u-lighter" name="page-survey-subtitle">{{ survey.longName }} | {{ ce.exerciseRef }}</h1>
    <h1 class="ons-u-mb-xxl" name="page-survey-title" >Collection instruments step 1 of 2</h1>
    {% if cir_enabled %}
        {% if not locked and surveyEditPermission %}
            <p>
              A collection instrument is only created once both an EQ formtype and a CIR version are selected.<br>
              Each formtype requires a CIR version.
            </p>
        {% endif %} 
    {% endif %}
    <div class="ons-grid ons-grid--gutterless">
        {% if survey.surveyMode not in ("EQ_AND_SEFT", "EQ") %}
          {% include 'collection_exercise/ce-handle-errors.html' %}
          {% include 'partials/error-box.html' %}
          <h1 name="page-ce-title">Load collection instruments</h1>
        {% endif %}
        <div class="ons-grid__col ons-col-7@l">
            <section class="ce-section {{'ons-panel ons-panel--simple ons-panel--error' if missing_ci else ''}}">
                {% set surveyEditPermission = hasPermission('surveys.edit') %}
                {% if not locked and surveyEditPermission %}
                  {% include 'partials/ce-collection-instrument-eq-section-error-messages.html' %}
                  {% include 'collection_exercise/ce-add-eq-ci.html' %}
                  {% include 'collection_exercise/ce-collection-instrument-eq-section.html' %}
                {% else %}
                  {% include 'collection_exercise/ce-collection-instrument-eq-section-redacted.html' %}
                {% endif %} 
            </section>
        </div>
    </div>
{% endblock %}

