
<h1 name="page-ce-title">{{survey.shortName}} {{ce.exerciseRef}}</h1>
{{ 
    onsMetadata({
    "metadataLabel": survey.longName + "information",
    "termCol": "1",
    "descriptionCol": "11",
    "itemsList": [
        {
            "term": "Status:",
            "descriptions": [ 
                {
                    "description": ce.state,
                    "id": "ce_status"
                }
            ]
        },
        {
            "term": "Report:" if ce.state|upper == "LIVE",
            "descriptions": [ 
                {
                    "description": '<a href="' + url_for('collection_exercise_bp.response_chasing', ce_id=ce.id, survey_id=survey.id) + '"><svg class="svg-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false"><path d="M0 0h24v24H0z" fill="none"/><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>Response chasing</a>' if ce.state|upper == "LIVE",
                    "id": "ce_status"
                }                
            ]
        }                                                    
    ]
    }) 
}}
{% if show_set_live_button %}
    <form id="form-ready-for-live" action="" class="form u-mb-l" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{
            onsButton({
                "text": "Set as ready for live",
                "id": "btn-ready-for-live",
                "name": "ready-for-live"
            })
        }}    
    </form>
    <script{% if csp_nonce %} nonce="{{ csp_nonce() }}" {% endif %}>
    document.getElementById("form-ready-for-live").addEventListener('submit', function () {
      if(!confirm('This action cannot be undone.  Press OK to continue\, or Cancel to go back.')) {
        event.preventDefault();
      }
    });</script>
{% endif %}
