
<h1 name="page-ce-title">{{survey.shortName}} {{ce.exerciseRef}}</h1>
{{ 
    onsMetadata({
    "metadataLabel": survey.longName + "information",
    "termCol": "1",
    "descriptionCol": "11",
    "itemsList": [
        {
            "term": "Status:",
            "descriptions": [ 
                {
                    "description": ce.state,
                    "id": "ce_status"
                }
            ]
        },
        {
            "term": "Report:" if ce.state|upper == "LIVE",
            "descriptions": [ 
                {
                    "description": '<a class="download-csv" href="' + url_for('collection_exercise_bp.response_chasing', ce_id=ce.id, survey_id=survey.id) + '">Response chasing</a>' if ce.state|upper == "LIVE",
                    "id": "ce_status"
                }                
            ]
        }                                                    
    ]
    }) 
}}
{% if show_set_live_button %}
    <form id="form-ready-for-live" action="" class="form u-mb-l" method="post" enctype="multipart/form-data">
        {{
            onsButton({
                "text": "Set as ready for live",
                "id": "btn-ready-for-live",
                "name": "ready-for-live",
                "listeners": {
                    "click": "return confirm('This action cannot be undone.  Press OK to continue\, or Cancel to go back.')"
                }
            })
        }}    
    </form>
{% endif %}
