{#- Display processing or error panel if validation failed #}
{% if processing %}
    {% call
        onsPanel({
            "classes": "ons-u-mb-s",
            "id": "processing-info"
        })
    %}
        Processing collection exercise – <a id="a-processing-refresh" href="">refresh to see progress</a>
    {% endcall %}
{% elif validation_failed %}
    {% call
        onsPanel({
            "type": "error",
            "classes": "ons-u-mb-s",
            "id": "validation-error"
        })
    %}
        Error processing collection exercise
        {% if missing_ci %}
            <div id="collection-instrument-error">
            <a href="#ciFile">Check collection instruments</a>
        </div>
        {% endif %}
    {% endcall %}
{% endif %}

{# Display header message if section header #}
{% if error['section'] == 'head' %}
    {% call
        onsPanel({
            "type": "error",
            "classes": "ons-u-mb-s",
            "id": "validation-error",
            "title": error['header']
        })
    %}
        {{ error['message'] }}
    {% endcall %}
{% endif %}

{# Show state message panels #}
{% if sample and show_msg == 'true' %}
    {% if sample.state == 'INIT' %}
        {% call
            onsPanel({
                "classes": "ons-u-mb-s"
            })
        %}
            Loading sample (sample_count.currentTotal / sample_count.expectedTotal) &hellip; <span class="ons-u-ml-xs"><a href="/surveys/{{survey.shortName}}/{{ce.exerciseRef}}/view-sample-ci?show_msg=true">Refresh to see progress</a>
        {% endcall %}
    {% elif sample.state == 'ACTIVE' %}
        {% call
            onsPanel({
                "type": "success",
                "iconType": "check",
                "classes": "ons-u-mb-s",
                "id": "sample-success"
            })
        %}
            Sample loaded successfully
        {% endcall %}
    {% elif sample.state == 'FAILED' %}
        {% call
            onsPanel({
                "type": "error",
                "classes": "ons-u-mb-s"
            })
        %}
            Error loading sample <span class="ons-u-ml-xs"><a href="#section-sample">See error details</a></span>
        {% endcall %}
    {% endif %}
{% endif %}
