<section class="ce-section ce-details ons-u-mb-l">
    <h2 class="ons-u-fs-r--b ons-u-pt-m">Collection exercise information</h2>
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {% if surveyEditPermission %}
        {% set tblHeaders =  
            [ 
                {  
                    "value": "",
                    "thClasses": "ons-u-vh"
                }, 
                { 
                    "value": "",
                    "thClasses": "ons-u-vh"
                }, 
                { 
                    "value": "",
                    "thClasses": "ons-u-vh"
                }
            ]
        %}
    {% else %}
        {% set tblHeaders =  
            [ 
                {  
                    "value": "",
                    "thClasses": "ons-u-vh" 
                }, 
                { 
                    "value": "",
                    "thClasses": "ons-u-vh"
                }
            ]
        %}
    {% endif %}
    {% set surveyTableData = {
        "variants": ['compact', 'responsive'],
        "id": 'tbl-ce-details',
        "caption": 'Dates for this collection exercise',
        "hideCaption": true,
        "ths": tblHeaders,
        "tableClasses": "ce-dates-table"
    } %}


    {% set surveyTableDataRows = [] %}
    {% set dateGroups = ['periodId', 'user', 'ref_period_start', 'ref_period_end', 'employment'] %}

    {% for dateGroup in dateGroups %}
        {% if dateGroup == 'periodId' %}
            {% set label = 'Period ID' %}
            {% set id = 'periodId' %}
            {% set event = ce.exerciseRef %}
            {% set editable = true %}
            {% set value = 'ID' %}
        {% elif dateGroup == 'user' %}
            {% set label = 'Reporting dates' %}
            {% set id = 'user-description' %}
            {% set event = ce.userDescription %}
            {% set editable = true %}
            {% set value = 'dates' %}
        {% elif dateGroup == 'ref_period_start' %}
            {% set id = 'period-start-date' %}
            {% set label = 'Reference period start date' %}
            {% if events.ref_period_start %}
                {% set event = events.ref_period_start.day + ' ' + events.ref_period_start.date %}
            {% endif %}
            {% set editable = true %}
            {% set value = 'start date' %}
        {% elif dateGroup == 'ref_period_end' %}
            {% set id = 'period-end-date' %}
            {% set label = 'Reference period end date' %}
            {% if events.ref_period_end %}
                {% set event = events.ref_period_end.day + ' ' + events.ref_period_end.date %}
            {% endif %}
            {% set editable = true %}
            {% set value = 'end date' %}
        {% elif dateGroup == 'employment' %}
            {% set id = 'employment-date' %}
            {% set label = 'Employment date' %}
            {% if events.employment %}
                {% set event = events.employment.day + ' ' + events.employment.date %}
            {% endif %}
            {% set editable = true %}
            {% set value = ' date' %}
        {% endif %}

        {% if surveyEditPermission %}
            {% if (not locked) and (dateGroup == 'periodId') %}
                {% set hyperlink = '<a href="' + url_for("collection_exercise_bp.view_collection_exercise_details", short_name=survey.shortName, period=ce.exerciseRef, surveyRef=survey.surveyRef) + '" id="' + 'edit-event-date-' + id + '">' + 'Edit '+ value + '</a>' %}
            {% endif %}
            {% if (not locked) and (dateGroup == 'user') %}
                {% set hyperlink = '<a href="' + url_for("collection_exercise_bp.view_collection_exercise_details", short_name=survey.shortName, period=ce.exerciseRef, surveyRef=survey.surveyRef) + '" id="' + 'edit-event-date-' + id + '">' + 'Edit '+ value + '</a>' %}
            {% endif %}
            {% if not event and (dateGroup != 'periodId' and dateGroup != 'user') and editable %}
                {% set hyperlink = '<a href="' + url_for("collection_exercise_bp.get_create_collection_event_form", short_name=survey.shortName, ce_id=ce.id, period=ce.exerciseRef, tag=dateGroup) + '" id="' + 'add-event-date-' + id + '">' + 'Add '+ value + '</a>' %}
            {% elif editable and (dateGroup != 'periodId' and dateGroup != 'user') %}
                {% set hyperlink = '<a href="' + url_for("collection_exercise_bp.update_event_date", short_name=survey.shortName, period=ce.exerciseRef, tag=dateGroup) + '" id="' + 'edit-event-date-' + id + '">' + 'Edit '+ value + '</a>' %}
            {% endif %}
        {% endif %}

        
        {% do surveyTableDataRows.append(
            {
                "tds": [
                    {
                        "value": label,
                    },
                    {
                        "value": event if event,
                        "name": id,
                    },
                    {
                        "value": hyperlink,
                        "tdClasses": "ons-u-ta-right"
                    } if surveyEditPermission else
                        [ 
                            {
                                "value": label,
                            },
                            {
                                "value": event if event,
                                "name": id,
                            }
                        ]
                ]
            }
        ) %}

    {% endfor %}

    {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}

    {{
        onsTable(surveyTableData)
    }}

</section>
