<section class="ce-section ce-details ons-u-mb-l">
    <h2 class="ons-u-fs-r--b ons-u-pt-m">Collection exercise information</h2>
    {% set ceInfoHeaders =
        [ 
            {  
                "value": "Event",
                "thClasses": "ons-u-vh" 
            }, 
            { 
                "value": "Date",
                "thClasses": "ons-u-vh"
            }
        ]
    %}
    
    {% if has_edit_permission %}
        {% do ceInfoHeaders.append({"value": "Action", "thClasses": "ons-u-vh" })%}
    {% endif %}
    
    {% set ceInfoTableData = {
        "variants": ['compact', 'responsive'],
        "id": 'tbl-ce-details',
        "caption": 'Dates for this collection exercise',
        "hideCaption": true,
        "ths": ceInfoHeaders,
        "tableClasses": "ce-overview-table"
    } %}
    
    {% set ceInfoTableDataRows = [] %}
    
    {% for event in context["ce_info"].values() %}
        {% set ceInfoTds = [{"value": event["label"]}, {"value": event["text"]}]%}
    
        {% if "hyperlink" in event %}
            {% do ceInfoTds.append({
                "value": '<a href="'+ event["hyperlink"] + '" id="'+ event["hyperlink_id"] + '">' + event["hyperlink_text"]+'</a>',
                "tdClasses": "ons-u-ta-right"}) %}
        {% elif has_edit_permission %}
            {% do ceInfoTds.append({}) %}
        {% endif %}
    
        {% do ceInfoTableDataRows.append({"tds": ceInfoTds })%}
    
    {% endfor %}
    
    {% do ceInfoTableData | setAttribute("trs", ceInfoTableDataRows) %}
    {{ onsTable(ceInfoTableData) }}
</section>
