<section class="ce-section {{'panel panel--simple panel--error' if missing_ci else ''}}">
  <h2 class="u-fs-r--b u-pt-m">Collection instruments ({{ collection_instruments | length }})</h2>
  {% if survey.surveyMode == 'SEFT' %}
    {% if collection_instruments %}
      {% set surveyTableData = {
        "table_class": 'table--dense',
        "id": "collection-instruments-table",
        "caption": 'Sample details for this collection exercise',
        "hideCaption": true,
        "ths": [
          { 
              "value": "Collection instrument",
              "class": "u-vh"
          }
        ]
      }
    %}
    {% set surveyTableDataRows = [] %}
    {% for collection_instrument in collection_instruments %}
      {% do surveyTableDataRows.append(
        {
          "tds": [
            {
              "value": collection_instrument.file_name
            }
          ]
        }
      ) %}
    {% endfor %}
    {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
    {{ onsTable(surveyTableData) }}
    {% if ce.state|upper != "LIVE" and ce.state|upper != "READY FOR LIVE" and ce.state|upper != "SETTING READY FOR LIVE" %}
      <p class="field u-mt-l">
        <a href="{{ url_for('collection_exercise_bp.get_seft_collection_instrument', period=ce.exerciseRef, short_name=survey.shortName.replace(' ', '')) }}"
          role="button" class="btn btn--secondary" id="btn-mng-seft-ci"><span class="btn__inner">Manage collection instruments</span></a>
      </p>
    {% endif %}
    {% elif not collection_instruments %}
      {% if not ce.state|upper == "LIVE" %}
        <p class="field u-mt-l">
          <a href="{{ url_for('collection_exercise_bp.get_seft_collection_instrument', period=ce.exerciseRef, short_name=survey.shortName.replace(' ', '')) }}"
            role="button" class="btn btn--secondary" id="btn-load-seft-ci"><span class="btn__inner">Load collection instruments</span></a>
        </p>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if survey.surveyMode != 'SEFT' %}
    {% if collection_instruments %}
      {% set surveyTableData = {
          "table_class": 'table--dense',
          "id": "collection-instruments-table",
          "caption": 'Sample details for this collection exercise',
          "hideCaption": true,
          "ths": [
            {
                "value": "Collection instrument",
                "class": "u-vh"
            }
          ]
        }
      %}
      {% set surveyTableDataRows = [] %}
      {% for collection_instrument in collection_instruments %}
        {% if not locked %}
          {% set formData =
            '<form id="form-unselect-ci-' + loop.index|string + '" action="" method="post">' +
            '<a class="remove-icon" href=# id="unlink-ci-' + loop.index|string + '"></a>' +
            '<input type="hidden" name="ce_id" value="' + ce.id + '">' +
            '<input type="hidden" name="ci_id" value="' + collection_instrument.id + '">' +
            '<input type="hidden" name="unselect-ci">' +
            '<input type="hidden" name="csrf_token" value="' + csrf_token() + '"/>' +
            '</form>'
          %}
        {% endif %}
        {% do surveyTableDataRows.append(
          {
            "tds": [
              {
                "value": collection_instrument.file_name
              },
              {
                "value": formData,
                "class": "u-ta-right"
              }
            ]
          }
        ) %}
      {% endfor %}
      {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
      {{ onsTable(surveyTableData) }}
      {% for i in range(surveyTableDataRows | length) %}
        {% set j = i + 1 %}
        {% if not locked %}
          <script{% if csp_nonce %} nonce="{{ csp_nonce() }}" {% endif %}>
          document.getElementById("unlink-ci-{{ j }}").addEventListener('click', function () {
            this.parentNode.submit()
          });</script>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if not locked %}
    <div class="u-mb-m">
      {% if eq_ci_selectors %}
      {% set checkboxesData = {
        "name": "checkbox-answer",
        "legend": "eQ collection instruments available:"
      } %}

      {% set checkboxData = [] %}

      <form id="form-select-ci" action="" class="form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div id="ciSelectErrorPanel"
          class="{{'panel panel--simple panel--error' if error.section == 'ciSelect' else ''}}">
          <div id="ciSelectErrorPanelBody" class="{{'panel__body' if error.section == 'ciSelect' else ''}}">
            <input type="hidden" name="ce_id" value="{{ ce.id }}">
            {% for ci in eq_ci_selectors %}
              {% do checkboxData.append(
                  {
                    "id": ci.id,
                    "name": "checkbox-answer",
                    "label": {
                        "text": survey.surveyRef + ' ' + ci.file_name|string + ' eQ'
                    },
                    "value": ci.id
                  }
                ) %}
            {% endfor %}
            {% do checkboxesData | setAttribute("checkboxes", checkboxData) %}
            {{ onsCheckboxes(checkboxesData) }}
            <p class="field u-mt-s">
            {{
              onsButton({
                "text": "Add",
                "id": "btn-add-ci",
                "classes": "btn--large",
                "name": "select-ci",
              })
            }}
          </div>
        </div>

      </form>
      {% else %}
        <div>
          <p>This survey type is an EQ but no collection instruments have been set up for it yet.</p>
          <p><a href="{{ url_for('surveys_bp.get_link_collection_instrument', short_name=survey.shortName) }}" class="btn btn--secondary btn--small"><span class="btn__inner">Link collection instruments</span></a></p>
        </div>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}
</section>
