<section class="ce-section ce-events">
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {% set surveyTableData = {
        "variants": 'compact',
        "caption": 'Nudge emails for this collection exercise',
        "hideCaption": true,
        "ths":
            [
                {
                    "value": "Event",
                    "thClasses": "ons-u-vh"
                },
                {
                    "value": "Date",
                    "thClasses": "ons-u-vh"
                },
                {
                    "value": "Status",
                    "thClasses": "ons-u-vh"
                } 
            ]
    } %}
    {% if (events.nudge_email_0) or (events.nudge_email_1) or (events.nudge_email_2) or (events.nudge_email_3) or (events.nudge_email_4) or (events.nudge_email_5) %}
        <h2 class="ons-u-fs-r--b ons-u-pt-m">Nudge emails</h2>
    {% endif %}
    {% set surveyTableDataRows = [] %}
    {% set ns = namespace (seqlabel = '') %}
    {% set ns = namespace (seqnum = 0) %}
    {% for nudgeGroup in existing_nudge %}
        {% set label = '' %}
        {% if ns.seqnum == 0 %}
            {% set ns.seqlabel = 'First nudge email' %}
        {% elif ns.seqnum == 1 %}
            {% set ns.seqlabel = 'Second nudge email' %}
        {% elif ns.seqnum == 2 %}
            {% set ns.seqlabel = 'Third nudge email' %}
        {% elif ns.seqnum == 3 %}
            {% set ns.seqlabel = 'Fourth nudge email' %}
        {% elif ns.seqnum == 4 %}
            {% set ns.seqlabel = 'Fifth nudge email' %}
        {% endif %}
        {% set eventIsInFuture = False %}
        {% if nudgeGroup == 'nudge_email_0' %}
            {% set event = events.nudge_email_0 %}
            {% if event %}
                {% set showNudge = true %}
                {% set label = ns.seqlabel %}
                {% set name = ns.seqlabel %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set ns.seqnum = ns.seqnum + 1 %}
            {% endif %}
        {% elif nudgeGroup == 'nudge_email_1' %}
            {% set event = events.nudge_email_1 %}
            {% if event %}
                {% set showNudge = true %}
                {% set label = ns.seqlabel %}
                {% set name = ns.seqlabel %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set ns.seqnum = ns.seqnum + 1 %}
            {% endif %}
        {% elif nudgeGroup == 'nudge_email_2' %}
            {% set event = events.nudge_email_2 %}
            {% if event %}
                {% set showNudge = true %}
                {% set label = ns.seqlabel %}
                {% set name = ns.seqlabel %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set ns.seqnum = ns.seqnum + 1 %}
            {% endif %}
        {% elif nudgeGroup == 'nudge_email_3' %}
            {% set event = events.nudge_email_3 %}
            {% if event %}
                {% set showNudge = true %}
                {% set label = ns.seqlabel %}
                {% set name = ns.seqlabel %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set ns.seqnum = ns.seqnum + 1 %}
            {% endif %}
        {% elif nudgeGroup == 'nudge_email_4' %}
            {% set event = events.nudge_email_4 %}
            {% if event %}
                {% set showNudge = true %}
                {% set label = ns.seqlabel %}
                {% set name = ns.seqlabel %}
                {% set eventDay = event.day %}
                {% set eventDate = event.date %}
                {% set eventTime = event.time %}
                {% set eventIsInFuture = event.is_in_future %}
                {% set ns.seqnum = ns.seqnum + 1 %}
            {% endif %}
        {% endif %}
        {% if surveyEditPermission %}
          {% if not locked or eventIsInFuture %}
              {% set formData = {
                  "action": url_for('collection_exercise_bp.update_event_date', short_name=survey.shortName, period=ce.exerciseRef, tag=nudgeGroup, errors=None),
                  "method": 'get',
                  "button": {
                      "text": 'Edit',
                      "id": 'edit-event-date-' + nudgeGroup,
                      "classes": 'ons-btn--secondary ons-btn--small'
                  }
              } %}
          {% endif %}
        {% endif %}
        {% if label %}
            {% do surveyTableDataRows.append(
                {
                "tds": 
                    [
                        {
                            "value": label
                        },
                        {
                            "value": eventDay + ' <em>' + eventDate + '</em> ' + eventTime if event,
                            "tdClasses": "ons-u-ta-right",
                            "name": name
                        },
                        {
                            "form": formData,
                            "tdClasses": "ons-u-ta-right"
                        }
                    ]
                }
            ) %}
        {% endif %}
    {% endfor %}
    {% set nudge = '' %}
    {% if not events.nudge_email_0 %}
        {% set nudge = 'nudge_email_0' %}
    {% elif not events.nudge_email_1 %}
        {% set nudge = 'nudge_email_1' %}
    {% elif not events.nudge_email_2 %}
        {% set nudge = 'nudge_email_2' %}
    {% elif not events.nudge_email_3 %}
        {% set nudge = 'nudge_email_3' %}
    {% elif not events.nudge_email_4%}
        {% set nudge = 'nudge_email_4' %}
    {% endif %}
    {% if ( (events.go_live) and (events.return_by) and (nudge) ) %} 
        {% if surveyEditPermission %}
            {% set formData = {
                "action": url_for('collection_exercise_bp.get_create_collection_event_form', short_name=survey.shortName, period=ce.exerciseRef, ce_id=ce.id, tag=nudge),
                "method": 'get',
                "button": {
                    "text": 'Schedule nudge email',
                    "id": 'create-event-date-' + nudge,
                    "classes": 'ons-btn--secondary ons-btn--small'
                }
            } %}
            {% if nudge %}
                {% do surveyTableDataRows.append(
                    {
                        "tds": [
                            {
                                "form": formData,
                                "tdClasses": "ons-u-ta-left"
                            }
                        ]
                    }
                ) %}
            {% endif %}
        {% endif %}
    {% elif ( (events.go_live) and (events.return_by) ) %}
        {% call
            onsPanel({
                "type": "info",
                "classes": "ons-u-mb-l"
            })
        %}
            <p class="ons-u-fs-r">You cannot schedule any new nudge emails</p>
        {% endcall %}
    {% endif %}
    {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}

    {{
        onsTable(surveyTableData)
    }}

</section>
