<section id="section-sample" class="ce-section">
    <h1 class="ons-u-fs-r--b ons-u-pt-m">Sample</h1>
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {% if sample %}
        {% if 'ACTIVE' == sample.state %}
            {{
                onsTable({
                    "variants": 'compact',
                    "id": "sample-table",
                    "caption": 'Loaded sample summary',
                    "hideCaption": true,
                    "ths": [
                        { 
                            "value": "Sample label",
                            "thClasses": "ons-u-vh"
                        },
                        {
                            "value": "Sample number",
                            "thClasses": "ons-u-vh"
                        }
                    ],
                    "trs": [
                        {
                            "tds": [
                                {
                                    "value": "Total businesses"
                                },
                                {
                                    "value": sample.totalSampleUnits,
                                    "name": "total-businesses"
                                }
                            ]
                        },
                        {
                            "tds": [
                                {
                                    "value": "Collection instruments"
                                },
                                {
                                    "value": sample.expectedCollectionInstruments,
                                    "name": "total-ci"
                                }
                            ]
                        }
                    ]
                })
            }}

            <p>Sample loaded: {{ sample.ingestDateTime }}
                {% if not locked and surveyEditPermission%}
                    <a class="ons-u-ml-xs" id="remove_sample_btn_1" href="{{ url_for('collection_exercise_bp.get_confirm_remove_sample', short_name=survey.shortName, period=ce.exerciseRef) }}">Remove</a>
                {% endif %}
            </p>
        {% elif 'INIT' == sample.state %}
            <div class="ons-u-mb-xl">
                <div class="ons-u-fs-r">
                    Loading&hellip; <span class="ons-u-ml-xs"><a href="/surveys/{{survey.shortName}}/{{ce.exerciseRef}}?show_msg=true">Refresh to see progress</a></span>
                </div>
            </div>
        {% elif 'FAILED' == sample.state %}
            <div class="ons-u-mb-xl">
                {% call
                    onsPanel({
                        "type": "error",
                        "classes": "ons-u-mb-l"
                    })
                %}
                    {{ sample.notes }}
                {% endcall %}
                {% if not locked and surveyEditPermission %}
                    <a class="ons-u-ml-xs" id="remove_sample_btn_2" href="{{ url_for('collection_exercise_bp.get_confirm_remove_sample', short_name=survey.shortName, period=ce.exerciseRef) }}">Remove</a>
                {% endif %}
            </div>
        {% endif %}
    {% elif not locked %}
        <div class="ons-u-mb-m">
            <form id="form-load-sample"
                method="post"
                action=""
                class="form"
                enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <p>Choose a sample file to check details before loading</p>
                {% if surveyEditPermission %}
                    {{-
                        onsUpload({
                            "id": "sampleFile",
                            "name": "sampleFile",
                            "listeners": {
                            "change": "readCSV.handleFiles(this.files, ['FORM_TYPE'])"
                            },
                            "accept": ".csv",
                            "label": {
                                "classes": "ons-u-vh",
                                "text": "Choose file"
                            }
                        })
                    -}}
                    <div id="sample-preview" class="ons-u-mb-s"></div>
                    {{
                        onsButton({
                            "text": "Check sample contents",
                            "id": "btn-check-sample-contents",
                            "classes": "ons-btn--small ons-btn--disabled",
                            "attributes": {
                                "disabled": "true"
                            }
                        })
                    }}
                    {{
                        onsButton({
                            "text": "Load sample",
                            "id": "btn-load-sample",
                            "name": "load-sample",
                            "classes": "hidden ons-btn--small ons-button--loader",
                            "listeners": {
                                "click": "readCSV.handleFileUpload()"
                            }
                        })
                    }}
                    {{
                        onsButton({
                            "text": "Cancel",
                            "classes": "hidden ons-btn--secondary ons-btn--small",
                            "id": "btn-cancel-load-sample",
                            "listeners": {
                                "click": "readCSV.cancelLoadSample()"
                            }
                        })
                    }}
                {% endif %}
            </form>
        </div>
    {% endif %}
</section>
