{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/question/_macro.njk" import onsQuestion %}

<section class="ce-section ce-details">
    <h2 class="ons-u-fs-r--b ons-u-pt-m">Select eQ version</h2>
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
        {% if surveyEditPermission %}  
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {% if locked %}
                    {% set attr = ({"disabled":"true"}) %}
                {% else %}
                    {% set attr = ({}) %}
                {% endif %}
                {{
                    onsRadios({
                        "legend": "Choose an option",
                        "id": "eq-version",
                        "name": "eq-version",
                        "borderless": true,
                        "radios": [
                            {
                                "id": "v2",
                                "label": {
                                    "text": "eQ version 2"
                                },
                                "value": "v2",
                                "checked": true if not ce.eqVersion or ce.eqVersion=="v2" else false,
                                "attributes": attr
                            },
                            {
                                "id": "v3",
                                "label": {
                                    "text": "eQ version 3"
                                },
                                "value": "v3",
                                "checked": true if ce.eqVersion and ce.eqVersion=="v3" else false,
                                "attributes": attr
                            }
                        ]
                    })
                }}
                {% if not locked %}
                    {{
                        onsButton({
                            "text": "Done",
                            "id": "btn-option-done",
                            "type": "submit",
                            "classes": "ons-u-mt-l",
                            "submitType": "timer",
                        })
                    }}
                {% endif %}
            </form>
        {% else %}
            {% if not ce.eqVersion %}
              <p>No eQ version selected</p>
            {% else %}
              <em>eQ version {{ce.eqVersion|replace("v", "")}} selected </em>
            {% endif %}
            <div class="ons-grid__col">
                {{
                    onsButton({
                        "text": "Done",
                        "id": "btn-option-done",
                        "classes": "ons-u-mt-l",
                        "submitType": "timer",
                        "url": url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=ce.exerciseRef),
                        "noIcon": "true"
                    })
                  }}
            </div>
        {% endif %}
</section>

