<section class="ce-section ce-details">
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {% set tblHeaders =  
        [ 
            { 
                "value": "Sample & Collection instruments (CI)",
                "thClasses": "ons-u-fs-r--b"
            }
        ]
    %}
  
    {% set surveyTableData = {
        "variants": ['compact', 'responsive'],
        "id": "sample-table",
        "caption": 'Sample summary',
        "hideCaption": true,
        "ths": tblHeaders,
    } %}
  
    {% if sample %}
        {% if sample.state == 'ACTIVE' or sample.state == 'COMPLETE' %}
            {% do tblHeaders.append(
                {
                    "value": "",
                    "thClasses": "ons-u-ta"
                }
             )%}
            {% do tblHeaders.append(
                {
                    "value": "Uploaded " + '<em>' + sample.ingestDateTime[:-8] + '</em>' + sample.ingestDateTime[-8:],
                    "thClasses": "ons-u-fs-r",
                    "numeric": "true"
                }
             )%}
            {% set surveyTableDataRows = [
                    {
                        "tds": [
                            {
                                "value": "Total businesses",
                                "tdClasses": "ons-u-ta"
                            },
                            {
                                "value": sample.totalSampleUnits,
                                "name": "total-instruments",
                                "tdClasses": "ons-u-ta-right"
                            },
                            {
                                "value": ' ',
                                "name": "upload-sample-time",
                            }
                        ]
                    },
                    {
                        "tds": [
                            {
                                "value": "Collection instruments",
                                "tdClasses": "ons-u-ta"
                            },
                            {
                                "value": sample.expectedCollectionInstruments,
                                "name": "total-instruments",
                                "tdClasses": "ons-u-ta-right"
                            },
                            {
                                "value": ' ',
                                "name": "upload-sample-time",
                            }
                        ]
                    }
                ] %}
            {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
        {% endif %}
    
        {{ onsTable(surveyTableData) }}
    
        {% if 'INIT' == sample.state %}
              <div class="ons-u-mb-m">
                  <div class="ons-u-fs-r">
                      Loading ({{ sample_count.currentTotal }} / {{ sample_count.expectedTotal }} loaded) &hellip; <span class="ons-u-ml-xs"><a href="/surveys/{{survey.shortName}}/{{ce.exerciseRef}}?show_msg=true">Refresh to see progress</a></span>
                  </div>
              </div>
        {% elif 'FAILED' == sample.state %}
             <div class="ons-u-mb-m">
                  {% call
                      onsPanel({
                          "type": "error",
                          "classes": "ons-u-mb-l"
                      })
                  %}
                      {{ sample.notes }}
                  {% endcall %}
              </div>
        {% endif %}
    {% else %}
        {{ onsTable(surveyTableData) }}
    {% endif %}
  
    {% if locked or (not surveyEditPermission) %}
        {% set sampleCiButtonText = 'View sample file & CI' %}
    {% else %}
        {% if not sample %}
            {% set sampleCiButtonText = 'Upload sample file & CI' %}
        {% else %}
            {% set sampleCiButtonText = 'Replace sample file & CI' %}
        {% endif %}
    {% endif %}
    {{
        onsButton({
            "text": sampleCiButtonText,
            "id": 'btn-sample-ci',
            "submitType": 'timer',
            "variants": ['secondary', 'small'],
            "url": url_for('collection_exercise_bp.get_view_sample_ci', short_name=survey.shortName, period=ce.exerciseRef),
            "noIcon": 'true'
        })
    }}
</section>
