<section class="ce-section ce-details ons-u-mb-l">
    <h2 class="ons-u-fs-r--b ons-u-pt-m">Sample file *</h2>
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {% set surveyTableData = {
        "variants": ['compact', 'responsive'],
        "id": "sample-table",
        "caption": 'Sample summary',
        "hideCaption": true,
    } %}
    {% if (not locked) and surveyEditPermission and (not 'INIT' == sample.state) %}
        {% if sample %}
          {% set addSampleLink = '<a href="' + url_for('collection_exercise_bp.get_confirm_remove_sample', short_name=survey.shortName, period=ce.exerciseRef)
             + '" id="btn-upload-sample-file">Replace sample file</a>' %}
        {% else %}
          {% set addSampleLink = '<a href="' + url_for('collection_exercise_bp.get_upload_sample_file', short_name=survey.shortName, period=ce.exerciseRef)
             + '" id="btn-upload-sample-file">Upload sample file</a>' %}
        {% endif %}
    {% else %}
        {% set addSampleLink = '' %}
    {% endif %}
    {% if sample %}
        {% if sample.state == 'ACTIVE' or sample.state == 'COMPLETE' %}
    
                       {% set surveyTableDataRows = [
                {
                    "tds": [
                        {
                            "value": "Total businesses"
                        },
                        {
                            "value": sample.totalSampleUnits,
                            "numeric": "true"
                        }
                    ]
                },
                {
                    "tds": [
                        {
                            "value": "Collection instruments needed"
                        },
                        {
                            "value": sample.expectedCollectionInstruments,
                            "numeric": "true"
                        }
                    ]
                },
                {
                    "tds": [
                        {
                            "value": "Sample loaded: " + '<em>' + sample_ingest_date_time[:-7] + '</em>' + sample_ingest_date_time[-7:]
                        },
                        {
                            "value": addSampleLink,
                            "tdClasses": "ons-u-ta-right"
                        }
                    ]
                }
            ] %}
            {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
            {{
                onsTable(surveyTableData)
            }}
        {% endif %}
        {% if 'INIT' == sample.state %}
          {% if sample_load_status %}
            {% set status = '(' ~ sample_load_status.currentTotal ~ ' / '  ~sample_load_status.expectedTotal ~ ' loaded) ' %}
          {% endif %}
              <div class="ons-u-mb-m">
                  <div class="ons-u-fs-r">
                      Loading {{ status }}… <span class="ons-u-ml-xs"><a href="/surveys/{{survey.shortName}}/{{ce.exerciseRef}}?show_msg=true">Refresh to see progress</a></span>
                  </div>
              </div>
        {% elif 'FAILED' == sample.state %}
            {% if error is none %}
                {% set sampleError = "Upload a new sample file" %}
            {% else %}
                {% set sampleError = error %}
            {% endif %}
            
            {% set surveyTableDataRows = [
                {                    
                    "tds": [
                        {
                            "value": sampleError
                        },
                        {
                            "value": addSampleLink,
                            "tdClasses": "ons-u-ta-right"
                        }
                    ]
                }
            ] %}
            {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
            {% call
                onsPanel({
                    "type": "error",
                    "classes": "ons-u-mb-l"
                })
            %}
            {{
                onsTable(surveyTableData)
            }}
            {% endcall %}
        {% endif %}
    {% else %}
        {% set surveyTableDataRows = [
            {
                "tds": [
                    {
                       "value": addSampleLink,
                       "tdClasses": "ons-u-ta-right"
                    }
                ]
            }
        ] %}
        {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
        {{
          onsTable(surveyTableData)
        }}
    {% endif %}
</section>
