<section class="ce-section ce-details">
    {% if sample %}
        {{
            onsTable({
                "variants": ['compact', 'responsive'],
                "id": "sample-table",
                "caption": 'Loaded sample summary',
                "hideCaption": true,
                "ths": [
                    { 
                        "value": "Sample",
                        "thClasses": "ons-u-fs-r--b"
                    },
                    {
                        "value": "",
                        "thClasses": "ons-u-ta"
                    },
                    {
                        "value": "Uploaded " + '<em>' + sample.ingestDateTime[:-8] + '</em>' + sample.ingestDateTime[-8:],
                        "thClasses": "ons-u-fs-r",
                        "numeric": "true"
                    },
                ],
                
                "trs": [
                    {
                        "tds": [
                            {
                                "value": "Total businesses",
                                "tdClasses": "ons-u-ta"
                            },
                            {
                                "value": sample.totalSampleUnits,
                                "name": "total-instruments",
                                "tdClasses": "ons-u-ta-right"
                            },
                            {
                                "value": ' ',
                                "name": "upload-seft-instruments",
                                "tdClasses": "ons-u-ta-right"
                            }
                        ]
                    },
                    {
                        "tds": [
                            {
                                "value": "Collection instruments",
                                "tdClasses": "ons-u-ta"
                            },
                            {
                                "value": sample.expectedCollectionInstruments,
                                "name": "total-instruments",
                                "tdClasses": "ons-u-ta-right"
                            },
                            {
                                "value": ' ',
                                "name": "upload-seft-instruments",
                                "tdClasses": "ons-u-ta-right"
                            }
                        ]
                    }
                ]
            })
        }}
    {% elif not sample %}
        {{
            onsTable({
                "variants": ['compact', 'responsive'],
                "id": "sample-table",
                "caption": 'Loaded sample summary',
                "hideCaption": true,
                "ths": [
                    { 
                        "value": "Sample & Collection instruments (CI)",
                        "thClasses": "ons-u-fs-r--b"
                    }
                ],
            })
        }}
    {% endif %}
    {% if (not sample) or (not collection_instruments) %}
        {{
            onsButton({
                "text": 'Upload sample file & CI',
                "id": 'btn-sample-ci',
                "submitType": 'timer',
                "variants": ['secondary', 'small'],
                "url": url_for('collection_exercise_bp.get_view_sample_ci', short_name=survey.shortName, period=ce.exerciseRef),
                "noIcon": 'true'
            })
        }}
    {% elif sample and collection_instruments %}
        {{
            onsButton({
                "text": 'Replace sample file & CI',
                "id": 'btn-sample-ci',
                "submitType": 'timer',
                "variants": ['secondary', 'small'],
                "url": url_for('collection_exercise_bp.get_view_sample_ci', short_name=survey.shortName, period=ce.exerciseRef),
                "noIcon": 'true'
            })
        }}
    {% endif %}
</section>
