{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% set page_title = survey.surveyRef + " " + survey.shortName + " " + ce.exerciseRef + " | Surveys" %}
{% block main %}
    {% include 'collection_exercise/ce-success-panel.html' %}
    {% include 'collection_exercise/ce-handle-errors.html' %}
    {% include 'collection_exercise/ce-info-panel.html' %}
    <h1 name="page-ce-title">Upload sample file</h1>
    {% set surveyEditPermission = hasPermission('surveys.edit') %}
    {% if sample %}
        {% if 'ACTIVE' == sample.state %}
            {{
                onsTable({
                    "variants": ['compact', 'responsive'],
                    "id": "sample-table",
                    "caption": 'Loaded sample summary',
                    "hideCaption": true,
                    "ths": [
                        { 
                            "value": "Sample label",
                            "thClasses": "ons-u-vh"
                        },
                        {
                            "value": "Sample number",
                            "thClasses": "ons-u-vh"
                        }
                    ],
                    "trs": [
                        {
                            "tds": [
                                {
                                    "value": "Total businesses"
                                },
                                {
                                    "value": sample.totalSampleUnits,
                                    "name": "total-businesses"
                                }
                            ]
                        },
                        {
                            "tds": [
                                {
                                    "value": "Collection instruments"
                                },
                                {
                                    "value": sample.expectedCollectionInstruments,
                                    "name": "total-ci"
                                }
                            ]
                        }
                    ]
                })
            }}

            <p>Sample loaded: {{ sample.ingestDateTime }}
            </p>
        {% elif 'INIT' == sample.state %}
            <div class="ons-u-mb-xl">
                <div class="ons-u-fs-r">
                    Loading… <span class="ons-u-ml-xs"><a href="/surveys/{{survey.shortName}}/{{ce.exerciseRef}}?show_msg=true">Refresh to see progress</a></span>
                </div>
            </div>
        {% elif 'FAILED' == sample.state %}
            <div class="ons-u-mb-xl">
                {% call
                    onsPanel({
                        "type": "error",
                        "classes": "ons-u-mb-l"
                    })
                %}
                    {{ sample.notes }}
                {% endcall %}
            </div>
        {% endif %}
        {{
            onsButton({
                "text": "Done",
                "id": "btn-upload-ci-done",
                "variants": primary,
                "name": "load-ci-done",
                "url": url_for('collection_exercise_bp.get_view_sample_ci', short_name=survey.shortName, period=ce.exerciseRef),
                "submitType": "timer",
                "noIcon": "true"
            })
        }}
    {% elif not locked %}
        <div class="ons-u-mb-m">
            {% if surveyEditPermission %}
                <form id="form-load-sample"
                    method="post"
                    action=""
                    class="form"
                    enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <p>Choose a sample file to check details before loading</p>
                    {{-
                        onsUpload({
                            "id": "sampleFile",
                            "name": "sampleFile",
                            "listeners": {
                            "change": "readCSV.handleFiles(this.files, ['FORM_TYPE'])"
                            },
                            "accept": ".csv",
                            "label": {
                                "classes": "ons-u-vh",
                                "text": "Choose file"
                            }
                        })
                    -}}
                    <div id="sample-preview" class="ons-u-mb-s"></div>
                    {{
                        onsButton({
                            "text": "Upload",
                            "id": "btn-upload-sample",
                            "name": "upload-sample",
                            "classes": "button--loader",
                            "variants": ['small'],
                            "listeners": {
                                "click": "readCSV.handleFileUpload()"
                            },
                            "attributes": {
                                "disabled": "true"
                            }
                        })
                    }}
                    {{
                        onsButton({
                            "text": "Cancel",
                            "variants": ['secondary', 'small'],
                            "id": "btn-cancel-load-sample",
                            "url": url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=ce.exerciseRef),
                            "noIcon": true
                        })
                    }}
                </form>
            {% else %}
                <p>Choose a sample file to check details before loading</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
