{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/label/_macro.njk" import onsLabel %}


{% set page_title = survey.surveyRef + " " + survey.shortName + " " + ce.exerciseRef + " | Surveys" %}
{% set surveyEditPermission = hasPermission('surveys.edit') %}

{% block main %}
    {% include 'collection_exercise/ce-success-panel.html' %}
    {% include 'collection_exercise/ce-handle-errors.html' %}
    {% include 'collection_exercise/ce-info-panel.html' %}
    {% include 'partials/flashed-messages.html' %}
    <div class="ons-grid ons-grid--gutterless">
        {% include 'partials/error-box.html' %}
        {{
            onsBreadcrumbs({
                "ariaLabel": 'Back',
                "itemsList": [
                    {
                        "url": url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=ce.exerciseRef),
                        "id": "back",
                        "text": 'Back'
                    }
                ]
            })
        }}
        {% if survey.surveyMode == 'EQ' %}
          <h1 name="page-ce-title">EQ collection instrument | {{ survey.shortName }} {{ survey.surveyRef }}</h1>
        {% else %}
          <h1 name="page-ce-title">Load collection instruments</h1>
        {% endif %}
        <div class="ons-grid__col ons-col-7@l">
            {% include 'collection_exercise/ce-collection-instrument-section.html' %}
            {{
                onsButton({
                    "text": "Done",
                    "id": "btn-option-done",
                    "classes": "ons-u-mt-s",
                    "submitType": "timer",
                    "url": url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=ce.exerciseRef),
                    "noIcon": "true"
                })
              }}
        </div>
    </div>
{% endblock %}
