{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/details/_macro.njk" import onsDetails %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% block main %}
<form class="ons-form" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-8@m">
            <h1>Choose CIR version for EQ formtype {{ form_type }}</h1>
            {%
                call onsPanel({
                    "variant": "warn",
                    "classes": "ons-u-mb-l"
                })
            %}
                <p>The version must have successfully passed all testing. If you are unsure contact the testing team.</p>
            {% endcall %}
            <div>
              {% if error_message %}
                {{ error_message }}
              {% else %}
                <p>
                  {% set cirRadioRows = [{
                    "id": "cir-version-nothing-selected",
                    "label": {
                      "text": "Nothing selected",
                    },
                    "name": "nothing-selected",
                  }] %}
                  {% for ci in cir_metadata %}
                    {% do cirRadioRows.append(
                        {
                          "id": "cir-version-" + ci.ci_version|string,
                          "label": {
                              "text": "Version " + ci.ci_version|string,
                              "description": "Published: " + ci.published_at,
                          },
                          "name": ci.ci_version|string,
                        }
                    )%}
                  {% endfor %}
                  {{ 
                    onsRadios({
                      "dontWrap": true,
                      "name": "ci-versions",
                      "radios": cirRadioRows,
                  })}}
                </p>
              {% endif %}
            </div>
            {{
                onsButton({
                    "text": "Save",
                    "id": "save",
                    "name": "save"
            })
            }}
        
            <div class="ons-u-mb-xl ons-u-mt-l">
            {%
                call onsDetails({
                "id": "Cir version not available",
                "title": "The right version is not here"
                })
            %}
                <p>The version you want to select may not yet be published or available in the Collection Instrument Registry (CIR)</p>
                <p>If you need an older version that is not available contact the Service Desk.</p>
            {% endcall %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
