{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% set page_title = survey.surveyRef + " " + survey.shortName + " " + ce.exerciseRef + " | Surveys" %}
{% block main %}
    {% include 'collection_exercise/ce-success-panel.html' %}
    {% include 'collection_exercise/ce-handle-errors.html' %}
    {% include 'collection_exercise/ce-info-panel.html' %}

    {% include 'collection_exercise/ce-header-section.html' %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col6@l">
            {% include 'partials/error-box.html' %}
            {% include 'collection_exercise/ce-dates-section.html' %}
            {% include 'collection_exercise/ce-nudge-email-section.html' %}
            {% include 'collection_exercise/ce-sample-section.html' %}
            {% include 'collection_exercise/ce-instrument-section.html' %}
        </div>

        <div class="ons-grid__col ons-col5@l push-1@l">
            {% include 'collection_exercise/ce-reference-information.html' %}
            {% if survey.surveyMode == 'EQ' and is_eq_v3_enabled %}
              {% include 'collection_exercise/ce-select-eq-version.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
