{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/description-list/_macro.njk" import onsDescriptionList %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/label/_macro.njk" import onsLabel %}

{% set page_title = survey.surveyRef + " " + survey.shortName + " " + ce.exerciseRef + " | Surveys" %}
{% block main %}
    {% include 'collection_exercise/ce-success-panel.html' %}
    {% include 'collection_exercise/ce-handle-errors.html' %}
    {% include 'partials/flashed-messages.html' %}
    {% include 'collection_exercise/ce-info-panel.html' %}

    {% include 'collection_exercise/ce-header-section.html' %}
    <div class="ons-grid--gutterless ons-col-7@m">
        {% include 'partials/error-box.html' %}
        {% include 'collection_exercise/ce-info-section.html' %}
        {% include 'collection_exercise/ce-action-dates-section.html' %}
        {% include 'collection_exercise/ce-sample-section.html' %}
        {% include 'collection_exercise/ce-ci-section.html' %}
        <div class="ons-u-pt-m">
            {{
                onsButton({
                    "text": "Done",
                    "id": "btn-option-done",
                    "submitType": "timer",
                    "url": url_for('surveys_bp.view_survey', short_name=survey.shortName),
                    "noIcon": "true"
                })
            }}
        </div>
        <span id="description-hint" class="ons-label__description ons-u-pt-m ons-u-mb-l"><strong>* Mandatory Information</span>
    </div>
{% endblock %}
