{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% set page_title = survey.surveyRef + " " + survey.shortName + " " + ce.exerciseRef + " | Surveys" %}
{% block main %}
    {% include 'collection_exercise/ce-success-panel.html' %}
    {% include 'collection_exercise/ce-handle-errors.html' %}
    {% include 'collection_exercise/ce-info-panel.html' %}

    {% include 'collection_exercise/ce-header-section.html' %}
    <div class="ons-grid ons-grid--gutterless">
        {% include 'partials/error-box.html' %}
        <div class="ons-grid__col ons-col-6@l">
            {% include 'collection_exercise/ce-info-section.html' %}
            {% include 'collection_exercise/action-dates-section.html' %}
            {% include 'collection_exercise/sample-ci-section.html' %}
            {{
                onsButton({
                    "text": "Done",
                    "id": "btn-option-done",
                    "submitType": "timer",
                    "url": url_for('surveys_bp.view_survey', short_name=survey.shortName),
                    "noIcon": "true"
                })
              }}
        </div>
    </div>
{% endblock %}
