<section class="ce-section ce-details">
    <h2 class="ons-u-fs-r--b ons-u-pt-m">Sample & Collection instruments (CI)</h2>
    <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
        <div class="ons-grid__col">
            {{
                onsButton({
                    "text": 'Upload sample file & CI',
                    "id": 'btn-option-done',
                    "submitType": 'timer',
                    "variants": ['secondary', 'small'],
                    "url": url_for('collection_exercise_bp.get_upload_sample_ci', short_name=survey.shortName, period=ce.exerciseRef),
                    "noIcon": 'true'
                })
            }}
        </div>
    </div>
</section>
