{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% set page_title = survey.surveyRef + " " + survey.shortName + " " + ce.exerciseRef + " | Surveys" %}
{% set surveyEditPermission = hasPermission('surveys.edit') %}
{% block main %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-7@l">
            {% include 'collection_exercise/ce-sample-section.html' %}
            {% include 'collection_exercise/collection-instrument-section.html' %}
        </div>
        {% include 'partials/error-box.html' %}
    </div>
{% endblock %}
