{% extends "layouts/base.html" %}
{% from "components/table/_macro.njk" import onsTable %}

{% set  formTypeCIVersionTable = {
    "id": "form-type-ci-version",
    "ths": [{
        "value": "EQ formtype"
    },
    {
        "value": "CIR version"
    }]
}%}
{% set formTypeCIVersionTableDataRows = [] %}

{% for collection_instruments in collection_instruments %}
    {% set ciVersion = collection_instruments["ci_version"] %}
    {% set linkText = "Edit version" if ciVersion else "Choose a version" %}
    {% set versionText = "Version " + ciVersion|string if ciVersion else "Nothing selected" %}

    {% do formTypeCIVersionTableDataRows.append(

        {
            "tds": [
                {
                    "value": collection_instruments["form_type"]
                },
                {
                  "value": versionText,
                  "tdClasses": "ons-u-ta-centre"
                }, 
                {
                  "value": '<a href="' + url_for("collection_exercise_bp.view_ci_versions", short_name=short_name, period=period, form_type=collection_instruments['form_type']) + '">'+linkText+'</a>',
                  "tdClasses": "ons-u-ta-right"
                }
              ] 
          }
      )
    %}
    {% endfor %}
    {% do formTypeCIVersionTable | setAttribute("trs", formTypeCIVersionTableDataRows) %}

{% block main %}
    <h1 class="ons-u-fs-xl" >Collection instruments step 2 of 2</h1>
    <p class="ons-u-fs-r ons-u-mb-2xl">A collection instrument is only created once both an EQ formtype and a CIR 
    version are selected.<br>Each formtype requires a CIR version.</p>
    <h3 class="ons-u-fs-m">Choose a CIR version for each EQ formtype</h3>
    {{ onsTable(formTypeCIVersionTable) }}
    <a href="/surveys/{{short_name}}/{{period}}">Return to {{period}} Collection exercise</a>
{% endblock %}
