{% extends "layouts/base.html" %}
{% from "components/table/_macro.njk" import onsTable %}

{% set  formTypeCIVersionTable = {
    "id": "form-type-ci-version",
    "ths": [{
        "value": "EQ formtype"
    },
    {
        "value": "CIR version"
    }]
}%}
{% set formTypeCIVersionTableDataRows = [] %}

{% for collection_instrument in collection_instruments %}
    {% set form_type = collection_instrument["classifiers"]["form_type"] %}
    {% do formTypeCIVersionTableDataRows.append(
        {
            "tds": [
                {
                    "value": form_type
                },
                {
                  "value": "Nothing selected",
                  "tdClasses": "ons-u-ta-centre"
                }, 
                {
                  "value": '<a href="' + url_for("collection_exercise_bp.view_ci_versions", short_name=short_name, period=period, form_type=form_type, survey_id=survey_id) + '">Choose a version</a>',
                  "tdClasses": "ons-u-ta-right"
                }
              ] 
          }
      )
    %}
    {% endfor %}
    {% do formTypeCIVersionTable | setAttribute("trs", formTypeCIVersionTableDataRows) %}

{% block main %}
    <h1 class="ons-u-fs-xl" >Collection instruments step 2 of 2</h1>
    <h3 class="ons-u-fs-m">Choose a CIR version for each EQ formtype</h3>
    {{ onsTable(formTypeCIVersionTable) }}
    <a href="/surveys/{{short_name}}/{{period}}">Return to {{period}} Collection exercise</a>
{% endblock %}
