{% extends "layouts/base.html" %}
{% set page_title = data.survey_id + " " + data.shortName + " | Surveys" %}

{% block main %}
    <div class="ons-grid overview">
        <div class="ons-grid__col ons-col12@m">
            <h1 name="page-surveys-title" class="ons-u-fs-xxl">{{ data.shortName }}<span class="ons-u-fs-r">
                <a href="{{ url_for('home_bp.get_overview_survey') }}">Change survey</a></span></h1>
        </div>
        <div class="ons-grid__col ons-col6@m">
            {% include 'overview/overview-survey.html' %}
        </div>
        <div class="ons-grid__col ons-col6@m">
            {% include 'overview/overview-sample.html' %}
        </div>
        <div class="ons-grid__col ons-col5@m">
           {% include 'overview/overview-reference-information.html' %} 
        </div>
        <div class="ons-grid__col ons-col5@m ons-push-1@m">
            {% include 'overview/overview-dates-section.html' %}
        </div>
    </div>
{% endblock %}
