{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}

{% set page_title = "Reporting units" %}

{% block main %}
    <h1>Reporting units</h1>
    <div class="ru-search">

        <form action="" method="post">
            {{ form.csrf_token }}
            {{
                onsInput({
                    "id": "query",
                    "name": "query",
                    "type": "text",
                    "classes": "ons-u-mb-m",
                    "label": {
                        "text": "Type a reference or company name"
                    }
                })
            }} 
            {{
                onsButton({
                    "text": "Search",
                    "id": "btn-search-ru",
                    "submitType": "timer"
                })
            }}
        </form>

    </div>

{% endblock %}
