{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/table/_macro.njk" import onsTable %}

{% set page_title = "Reporting units" %}

{% block main %}
    <h1>Reporting units</h1>
    <form action="{{ url_for('reporting_unit_bp.search_redirect') }}" method="post">
        {{ form.csrf_token }}
        <p class="ons-field ons-u-mb-s">
            <label for="query" class="ons-label">Type a reference or company name</label>
            {{ form.query(size=20, class_="ru-search-box ons-input ons-input--text", id="query")}}
        </p>
        {{
            onsButton({
                "text": "Search",
                "id": "btn-search-ru",
                "submitType": "timer"
            })
        }}
    </form>
    {% if not total_business_count %}
        <p class="ons-u-mt-m">No results found</p>
    {% elif total_business_count > max_rec %}
        <h3 class="ons-u-mt-l">The search results is too big to be displayed.</h3>
        <h4 class="ons-u-mt-m">We found {{ total_business_count }} records against the search criteria.</h4>
        <h4 class="ons-u-mt-m">Please refine your search by adding more keywords/information.</h4>
    {% else %}
        <section class="ons-u-mt-m">
            {% set surveyTableData = {
                "variants": 'compact',
                "id": 'tbl-businesses',
                "ths": [
                    {
                        "value": "RU reference"
                    },
                    {
                        "value": "Name"
                    },
                    {
                        "value": "Trading as"
                    }
                ]
            } %}

            {% set surveyTableDataRows = [] %}
            {% for business in business_list %}
                {% do surveyTableDataRows.append(
                    {
                        "tds": [
                            {
                                "value": '<a href="/reporting-units/' + business.ruref + '" name="details-link-' + business.ruref + '">' + business.ruref + '</a>'
                            },
                            {
                                "value": business.name
                            },
                            {
                                "value": business.trading_as
                            }
                        ]
                    }
                ) %}
            {% endfor %}

            {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
            {{ onsTable(surveyTableData) }}
        </section>
        {% if total_business_count == 1  %}
            <h2 class="ons-u-fs-l">{{ total_business_count }} Result found</h2>
        {%  else %}
            <h2 class="ons-u-fs-l">{{ total_business_count }} Results found</h2>
        {% endif %}
        <h3 class="ons-u-mb-m">Displaying <strong>{{ first_index }} - {{ last_index }}</strong> of <strong>{{ total_business_count }}</strong></h3>
        {% if show_pagination %}{% include 'partials/pagination.html' %}{% endif %}
    {% endif %}
{% endblock %}
