{% extends "layout/_template.njk" %}
{% block head %}
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block scripts %}
    {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{# {% set containerClasses = "container--wide" %} #}
{% set page = { 
  "title": page_title + " | Survey Data Collection" if page_title else "Survey Data Collection",
  "header": {
    "title": "Survey Data Collection",
    "classes": "header--internal header--thin",
    "logo": "ons-logo-white"
  },
  "toggleButton": {
    "text": "Menu",
    "ariaLabel": "Toggle main navigation"
  }
} %}

{% include 'layouts/configs/navigation.html' %}
{% include 'layouts/configs/signout-button.html' %}
{% include 'layouts/configs/footer.html' %}

{%- block page %}
  <div class="page__container container {{ containerClasses }}">
    {% block preMain %}
      {% if breadcrumbs %}
        {% include 'layouts/configs/breadcrumbs.html' %}
      {% endif %}
    {% endblock %}
    <div class="grid">
      <div class="grid__col col-12@m">
        <main id="main-content" class="page__main {{ pageClasses }}">
          {%- block main %}{% endblock main -%}
        </main>
      </div>
    </div>
  </div>  
{% endblock page -%}
