<!DOCTYPE html>
{% import 'macros/grid.html' as grid %}
{%- from 'macros/panel.html' import panel -%}
{%- set cdn_hash = "v2.0.0" -%}
{%- set cdn_url_prefix = "https://cdn.ons.gov.uk/sdc/"~cdn_hash -%}
{%- set css_responsive_cdn = cdn_url_prefix~"/css/responsive.css" -%}
{%- set scripts_cdn = cdn_url_prefix~"/scripts/bundle.js" -%}
<html lang="en" class="no-js">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Survey Data Collection team for ONS" />
    <meta name="description" content="ONS Business Surveys" />

    <title>{% block page_title %}{{ _('Survey Data Collection') }}{% endblock page_title %}</title>
    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
    <link rel=stylesheet type=text/css href="{{ css_responsive_cdn }}">
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    {% endassets %}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <link href="/static/images/favicon.ico" rel="Shortcut Icon" />
  </head>

{% block base %}{% endblock %}
</html>