
{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set page_title = 'Activate your account' %}

{% block main %}
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m">
            {% include 'partials/flash-error-messages.html' %}
            <h1>Activate your account</h1>
            <form method="post" action="" class="form" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <span class="ons-u-mb-l" style="display:inline-block;">An account has been created for <strong>{{ username }}</strong>. 
                To activate the account, you must create a password.</span>
              {% set password_information = '<p>' + 'Your password must have at least:' + '</p><ul>'
                        + '<li>' + 'at least 12 characters' + '</li>'
                        + '<li>' + 'at least 1 uppercase letter' + '</li>'
                        + '<li>' + 'at least 1 symbol (eg: ?!£%)' + '</li>'
                        + '<li>' + 'at least 1 number' + '</li></ul>' %}
              {% if form.password.errors | length == 0 %}
                  {{
                        onsPanel({
                            "body": password_information,
                        })
                    }}
              {% endif %}
                {{
                    onsPassword({
                        "id": "password",
                        "name": "password",
                        "showPasswordText": "Show password",
                        "label": {
                            "text": password_information + '<p>' + 'Password' + '</p>' if form.password.errors else 'Password',
                        },
                        "showPasswordText": "Show password",
                        "error": {"text": 'Enter a password in the correct format' } if form.password.errors else None,
                })
                }}
                {{
                    onsPassword({
                        "id": "password_confirm",
                        "name": "password_confirm",
                        "label": {
                            "text": "Confirm password"
                        },
                        "showPasswordText": "Show password",
                        "error": {"text": 'Enter passwords that match' } if form.password_confirm.errors else None,
                    })
                }}
                <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
                  {{
                      onsButton({
                          "classes": "ons-u-mb-s ons-u-mt-s",
                          "text": "Activate account",
                          "id": "confirm_password_button"
                      })
                  }}
                  <div class="ons-grid__col ons-u-ml-s">
                    <a href="{{ url_for('sign_in_bp.sign_in') }}" role="button" class="ons-btn ons-btn--link ons-btn--secondary" id="btn-option-cancel">
                      <span class="ons-btn__inner">Cancel</span></a>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}
