
{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set page_title = 'Activate your account' %}

{% block main %}
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
                {% call
                    onsPanel({
                            "type": "error",
                            "classes": "ons-u-mb-l",
                            "title":  errorTitle
                        })
                %}
                    {% for message in messages %}
                        <p id="flashed-message-{{ loop.index }}">{{ message }}</p>
                    {% endfor %}
                {% endcall %}
            {% endif %}
        {% endwith %}
          {% set password_error_count = 0 %}
          {% set password_confirm_error_count = 0 %}
          {% if form.password.errors %}
            {% set unique_errors = form.password.errors | unique %}
            <p>{{unique_errors}}</p>
            {% set password_error_count = form.password.errors | length|default(0, true) %}
          {% endif %}
          {% if form.password_confirm.errors %}
            {% set password_confirm_error_count = form.password_confirm.errors | length|default(0, true) %}
          {% endif %}
          {% if password_error_count or password_confirm_error_count %}
            {% set errorData = [] %}
            {% set password = namespace(text = '') %}
            {% set password_confirm = namespace(text = '') %}
                {% set error_count = password_error_count + password_confirm_error_count %}
                {% set plural_suffix = 's' if error_count > 1 else '' %}
                {% set plural_singular_word = 'are ' if error_count > 1 else 'is ' %}
                {% set header_text = 'There ' ~ plural_singular_word ~ error_count ~ ' problem' ~ plural_suffix ~ ' with your password' %}
            {% call
                onsPanel({
                    "title": header_text,
                    "type": "error"
                })
            %}
                {% for error in form.password.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#password",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {% for error in form.password_confirm.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#password_confirm",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {{
                    onsList({
                        "element": 'ol',
                        "classes": "list--bare",
                        "itemsList": errorData
                    })
                }}
            {% endcall %}
        {% endif %}
            {% if errorData %}
                </br>
            {% endif %}
            <h1>Activate your account</h1>
            <form method="post" action="" class="form" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <span>An account has been created for <strong>{{ username }}</strong>. 
                To activate the account, you must create a password.</span>
              <!--Double <br> required to ensure correct spacing between above span and password information section-->
              </br>
              </br>
              {% set password_information = '<p>' + 'Your password must have at least:' + '</p><ul>'
                        + '<li>' + 'at least 12 characters' + '</li>'
                        + '<li>' + 'at least 1 uppercase letter' + '</li>'
                        + '<li>' + 'at least 1 symbol (eg: ?!£%)' + '</li>'
                        + '<li>' + 'at least 1 number' + '</li></ul>' %}
              {% if password_error_count == 0  %}
                  {{
                        onsPanel({
                            "body": password_information,
                        })
                    }}
              {% endif %}
                {{
                    onsPassword({
                        "id": "password",
                        "name": "password",
                        "showPasswordText": "Show password",
                        "label": {
                            "text": password_information + '<p>' + ' Password' + '</p>' if form.password.errors else 'Password',
                        },
                        "showPasswordText": "Show password",
                        "error": {"text": 'Enter a password in the correct format' } if form.password.errors else None
                    })
                }}
                {{
                    onsPassword({
                        "id": "password_confirm",
                        "name": "password_confirm",
                        "label": {
                            "text": "Confirm password"
                        },
                        "showPasswordText": "Show password",
                        "error": {"text": 'Enter passwords that match' } if password_confirm_error_count else None,
                        "attributes": {"margin-top": 0}
                    })
                }}
                <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
                  {{
                      onsButton({
                          "classes": "ons-u-mb-s ons-u-mt-s",
                          "text": "Activate account",
                          "id": "confirm_password_button"
                      })
                  }}
                  <div class="ons-grid__col ons-u-ml-s">
                    <a href="{{ url_for('sign_in_bp.sign_in') }}" role="button" class="ons-btn ons-btn--link ons-btn--secondary" id="btn-option-cancel">
                      <span class="ons-btn__inner">Cancel</span></a>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}
