
{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set page_title = 'Activate your account' %}

{% block main %}
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
                {% call
                    onsPanel({
                            "type": "error",
                            "classes": "ons-u-mb-l",
                            "title":  errorTitle
                        })
                %}
                    {% for message in messages %}
                        <p id="flashed-message-{{ loop.index }}">{{ message }}</p>
                    {% endfor %}
                {% endcall %}
            {% endif %}
        {% endwith %}
          {% if form.errors %}
            {% set errorData = [] %}
                {% set error_count = form.errors | length %}
                {% set plural_suffix = 's' if error_count > 1 else '' %}
                {% set header_text = 'This page has ' ~ error_count ~ ' error' ~ plural_suffix %}
            {% call
                onsPanel({
                    "title": header_text,
                    "type": "error"
                })
            %}
                <p>These <strong>must be corrected</strong> to continue.</p>
                {% for error in form.password.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#password",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {% for error in form.password_confirm.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#password_confirm",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {{
                    onsList({
                        "classes": "list--bare",
                        "itemsList": errorData
                    })
                }}
            {% endcall %}
        {% endif %}
            <h1>Activate your account</h1>
            <form method="post" action="" class="form" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <span>An account has been created for <strong>{{ username }}</strong>.</span>
              <p>To activate the account, you must create a password.</p>
                {{
                    onsPanel({
                        "body": '<p>Your password must have:</p><ul>
                        <li>at least 12 characters</li>
                        <li>at least 1 uppercase letter</li>
                        <li>at least 1 symbol (eg: ?!£%)</li>
                        <li>at least 1 number</li></ul>'
                    })
                }}
                {{
                    onsPassword({
                        "id": "password",
                        "name": "password",
                        "label": {
                            "text": "Password"
                        },
                        "showPasswordText": "Show password",
                        "error": {"text": errorData[0]["text"] } if errorData else None
                    })
                }}
                {{
                    onsPassword({
                        "id": "password_confirm",
                        "name": "password_confirm",
                        "label": {
                            "text": "Confirm password"
                        },
                        "showPasswordText": "Show password",
                    })
                }}
                <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
                  {{
                      onsButton({
                          "classes": "ons-u-mb-s ons-u-mt-s",
                          "text": "Activate account",
                          "id": "confirm_password_button"
                      })
                  }}
                  <div class="ons-grid__col ons-u-ml-s">
                    <a href="{{ url_for('sign_in_bp.sign_in') }}" role="button" class="ons-btn ons-btn--link ons-btn--secondary" id="btn-option-cancel">
                      <span class="ons-btn__inner">Cancel</span></a>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}
