{% extends "layouts/base.html" %}
{% from "components/description-list/_macro.njk" import onsDescriptionList %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/button/_macro.njk" import onsButton %}
{% set page_title = "Account details" %}

{% block main %}

{% set ns = namespace() %}
{% include "radio-option-select-error-panel.html" %}

<section>
    <h1 id="respondent-name">Account details</h1>
    {{
        onsDescriptionList({
            "classes": "ons-u-mb-l",
            "termCol": "4",
            "descriptionCol": "8",
            "itemsList": [
                {
                    "term": "Email address:",
                    "descriptions": [
                        {
                            "description": user.email
                        }
                    ]
                },
                {
                    "term": "Name:",
                    "descriptions": [
                        {
                            "description": user.name
                        }
                    ]
                },
                {
                    "term": "Password:",
                    "descriptions": [
                        {
                            "description": "●●●●●●●●"
                        }
                    ]
                },
                {
                    "term": " ",
                    "descriptions": [
                        {
                            "description": "(Last changed on " ~ user.password_last_changed ~ ")",
                            "classes": "ons-u-fs-s"
                        }
                    ]
                }
            ]
        })
    }}
    <hr class="ons-u-mb-l ons-col-8@m"/>
</section>
<section>
    <h1 class="ons-u-fs-xl">Help with account</h1>
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% if ns.optionError %}
            {% set errorOption = { "text": ns.optionErrorMessage,  "id": 'option_error' } %}
        {% endif %}
        {% set radioComponent = {
            "legend": "Choose an option",
            "name": "option",
            "id": "option",
            "error": errorOption,
        } %}
        {% set radios = [] %}
        {% do radios.append({
            "id": "change_email",
            "label": {
                "text": "Change email address"
            },
            "value": "change_email"
        }) %}
        {% do radios.append({
            "id": "change_name",
            "label": {
                "text": "Change name"
            },
            "value": "change_name"
        }) %}
        {% do radios.append({
            "id": "change_password",
            "label": {
                "text": "Change password"
            },
            "value": "change_password"
        }) %}
        {% do radioComponent | setAttribute("radios", radios) %}
        {{
            onsRadios(radioComponent)
        }}

        <div class="ons-grid ons-grid-flex ons-grid--gutterless ons-grid-flex--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
            <div class="ons-grid__col">
                {{
                    onsButton({
                        "text": "Continue",
                        "id": "btn-option-continue",
                        "submitType": "timer"
                    })
                }}
            </div>
        </div>
    </form>
</section>
{% endblock main%}
