@charset "UTF-8";
/* Data panel */
/* To change and add to the data-panel CSS component */
.data-panel-header {
  cursor: pointer;
  padding: 1.5rem;
  margin-bottom: 0;
  color: #4263c2;
}
.data-panel-header:hover {
  text-decoration: underline;
  background-color: #eeecec;
}
.data-panel-header::after {
  content: "➕";
  /* Unicode character for "plus" sign (+) */
  color: #4263c2;
  float: right;
  margin-left: 5px;
}
.data-panel-header::after.active::after {
  content: "➖";
  /* Unicode character for "minus" sign (-) */
}
.data-panel-header__title {
  border: 0;
  background: none;
  color: #4263c2;
  padding: 0;
  display: none;
}

.data-panel-body {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

/* Styles for non-js file-picker */
.upload-file::before {
  content: " ";
  background-size: 1.6rem;
  min-width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5em;
  float: right;
  font-size: 0.8rem;
}

input[type=file]::-webkit-file-upload-button {
  font-size: 1.25rem;
  font-size: 1rem;
  border: none;
  border-right: 2px solid #033e58;
  padding: 0.5rem 1rem;
  background: #f5f6ff;
  color: #033e58;
}

input[type=file] {
  border: 2px solid #033e58;
  border-radius: 4px;
  width: 100%;
  display: block;
  margin-bottom: 0;
  background: white;
}

input[type=file]:hover,
input[type=file]::-webkit-file-upload-button:hover {
  cursor: pointer;
}

.download-csv,
.edit-icon,
.add-icon,
.remove-icon {
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.download-csv {
  background-image: url("/static/images/ic_file_download_black_18px.svg");
}

.edit-icon {
  background-image: url("/static/images/ic_mode_edit_black_18px.svg");
}

.add-icon {
  background-image: url("/static/images/ic_add_circle_outline_black_18px.svg");
}

.remove-icon {
  background-image: url("/static/images/ic_remove_circle_outline_black_18px.svg");
}

.filetype {
  margin: 0 0.2rem 0 0;
}

.description-list {
  margin: 0;
}
.description-list dt {
  float: left;
  clear: left;
  width: 6rem;
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: 600;
  line-height: 1.4;
}
.description-list dd {
  margin: 0 0 0 6rem;
  padding: 0 0 0.5rem 0;
  line-height: 1.4;
}

.description-list-8 dt {
  width: 8rem;
}
.description-list-8 .description-list-8 dd {
  margin: 0 0 0 8rem;
}

.description-list__dense dt,
.description-list__dense dd {
  line-height: 1.2;
}

/* get rid of these ones below and replace with generic from above */
.item-headlines-term {
  float: left;
  clear: left;
  width: 6rem;
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: 600;
}

.item-headlines-definition {
  margin: 0 0 0 6rem;
  padding: 0 0 0.5rem 0;
}

.ce-status__title {
  float: left;
  clear: left;
  width: 4rem;
  margin: 0;
  padding: 0;
  color: #444;
  font-weight: 600;
}

.ce-status__data {
  margin: 0 0 0 4rem;
  padding: 0 0 0.5rem 0;
}

.ce-status__data.ce-status {
  font-weight: 600;
}

.survey-info {
  margin: 0;
}

.survey-info__title {
  float: left;
  clear: left;
  width: 9rem;
  margin: 0;
  padding: 0;
  color: #444;
}

.survey-info__data {
  margin: 0 0 0 7rem;
  padding: 0 0 0.5rem 0;
}

.nav {
  display: block;
  padding: 0;
}

.nav--sub {
  border-bottom: 1px solid #888;
}
.nav--sub .nav__item {
  padding: 0 0.667rem 0.3rem;
}
.nav--sub .nav__item--current, .nav--sub .nav__item--current:first-child {
  border-bottom: 4px solid #033e58;
  padding-left: 0.667rem;
}

.nav--horizontal {
  font-size: 0;
  margin: 0;
}
.nav--horizontal .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav--horizontal .nav__item {
  font-size: 1rem;
  display: inline-block;
  margin: 0 0 0 0.8rem;
  position: relative;
  text-align: center;
}
.nav--horizontal .nav__item:first-child {
  margin-left: 0;
}
.nav--horizontal .nav__item + .nav__item--secondary {
  border-top: 1px solid #0672a2;
  margin: 0.5rem 0 0;
}
.nav--horizontal .nav__link {
  display: inline-block;
  margin: 0;
  text-align: center;
}
.nav--horizontal .nav__item--active .nav__link {
  font-weight: bold;
}

.pagination {
  color: black;
  padding: 1px;
  display: inline;
}
.pagination ul {
  color: black;
  float: left;
  padding-left: 0;
  display: inline;
}
.pagination li {
  list-style-type: none;
  float: left;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 0.2rem;
  display: inline;
}
.pagination li a {
  padding: 8px 16px;
}
.pagination li.active {
  margin: 0 6px;
  background-color: #033e58;
}
.pagination li.active a {
  color: white;
}
.pagination li.disabled a {
  color: #666;
  text-decoration: none;
}
.pagination li:hover:not(.active) {
  background-color: #e4e8eb;
  transition: background-color 0.3s;
}
.pagination li.previous.disabled.unavailable {
  display: none;
}
.pagination li.next.disabled {
  display: none;
}

/* Spoke styles for hub and spoke patterns and modals */
.spoke {
  margin: 2rem 0;
  background-color: #999;
}
.spoke__header {
  background-color: #eeecec;
}
.spoke__header-title {
  margin: 0;
  padding: 1.5rem 2rem 0.5rem 2rem;
}
.spoke__body {
  margin: 0 0 2rem 0;
  padding: 2rem 2rem 2rem 2rem;
  background-color: white;
}

.secondary-info {
  color: #595959;
  font-weight: 400;
}

.current-value::before {
  content: "-";
}

/* Additional styles for tables */
th,
td {
  padding: 15px 0;
  word-wrap: normal;
  line-height: 1.6;
  vertical-align: top;
  border-bottom: thin solid #e4e8eb;
}

#tbl-messages td:first-child {
  min-width: 7rem;
}

.tbl-ce-label {
  width: 40%;
}

.ce-events .tbl-ce-value {
  text-align: right;
}

.tbl-ce-action {
  text-align: right;
}

/* sortable table styles from ljwatson https://ljwatson.github.io/sortable-tables/ */
.sortable span[role=button] {
  display: inline-block;
}

.sortable span[role=button]:hover,
span[role=button]:focus {
  color: #0f8243;
}

.sortable th {
  white-space: nowrap;
}

.sortable th i {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 5px;
  width: 10px;
}

.arrow::after {
  content: "↕";
}

.arrow-down::after {
  content: "↓";
}

.arrow-up::after {
  content: "↑";
}

/* Pagination */
.paginatorLink {
  margin: 0 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.checkbox {
  z-index: 1;
  display: inline-block;
  position: relative;
  width: 100%;
}
.checkbox__input {
  z-index: 1;
  box-sizing: border-box;
  appearance: none;
  position: absolute;
  top: 0.75rem;
  left: 0.6rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #033e58;
  border-radius: 0.2rem;
  background-color: #eeecec;
  background-size: 0px;
}
.checkbox__input:focus, .checkbox__input:checked {
  outline: none;
}
.checkbox__input:checked {
  background-size: 14px;
}
.checkbox__label {
  display: block;
  padding: 0.6rem 1rem 0.6rem 2.45rem;
  width: 100%;
  cursor: pointer;
}
.checkbox__label:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #033e58;
  border-radius: 3px;
  background: transparent;
}
.checkbox__label * {
  pointer-events: none;
}
.checkbox__description {
  display: block;
  margin-top: 0.25rem;
  margin-left: -1.85rem;
}
.checkbox__other {
  display: block;
  padding: 0 0.6rem 0.6rem;
}
.checkbox__input:checked + .checkbox__label:before {
  background: #eeecec;
  box-shadow: 0 0 0 1px #033e58;
}
.checkbox__input:not(:checked) ~ .checkbox__other {
  display: none;
}
.checkbox__input:not(:checked) ~ .checkbox__other--open {
  display: block;
}
.checkbox--toggle .checkbox__input {
  top: 0.1rem;
  left: 0;
}
.checkbox--toggle .checkbox__input:focus {
  box-shadow: 0 0 0 3px #eeecec;
}
.checkbox--toggle .checkbox__label {
  padding: 0 0 0 1.85rem;
}
.checkbox--toggle .checkbox__label:before {
  border: 0;
  background: none;
}
.checkbox--toggle .checkbox__input:checked + .checkbox__label:before, .checkbox--toggle .checkbox__input:focus + .checkbox__label:before {
  background: transparent;
  box-shadow: none;
}
.checkbox--toggle .checkbox__input:focus + .checkbox__label:before {
  border: none;
  outline: none;
}

.checkboxes__label {
  display: block;
  margin: 0 0 0.5rem;
}
.checkboxes__items {
  display: block;
}
.checkboxes__item {
  display: inline-block;
  margin: 0 0 0.5rem;
  width: 100%;
}
.checkboxes__item:last-child {
  margin-bottom: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template: 1fr auto;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.fieldgroup--date .field--day {
  max-width: 3rem;
}

.fieldgroup--date .field--month {
  max-width: 10rem;
}

.fieldgroup--date .field--year {
  max-width: 4rem;
}

.fieldgroup--time .fieldgroup__fields {
  display: flex;
}

.fieldgroup--time .fieldgroup__title {
  margin: 0 0 0.5rem 0;
}

.input--select__time-hrs {
  max-width: 4rem;
  margin-right: 1rem;
}

.input--select__time-mins {
  max-width: 4rem;
}

/* For when we really do want not to display something! */
.hidden {
  display: none;
}

.not-mvp {
  display: none;
}

/* new button icon for copy from material design icon library */
.btn__icon--copy-link {
  background-image: url("/s/img/icons/ic_content_copy_black_18px.svg");
  width: 1.2rem;
}

/* Survey page */
.in-the-past {
  color: #6a6a6a;
}

.download-csv {
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

/* Collection exercise page */
#output .panel {
  margin-top: 1rem;
}

#output h3 {
  margin-bottom: 0;
}

button.cancel {
  padding: 0.6rem 1rem !important;
  margin-left: 0.5rem;
}

button.hidden {
  display: none;
}

#btn-check-sample-contents,
#btn-load-sample,
#btn-cancel-load-sample,
#btn-add-ci,
#btn-load-ci,
#btn-send-message,
#btn-close-conversation,
#continue {
  margin-top: 0.6rem;
}

.list__item--ci {
  list-style-type: square;
}

/* used on CE page */
.btn--light.btn--border {
  font-weight: 600;
  background: transparent;
  border: 2px solid #033e58;
  color: #033e58;
  padding: 8px 32px;
  padding: 0.5rem 2rem;
}

.btn--light.btn--border:hover,
.btn--light.btn--border:focus {
  background: #033e58;
  color: white;
}

.ce-ci-info-list__item {
  list-style: square;
}

.ce-ci-info-list__item.success {
  list-style: none;
  background-image: url("/s/img/tick-green.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  margin-left: -20px;
}

.btn--secondary.btn--border.btn--small {
  margin: 0 0.5rem;
  padding: 0.25rem 1rem;
  width: auto;
}

.lock::before {
  background: white url("/s/img/icons/icons--lock.svg") no-repeat center center;
}

.page__content {
  overflow-x: visible;
}

/* RU page Reporting unit page */
.ru-survey {
  margin: 1rem 0;
  border: 0.5rem solid #eeecec;
}

.ru-survey h3 {
  font-weight: 500;
}

.response__changed {
  background-color: #edf4f0;
}

/* Collection exercise views */
.ce-section h2 {
  border-bottom: 2px solid #222;
  padding-top: 9px;
  margin-bottom: 0.3rem;
  padding-bottom: 0.4rem;
}

.ce-event-date {
  color: #666;
  font-weight: 400;
}

.ce-event-date em {
  color: #222;
  font-weight: 500;
}

table.ce-cis .tbl-ce-label {
  vertical-align: middle;
}

.ci-info-panel {
  margin: 2rem 0;
}

.ce-events__list {
  width: 100%;
  border-collapse: collapse;
  margin: 1.3rem 0 0.3rem auto;
}

.ce-events__list th,
.ce-events__list td {
  text-align: left;
  vertical-align: top;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.ce-events__list th {
  font-weight: 700;
  border-bottom: 1px solid #222;
}

.action-area {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#upload legend {
  display: none;
}

#filedrag {
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}

#filedrag.hover {
  color: #0f8243;
  border-color: #0f8243;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}

.ci-list {
  border-collapse: collapse;
  width: 100%;
}

.ci-list th,
.ci-list td {
  text-align: left;
  padding: 0.5rem;
}

.ci-list th {
  border-bottom: 1px solid #222;
}

/* Collection exercise - Reporting unit styles */
.ceru-headline {
  background: #f5f6ff;
  padding: 1rem;
  margin: 1rem 0;
}

.tempHack {
  width: 2.5rem;
  display: inline-block;
}

.error-message {
  color: #d0021b;
}

/* Social */
.cosy {
  display: inline-block;
}

.case-search {
  background-color: #e4e8eb;
}

.case-search-input2 {
  width: 8rem;
}

.case-search-submit2 {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
}

.case-search-results-info {
  margin: 1rem 0 2rem 0;
}

.case-search-results-list {
  list-style: none;
  padding-left: 0;
}

.case-search-results-list__item {
  margin-bottom: 1rem;
}

.results-list-ref {
  margin-right: 1rem;
}

.results-list-postcode {
  margin-right: 1rem;
}

.results-list-survey {
  display: none;
}

.results-list-status {
  display: none;
}

/* temporary styles for social */
.case-address__prem {
  display: block;
}

/*# sourceMappingURL=main.css.map */
