{% from "components/lists/_macro.njk" import onsList %}
{% if form.errors %}
    {% set error_count = form.errors | length %}
    {% set plural_suffix = 's' if error_count > 1 else '' %}
    {% set header_text = 'This page has ' ~ error_count ~ ' error' ~ plural_suffix %}
    {% set errorData = [] %}
    {% call
        onsPanel({
            "title": header_text,
            "type": "error",
            "classes": "u-mb-s col-7@m"
        })
    %}
        <p>These <strong>must be corrected</strong> to continue.</p>
        {% if form.category.errors %}
            {% for error in form.category.errors %}
                {% do errorData.append(
                    {
                        "text": error,
                        "index": true,
                        "url": "#category",
                        "classes": "js-inpagelink"
                    }
                ) %}
            {% endfor %}
        {% endif %}
        {% if form.select_survey.errors %}
            {% for error in form.select_survey.errors %}
                {% do errorData.append(
                    {
                        "text": error,
                        "index": true,
                        "url": "#category",
                        "classes": "js-inpagelink"
                    }
                ) %}
            {% endfor %}
        {% endif %}
        {{
            onsList({
                "classes": "list--bare",
                "itemsList": errorData
            }) 
        }}
    {% endcall %}
{% endif %}
