{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}

{% set page_title = "Messages" %}
{% set hide_breadcrumbs = true %}

{% block main %}
  <div class="grid">
      <div class="grid__col col-8@m">
      {%- with errors = get_flashed_messages(category_filter=["error"]) -%}
        {%- if errors -%}
            {% set errorLength = errors|length %}
            {% call
              onsPanel({
                  "type":"error",
                  "title": "This page has 1 error" if errorLength == 1 else "There are " ~ errorLength ~ " errors on this page",
                  "classes": "u-mb-s",
                  "id": "save-error"
              })
            %}
            {% set errorData = [] %}
              {% for message in errors %}
                  {% do errorData.append(
                    {
                        "text": message,
                        "index": true,
                        "url": "#",
                        "classes": "js-inpagelink"
                    }
                ) %}
              {% endfor %}
              {{
                  onsList({
                      "classes": "list--bare",
                      "itemsList": errorData
                  })
              }}
          {% endcall %}
        {% endif %}
      {%- endwith -%}
      {% include 'secure-message/change-thread-category-errors.html' %}
        <h1>Assign a survey or category to the message</h1>
        <form method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          {% if survey_list %}
            {% set error = {
              "text": "Select a survey"
            } %}         
            {% set surveys = [            
              {
                "value": "",
                "text": "Select a survey",
                "disabled": true,
                "selected": true
              }
            ] %}
            {% for survey in survey_list %}
              {% do surveys.append(
                {
                  "value": survey.replace(' ', ''),
                  "text": survey,
                  "id": survey.replace(' ', '')
                }
              ) %}
            {% endfor %}
            {{
    onsRadios({
        "legend": "Choose an option",
        "id": "category",
        "name": "category",
        "radios": [
            {
                "id": "surveys-other",
                "label": {
                    "text": "Survey"
                },
                "value": "SURVEY",
                "checked": true if thread.category == "SURVEY",
                "other": {
                    "otherType": "select",
                    "id": "survey-list",
                    "name": "select_survey",
                    "label": {
                        "text": "Please specify the survey"
                    },
                "options": surveys,
                "error": error if response_error
                        
                }
            },
            {
                "id": "technical-other",
                "label": {
                    "text": "Technical"
                },
                "checked": true if thread.category == "TECHNICAL",
                "value": "TECHNICAL"
            },
            {
                "id": "misc-other",
                "label": {
                    "text": "Respondent Feedback Team"
                },
                "checked": true if thread.category == "MISC",
                "value": "MISC"
            }
        ]
    })
}}
            <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
              <div class="grid__col">
                {{
                onsButton({
                    "classes": "u-mt-m",
                    "text": "Continue",
                    "id": "continue",
                    "submitType": "timer"
                })
              }}  
              </div>
              <div class="grid__col u-ml-m">
                <a href=" {{ url_for('messages_bp.view_conversation', thread_id=thread_id) }}">Cancel</a>
              </div>
            </div>
        {% else %}
          <p>Survey list failed to load.  Please try again.</p>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
