{% extends "layouts/base.html" %}
{% from "components/search/_macro.njk" import onsSearch %}
{% from "components/section-navigation/_macro.njk" import onsSectionNavigation %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/input/_macro.njk" import onsInput %}

{% set page_title = "Messages" %}
{% set hide_breadcrumbs = true %}
{% block main %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% call
                onsPanel({
                    "type":"success",
                    "iconType": "check",
                    "classes": "ons-u-mb-s",
                    "bodyAttributes": {
                        "data-qa": "success-body"
                    }
                })
            %}
                {% for message in messages %}
                    <p id="flashed-message-{{ loop.index }}">{{ message }}</p>
                {% endfor %}
            {% endcall %}
        {% endif %}
    {% endwith %}
    <div class="ons-grid ons-grid--flex ons-grid--between">
        <div class="ons-grid__col"> 
            {% if breadcrumbs %}
                {% include 'layouts/configs/breadcrumbs.html' %}
            {% endif %}
            <h1 class="ons-u-fs-l ons-u-mb-xs" name="page-messages-title">Technical Messages
                <span class="ons-u-fs-r">(<a id="change-survey" href="{{ url_for('messages_bp.select_inbox') }}">Change inbox</a>)</span>
            </h1>
        </div>
    </div>
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-12@m ons-u-mt-s">
            {% set nav = [] %}
            {% for tab_key, tab_value in tab_titles.items() %}
                {% do nav.append(
                    {
                        "title": tab_value,
                        "url": url_for('messages_bp.view_technical_inbox', selected_survey=selected_survey, conversation_tab=tab_key, ru_ref_filter=ru_ref_filter, business_id_filter=business_id_filter)
                    }
                ) %}
            {% endfor %}
            {{
                onsSectionNavigation({
                    "id": "message-menu",
                    "ariaLabel": "Messages menu",
                    "ariraListLabel": "Navigation menu",
                    "tabQuery": tab_titles[conversation_tab]|lower if request.args.get('conversation_tab') else tab_titles['open']|lower,
                    "itemsList": nav
                })
            }}

            {% if response_error %}
                <h1 class="ons-u-fs-l ons-u-mt-l">Oops! Something went wrong</h1>
                <p>
                    There's an issue with the messaging service, please try again later.
                </p>
                <p>
                    Until then you can still use other parts of the system.
                </p>
            {% else %}
                {% if not messages %}
                    <div class="ons-u-mt-l">
                        {% if conversation_tab == 'closed' %}
                            <p>No closed conversations</p>
                        {% elif conversation_tab == 'my messages' %}
                            <p>There are currently no messages</p>
                        {% else %}
                            <p>No new conversations</p>
                        {% endif %}
                    </div>
                {% else %}

                {% set surveyTableData = {
                    "tableClasses": 'ons-u-mt-m',
                    "variants": ['compact', 'row-hover'],
                    "id": 'tbl-messages',
                    "ths": [
                        {
                            "value": "From"
                        },
                        {
                            "value": "Respondent email address"
                        },
                        {
                            "value": "Subject"
                        },
                        {
                            "value": "To"
                        },
                        {
                            "value": "Date and time"
                        }
                    ]
                } %}

                {% set surveyTableDataRows = [] %}
                
                {% for message in messages %}
                    {% if message.from and message.unread and not message.from_internal %}
                        {% set fromValue = '<a href="' + url_for('respondent_bp.respondent_details', respondent_id=message.from_id) + '" aria-label="Respondent details"><span class="ons-u-fw-b">' + message.from + '</span></a>' %}
                    {% elif message.from and not message.from_internal%}
                        {% set fromValue = '<a href="' + url_for('respondent_bp.respondent_details', respondent_id=message.from_id) + '" aria-label="Respondent details">' + message.from + '</a>' %}
                    {% elif message.from %}
                        {% set fromValue = message.from %}
                    {% else %}
                        {% set fromValue = 'Unavailable' %}
                    {% endif %}
                    {% if message.from_email and message.unread %}
                        {% if not message.from_internal %}
                        {% set emailAddress = '<span class="ons-u-fw-b">' + message.from_email + '</span>' %}
                        {% else %}
                        {% set emailAddress = '<span class="ons-u-fw-b">' + message.to_email + '</span>' %}
                        {% endif %}
                    {% elif message.from_email %}
                        {% set emailAddress = message.from_email %}
                        {% if not message.from_internal %}
                        {% set emailAddress = message.from_email %}
                        {% else %}
                        {% set emailAddress = message.to_email %}
                        {% endif %}
                    {% else %}
                        {% set emailAddress = 'Unavailable' %}
                    {% endif %}
                    {% if message.to and message.unread and message.from_internal %}
                        {% set toValue = '<a href="' + url_for('respondent_bp.respondent_details', respondent_id=message.to_id) + '" aria-label="Respondent details"><span class="ons-u-fw-b">' + message.to + '</span></a>' %}
                    {% elif message.to and message.from_internal %}
                        {% set toValue = '<a href="' + url_for('respondent_bp.respondent_details', respondent_id=message.to_id) + '" aria-label="Respondent details">' + message.to + '</a>' %}
                    {% elif message.from %}
                        {% set toValue = message.to %}
                    {% else %}
                        {% set toValue = 'Unavailable' %}
                    {% endif %}
                    {% if message.sent_date and message.unread %}
                        {% set sentDate = '<span class="ons-u-fw-b">' + message.sent_date + '</span>' %}
                    {% elif message.sent_date %}
                        {% set sentDate = message.sent_date %}
                    {% else %}
                        {% set sentDate = 'Unavailable' %}
                    {% endif %}

                    {% do surveyTableDataRows.append(
                        {
                            "name": 'message-unread' if message.unread else 'message',
                            "id": 'message-' + loop.index|string,
                            "classes": 'ons-u-fw-b' if message.unread else '',
                            "tds": [
                                {
                                    "value": fromValue if message.from else 'Unavailable',
                                    "data": "From",
                                    "name": "tbl-messages-from",
                                    "id": 'messages-from-' + loop.index|string
                                },
                                {
                                    "value": emailAddress,
                                    "data": "Email address",
                                    "name": "tbl-email-address",
                                    "id": 'email-address-' + loop.index|string
                                },
                                {
                                    "value": '<span class="ons-u-fw-b"><a href="' + url_for('messages_bp.view_conversation', thread_id=message.thread_id, page=page, conversation_tab=conversation_tab, ru_ref_filter=ru_ref_filter, business_id_filter=business_id_filter) +'#latest-message" id="message-link-' + loop.index|string + '">' + message.subject + '</a></span>' if message.unread else '<a href="' + url_for('messages_bp.view_conversation', thread_id=message.thread_id, page=page, conversation_tab=conversation_tab, ru_ref_filter=ru_ref_filter, business_id_filter=business_id_filter) +'#latest-message" id="message-link-' + loop.index|string + '">' + message.subject + '</a>',
                                    "data": "Subject",
                                    "name": "tbl-messages-subject"
                                },
                                {
                                    "value": toValue if message.to else 'Unavailable',
                                    "data": "To",
                                    "name": "tbl-messages-to",
                                    "id": 'messages-to-' + loop.index|string
                                },
                                {
                                    "value": sentDate if message.sent_date else 'Unavailable',
                                    "data": "Date and time",
                                    "name": "tbl-messages-received",
                                    "id": 'messages-time-' + loop.index|string
                                }
                            ]
                        }
                    ) %}
                {% endfor %}

                {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}

                {{
                    onsTable(surveyTableData)
                }}

            {% endif %}
            {{ pagination.links }}

            {% endif %}
        </div>
    </div>
{% endblock %}
