{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% set page_title = 'Manage Alert Templates'  %}
{% block main %}
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            <h1 class="u-fs-xl u-mt-m">Manage message templates</h1>
            <p>
                <a id="create_message" href="{{ url_for('admin_bp.create_a_new_banner') }}">Create a new message template</a>
            </p>
            <form action="" method="post">
                {{ form.csrf_token }}
                {% set radioComponent = {
                    "legend": "Choose a template to edit",
                    "name": "event"
                } %}

                {% set radios = [] %}                
                {% for message in list_of_alerts %}
                    {% do radios.append(
                        {
                            "id": 'banner-title',
                            "name": "title",
                            "label": {
                                "text": message['title']
                            },
                            "value": message['title']
                        }
                    ) %}
                {% endfor %}

                {% do radioComponent | setAttribute("radios", radios) %}
            
                {{
                    onsRadios(radioComponent)
                }} 

                {%- call onsFieldset({
                    "legend": "Edit a banner",
                    "legendClasses": "u-vh",
                    "classes": "u-mt-m"
                    }) -%}
                    {{
                        onsButton({
                            "dontWrap": false,
                            "classes": "btn-group__btn",
                            "text": "Continue",
                            "id": "save-btn"
                        })
                    }} 
                    {{
                        onsButton({
                            "dontWrap": false,
                            "classes": "btn--secondary btn-group__btn",
                            "text": "Cancel",
                            "id": "cancel-btn"
                        })
                    }}
                {% endcall %}
            </form>
            <p>
            </p>
        </div>
    </div>
{% endblock %}
