{% extends "layouts/spoke.html" %}
{% block page_title %} Banner Admin {% endblock %}
{% block main %}
<div role="main" id="main" class="page__main" xmlns="http://www.w3.org/1999/html">
    <div class="spoke__header">
    <div class="spoke__header-title">
        <h1 class="u-fs-xl">Banner Admin</h1>
    </div>
    </div>
    <div class="spoke__body" id="spoke__body">
        <form action="" method="post">
            {{ form.csrf_token }}
            {% if errors %}
            <div class="panel panel--simple panel--error u-mb-l">
                {% for field, error_list in errors %}
                <div class="panel__body" id="save-error">
                    <p class="u-fs-r">{{ ', '.join(error_list) }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="field u-mt-l u-mb-l">
            <label class="label" for="ce-period">
                Maintenance Banner
            </label>
                {% if current_banner %}
                    {{ current_banner }}
                {% endif %}
            </div>
        
            <div class="field u-mt-l u-mb-l">
            <label class="label" for="ce-period">
                Set new banner
            </label>
                {{ form.banner(class_="input input--text", id='banner', required=false, maxlength=200) }}
            </div>
            <div class="field u-mt-l u-mb-l">
                <span class="checkbox">
                    <span class="checkbox__description u-fs-s">Remove the banner
                        {{form.delete(checked=False, id="delete-banner", class_="checkbox__input js-checkbox")}}
                    </span>
                </span>
            </div>
            <div>
                <button id="save-btn" type="submit" class="btn u-mb-s">Save</button>
            </div>
        </form>
        <div>
            <a id="cancel-btn" href="{{ url_for('surveys_bp.view_surveys') }}">Cancel</a>
        </div>
    </div>
   
</div>
{% endblock %}
