{% extends "layouts/base.html" %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/field/_macro.njk" import onsField %}

{% set page_title = 'Banner Admin'  %}
{% block main %}
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            <h1 class="u-fs-xl u-mt-m">Banner Admin</h1>
            <form action="" method="post">
                {{ form.csrf_token }}
                {% if errors %}
                    {% set errorData = [] %}

                    {% call
                        onsPanel({
                            "type":"error",
                            "classes": "u-mb-s",
                            "title": "This page has 1 error" if errors|length == 1 else "There are " + errors|length|string + " errors on this page"

                        })
                    %}
                        {% for field, error_list in errors %}
                            {% do errorData.append(
                                {
                                    "text": ', '.join(error_list),
                                    "index": true
                                }
                            ) %}
                        {% endfor %}
                        {{
                            onsList({
                                "classes": "list--bare",
                                "itemsList": errorData
                            }) 
                        }}
                    {% endcall %}
                {% endif %}
                {% if current_banner %}
                    <h2>Maintenance Banner</h2>
                    {{ current_banner }}
                {% endif %}
                    {%- call onsFieldset({
                        "legend": "Create a new banner",
                        "legendClasses": "u-vh",
                        "classes": "u-mt-m"
                        }) -%}
                        {{
                            onsInput({
                                "id": "banner",
                                "name": "banner",
                                "type": "text",
                                "label": {
                                    "text": 'Set new banner'
                                }
                            })
                        }} 
                        {%- call onsField({                    

                        }) -%}

                        {{
                            onsCheckboxes({
                                "dontWrap": true,
                                "checkboxesLabel": "Remove banner?",
                                "classes": "u-fw-b",
                                "checkboxes": [
                                    {
                                        "id": "delete-banner",
                                        "name": "delete",
                                        "label": {
                                            "text": "Yes"
                                        },
                                        "value": "y"
                                    }
                                ]
                            })
                        }}
                        {% endcall %}
                    {% endcall %}
                    {{
                        onsButton({
                            "classes": "u-mb-s u-mt-l",
                            "text": "Save",
                            "id": "save-btn"
                        })
                    }}   
             </form>
            <p>
                <a id="cancel-btn" href="{{ url_for('surveys_bp.view_surveys') }}">Cancel</a>
            </p>
        </div>
    </div>
{% endblock %}
