{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/upload/_macro.njk" import onsUpload %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}
    <h1 name="page-survey-title" class="ons-u-mb-l">Load Collection instruments for {{survey.shortName}} {{period}}</h1>
    <div class="ons-u-mb-l ons-col-6@l">
        {% include 'collection_exercise/ce-success-panel.html' %}
        {% include 'collection_exercise/ce-handle-errors.html' %}
        {% include 'collection_exercise/ce-info-panel.html' %}
        {% include 'partials/error-box.html' %}
        <form id="seft-form-load-ci" action="" class="ons-form" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div id="ciFileErrorPanel" class="{{'ons-panel ons-panel--simple ons-panel--error' if error.section == 'ciFile' else ''}}">
                <label class="ons-label ons-u-fs-m">Upload SEFT files</label>
                <span class="ons-label__description">File types accepted are .xls and .xlsx</span>
                <div id="ciFileErrorPanelBody" class="{{'ons-panel__body' if error.section == 'ciFile' else ''}}">
                    <p id="ciFileErrorText" class="hidden">Incorrect file type. Please choose a file type XLSX or XLS</p>
                    {{-
                        onsUpload({
                            "id": "ciFile",
                            "name": "ciFile",
                            "listeners": {
                                "change": "validateCI.checkSelectedCI(this.files)"
                            },
                            "accept": ".xlsx, .xls",
                            "label": {
                                "classes": "ons-u-vh",
                                "text": "Choose file"
                            }
                        })
                    -}}
                </div>
            </div>
            <div>
                {{
                    onsButton({
                        "text": "Upload",
                        "id": "btn-load-ci",
                        "variants": ['secondary', 'small', 'disabled'],
                        "name": "load-ci",
                        "submitType": "timer"
                    })
                }}
            </div>
        </form>
    </div>
    <div class="ons-u-mb-l ons-col-6@m">
        {% if collection_instruments %}
            <label class="ons-label ons-u-fs-m">{{ collection_instruments | length }} Collection instruments</label>
            <section class="ce-section">
                {% set surveyTableData = {
                    "variants": 'responsive',
                    "id": "collection-instruments-table",
                    "caption": 'Sample details for this collection exercise',
                    "hideCaption": true,
                    "ths": [
                        {
                            "value": "File Name",
                        },
                        {
                            "value": "Status"
                        },
                        {
                            "value": ""
                        }
                    ]
                } %}
                {% include 'partials/error-box.html' %}
                {% set surveyTableDataRows = [] %}
                {% for collection_instrument in collection_instruments %}
                    {% if not locked %}
                        {% set formData = 
                            '<form id="form-unselect-ci-' + loop.index|string + '" action="" method="post">' +
                            '<a role="button" class="ons-btn ons-btn--secondary ons-btn--small" href=# id="unlink-ci-' + loop.index|string + '"><span class="ons-btn__inner">Remove</span></a>' +
                            '<input type="hidden" name="ce_id" value="' + ce.id + '">' +
                            '<input type="hidden" name="ci_id" value="' + collection_instrument.id + '">' +
                            '<input type="hidden" name="unselect-ci">' +
                            '<input type="hidden" name="csrf_token" value="' + csrf_token() + '" />' +
                            '</form>'
                        %}
                    {% endif %}
                    {% do surveyTableDataRows.append(
                    {
                        "tds": [
                            {
                                "value": collection_instrument.file_name
                            },
                            {
                                "value": 'Ready',
                                "tdClasses": "ons-status ons-status--success"
                            },
                            {
                                "value": formData,
                                "tdClasses": "ons-u-ta-right"
                            }
                        ]
                    }
                    ) %}
                {% endfor %}
                {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
                {{
                    onsTable(surveyTableData)
                }}
                {% for i in range(surveyTableDataRows | length) %}
                    {% set j = i + 1 %}
                    <script{% if csp_nonce %} nonce="{{ csp_nonce() }}" {% endif %}>
                    document.getElementById("unlink-ci-{{ j }}").addEventListener('click', function () {
                        this.parentNode.submit()
                    });</script>
                {% endfor %}
            </section>

        {% endif %}
    </div>
    <div class="ons-u-mb-l">
        {% if collection_instruments %}
            <p class="ons-field ons-u-mt-l">
                <a href="{{ url_for('collection_exercise_bp.view_collection_exercise', period=period, short_name=survey.shortName.replace(' ', '')) }}"
                    role="button" class="ons-btn" id="btn-upload-ci-done"><span class="ons-btn__inner">Done</span></a>
            </p>
        {% elif not collection_instruments %}
            <p class="ons-field ons-u-mt-l">
                <a href="" role="button" class="ons-btn ons-btn--disabled"><span class="ons-btn__inner">Done</span></a>
                <a href="{{ url_for('collection_exercise_bp.view_collection_exercise', period=period, short_name=survey.shortName.replace(' ', '')) }}"
                    role="button" class="ons-btn ons-btn--secondary" id="btn-upload-ci-cancel"><span class="ons-btn__inner">Cancel</span></a>
            </p>
        {% endif %}
    </div>
{% endblock %}
