{% extends "layouts/base.html" %}
{% block page_title %}{{ce.shortName}} {{period}}{% endblock %}

{% block main %}
<div class="container page__container">
  <div role="main" id="main" class="page__main">
    <br/>
    <h1 class="jupiter">{{survey.surveyRef}} {{survey.shortName}} {{ce.exerciseRef}}</h1>

    <div class="grid">
      <div class="grid__col col-5@l">
        <section class="ce-section ce-events">
          <h2 class="venus u-pt-m">Dates</h2>

          <table class="table table__dense" summary="Dates for this collection exercise">
            <thead class="table--head u-vh">
              <tr class="table--row">
                <th scope="col" class="table--header--cell tbl-ce-label">
                  Event
                </th>
                <th scope="col" class="table--header--cell tbl-ce-value">
                  Date
                </th>
                <th scope="col" class="table--header--cell tbl-ce-status">
                  Status
                </th>
              </tr>
            </thead>

            <tbody>
              <tr class="table--row tbl-ce-label">
                <td class="table--cell">
                  MPS (Main print selection)
                </td>
                <td class="table--cell tbl-ce-value ce-event-date">
                  {{events.mps.day}} <em>{{events.mps.date}}</em> {{events.mps.time}}
                </td>
              </tr>

              <tr class="table--row">
                <td class="table--cell tbl-ce-label">
                  Go live
                </td>
                <td class="table--cell tbl-ce-value ce-event-date">
                  {{events.goLive.day}} <em>{{events.goLive.date}}</em> {{events.goLive.time}}
                </td>
              </tr>

              <tr class="table--row">
                <td class="table--cell tbl-ce-label">
                  Return by
                </td>
                <td class="table--cell tbl-ce-value ce-event-date">
                  {{events.returnBy.day}} <em>{{events.returnBy.date}}</em> {{events.returnBy.time}}
                </td>
              </tr>

              <tr class="table--row">
                <td class="table--cell tbl-ce-label">
                  First reminder
                </td>
                <td class="table--cell tbl-ce-value ce-event-date">
                  {{events.firstReminder.day}} <em>{{events.firstReminder.date}}</em> {{events.firstReminder.time}}
                </td>
              </tr>

              <tr class="table--row">
                <td class="table--cell tbl-ce-label">
                  Exercise end
                </td>
                <td class="table--cell tbl-ce-value ce-event-date">
                  {{events.exerciseEnd.day}} <em>{{events.exerciseEnd.date}}</em> {{events.exerciseEnd.time}}
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>

      <div class="grid__col col-1@l"></div>

      <div class="grid__col col-6@l">
        <div class="ce-section ce-details">
          <h2 class="venus u-pt-m">Reference information for this collection exercise</h2>

          <table class="table table__dense" summary="Collection exercise details">
            <tbody>
              <tr class="table--row">
                <td class="table--cell tbl-ce-">
                  Period
                </td>
                <td class="table--cell tbl-ce-" name="period">
                  {{ce.name}}
                </td>
              </tr>

              <tr class="table--row">
                <td class="table--cell tbl-ce-">
                  Shown to respondent as
                </td>
                <td class="table--cell tbl-ce-" name="user-description">
                  {{ce.userDescription}}
                </td>
              </tr>

              <tr class="table--row">
                <td class="table--cell tbl-ce-label">
                  Survey ID and Abbreviation
                </td>
                <td class="table--cell tbl-ce-value" name="survey-info">
                  {{survey.surveyRef}} {{survey.shortName}}
                </td>
              </tr>

              <tr class="table--row">
                <td class="table--cell tbl-ce-">
                  Survey title
                </td>
                <td class="table--cell tbl-ce-" name="survey-title">
                  {{survey.longName}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
