{% extends "layouts/base.html" %}
{% block page_title %}{{ce.shortName}} {{period}}{% endblock %}

{% block main %}

<div role="main" id="main" class="page__main">
  <br/>
  <h1 class="jupiter" name="page-ce-title">{{survey.shortName}} {{ce.exerciseRef}}</h1>
  <ul>
    {% if ci_loaded %}
      <li id="collection-instrument-success" class="system-feedback__item success">Collection instrument loaded</li>
    {% endif %}
  </ul>

  <div class="grid">
    <div class="grid__col col-6@l">
      <section class="ce-section ce-events">
        <h2 class="venus u-pt-m">Dates</h2>

        <table class="table table__dense" summary="Dates for this collection exercise">
          <thead class="table--head u-vh">
            <tr class="table--row">
              <th scope="col" class="table--header--cell tbl-ce-label">
                Event
              </th>
              <th scope="col" class="table--header--cell tbl-ce-value">
                Date
              </th>
              <th scope="col" class="table--header--cell tbl-ce-status">
                Status
              </th>
            </tr>
          </thead>

          <tbody>
            <tr class="table--row tbl-ce-label">
              <td class="table--cell">
                MPS (Main print selection)
              </td>
              <td class="table--cell tbl-ce-value ce-event-date" name="mps-date">
                {% if events.mps %}
                {{events.mps.day}} <em>{{events.mps.date}}</em> {{events.mps.time}}
                {% endif %}
              </td>
            </tr>

            <tr class="table--row">
              <td class="table--cell tbl-ce-label">
                Go live
              </td>
              <td class="table--cell tbl-ce-value ce-event-date" name="go-live-date">
                {% if events.goLive %}
                {{events.goLive.day}} <em>{{events.goLive.date}}</em> {{events.goLive.time}}
                {% endif %}
              </td>
            </tr>

            <tr class="table--row">
              <td class="table--cell tbl-ce-label">
                Return by
              </td>
              <td class="table--cell tbl-ce-value ce-event-date" name="return-by-date">
                {% if events.returnBy %}
                {{events.returnBy.day}} <em>{{events.returnBy.date}}</em> {{events.returnBy.time}}
                {% endif %}
              </td>
            </tr>

            <tr class="table--row">
              <td class="table--cell tbl-ce-label">
                First reminder
              </td>
              <td class="table--cell tbl-ce-value ce-event-date" name="first-reminder-date">
                {% if events.firstReminder %}
                {{events.firstReminder.day}} <em>{{events.firstReminder.date}}</em> {{events.firstReminder.time}}
                {% endif %}
              </td>
            </tr>

            <tr class="table--row">
              <td class="table--cell tbl-ce-label">
                Exercise end
              </td>
              <td class="table--cell tbl-ce-value ce-event-date" name="exercise-end-date">
                {% if events.exerciseEnd %}
                {{events.exerciseEnd.day}} <em>{{events.exerciseEnd.date}}</em> {{events.exerciseEnd.time}}
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="ce-section">
        <h2 class="venus u-pt-m">Collection instruments</h2>

        {% if collection_instruments %}
        <div>
          <table id="collection-instruments-table" class="table table__dense" summary="Sample details for this collection exercise">
            <thead class="table--head u-vh">
              <tr class="table--row">
                <th scope="col" class="table--header--cell tbl-ce-value">
                  Collection instrument
                </th>
              </tr>
            </thead>

            <tbody>
            {% for collection_instrument in collection_instruments %}
              <tr class="table--row">
                <td class="table--cell tbl-ce-value">
                  {{collection_instrument.file_name}}
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        {% endif %}

        <div class="u-mb-m">
          <form action="" class="form" method="post" enctype="multipart/form-data">
            <p>
              {{ 'Add another collection instrument (CI)' if collection_instruments else 'Choose a collection instrument (CI) to load'}}
            </p>
            <label class="upload-file u-vh" for="ciFile">Choose CI file</label>
            <input id="ciFile" type="file" class="" name="ciFile" accept=".xlsx">
            <button id="btn-load-ci" class="btn btn--primary unready">Add CI</button>
          </form>
        </div>
      </section>
    </div>

    <div class="grid__col col-1@l">
    </div>

    <div class="grid__col col-5@l">
      <div class="ce-section ce-details">
        <h2 class="venus u-pt-m">Reference information for this collection exercise</h2>
        <table class="table table__dense" summary="Collection exercise details">
          <tbody>
            <tr class="table--row">
              <td class="table--cell tbl-ce-">
                Period
              </td>
              <td class="table--cell tbl-ce-" name="period">
                {{ce.exerciseRef}}
              </td>
            </tr>

            <tr class="table--row">
              <td class="table--cell tbl-ce-">
                Shown to respondent as
              </td>
              <td class="table--cell tbl-ce-" name="user-description">
                {{ce.userDescription}}
              </td>
            </tr>

            <tr class="table--row">
              <td class="table--cell tbl-ce-label">
                Survey ID and Abbreviation
              </td>
              <td class="table--cell tbl-ce-value" name="survey-info">
                {{survey.surveyRef}} {{survey.shortName}}
              </td>
            </tr>

            <tr class="table--row">
              <td class="table--cell tbl-ce-">
                Survey title
              </td>
              <td class="table--cell tbl-ce-" name="survey-title">
                {{survey.longName}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
