{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/description-list/_macro.njk" import onsDescriptionList %}
{% set page_title = 'Edit collection exercise details' %}
{% block main %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-8@m">
            <h1 class="ons-u-fs-xl">
                {% if change_flag == 'Active' %}Lock{% else %}Unlock{% endif %} account
            </h1>

            <form method="post"
                {% if tab=='respondents' %}
                    action="{{ url_for('respondent_bp.change_respondent_status',
                        respondent_id=respondent_id, change_flag=change_flag)}}"
                {% else %}
                    action="{{ url_for('reporting_unit_bp.change_respondent_status', ru_ref=ru_ref,
                        respondent_id=respondent_id, change_flag=change_flag)}}"
                {% endif %} class="ons-u-mt-l">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {{
                    onsDescriptionList({
                        "termCol": "2",
                        "descriptionCol": "10",
                        "itemsList": [
                            {
                                "term": "Respondent:",
                                "descriptions": [
                                    {
                                        "description": first_name ~ ' ' ~ last_name
                                    }
                                ]
                            },
                            {
                                "term": "Email:",
                                "descriptions": [
                                    {
                                        "description": email_address
                                    }
                                ]
                            }
                        ]
                    })
                }}
                {{
                    onsButton({
                        "classes": "ons-u-mb-s ons-u-mt-l",
                        "text": "Lock" if change_flag == 'LOCKED' else "Unlock" ~ " account",
                        "id": "confirm-btn",
                        "name": "confirm-btn"
                    })
                }}
                <p>
                    <a id="cancel"
                    {% if tab=='respondents' %}
                        href="{{ url_for('respondent_bp.respondent_details', ru_ref=ru_ref, survey_id=survey_id,
                            respondent_id=respondent_id, business_id=business_id, change_flag=change_flag)}}"
                    {% else %}
                        href="{{ url_for('reporting_unit_bp.view_reporting_unit', ru_ref=ru_ref, survey_id=survey_id,
                            respondent_id=respondent_id, business_id=business_id, change_flag=change_flag)}}"
                    {% endif %}>Cancel</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
