{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% set page_title = 'Confirm remove sample' %}
{% block main %}
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            <h1 class="u-fs-xl">Confirm remove sample</h1>
            <form action="" method="post">
                {{ form.csrf_token }}
                <div>Remove sample from {{short_name}} {{period}}?</div>
                {{
                    onsButton({
                        "classes": "u-mb-s u-mt-l",
                        "text": "Remove sample",
                        "id": "remove-sample-btn"
                    })
                }}
                <p>
                  <a id="cancel-btn" href="{{ url_for('collection_exercise_bp.view_collection_exercise', short_name=short_name, period=period) }}">Cancel</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
