{% extends "layouts/spoke.html" %}
{% block page_title %} Edit collection exercise details {% endblock %}
{% block main %}
<div role="main" id="main" class="page__main">
  <div class="spoke__header">
    <div class="spoke__header-title">
      <h1 class="u-fs-xl">
        {% if change_flag == 'DISABLED' %}Disable{% else %}Re-enable{% endif %} enrolment
      </h1>
    </div>
  </div>
  <div class="spoke__body">
      <form method="post" {% if tab=='respondents' %}
          action="{{ url_for('respondent_bp.change_enrolment_status', ru_ref=ru_ref,
                                           business_id=business_id, survey_id=survey_id, respondent_id=respondent_id,
                                           change_flag=change_flag)}}"
          {% else %}
          action="{{ url_for('reporting_unit_bp.change_enrolment_status', ru_ref=ru_ref,
                                           business_id=business_id, survey_id=survey_id, respondent_id=respondent_id,
                                           change_flag=change_flag)}}"
          {% endif %} class="u-mt-l">
      <dl class="description-list description-list-8 u-pb-m">
        <dt class="">
          Reference:
        </dt>
        <dd class="">
          {{ ru_ref }}
        </dd>

        <dt class="">
          Name:
        </dt>
        <dd class="" id="ru_name">
          {{ ru_name }}
        </dd>

        <dt class="">
          Trading as:
        </dt>
        <dd class="">
          {{ trading_as }} &#160;
        </dd>

        <dt class="">
          Survey:
        </dt>
        <dd class="" id="survey">
          {{ survey_name }}
        </dd>

        <dt class="">
          Respondent:
        </dt>
        <dd class="" id="period">
          {{ first_name }} {{ last_name }}
        </dd>
      </dl>

      <button type="submit" id="confirm-btn" class="btn u-mb-s">
        {% if change_flag == 'DISABLED' %}Disable{% else %}Re-enable{% endif %} enrolment
      </button>

      <div class="u-mt-xs">
        <a id="cancel"
          {% if tab=='respondents' %}
           href="{{ url_for('respondent_bp.respondent_details', ru_ref=ru_ref, survey_id=survey_id,
                            respondent_id=respondent_id, business_id=business_id, change_flag=change_flag)}}"
           {% else %}
           href="{{ url_for('reporting_unit_bp.view_reporting_unit', ru_ref=ru_ref, survey_id=survey_id,
                            respondent_id=respondent_id, business_id=business_id, change_flag=change_flag)}}"
           {% endif %}>Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}