{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/date-input/_macro.njk" import onsDateInput %}
{% from "components/duration/_macro.njk" import onsDuration %}

{% set page_title = 'Create event date' %}
{% block main %}
  <div class="grid grid--gutterless">
    <div class="grid__col col-8@m">
      {%- with errors = get_flashed_messages(category_filter=["error"]) -%}
        {%- if errors -%}
            {% call
              onsPanel({
                  "type":"error",
                  "title": "This page has 1 error",
                  "classes": "u-mb-s",
                  "id": "save-error"
              })
            %}
            {% set errorData = [] %}
              {% for message in errors %}
                  {% do errorData.append(
                    {
                        "text": message,
                        "index": true,
                        "url": "#",
                        "classes": "js-inpagelink"
                    }
                ) %}

              {% endfor %}
            {% if date_restriction_text %}
              {% for text in date_restriction_text %}
                  {% do errorData.append(
                    {
                        "text": text,
                        "index": true,
                        "url": "#",
                        "classes": "js-inpagelink"
                    }
                ) %}

              {% endfor %}
              {{
                  onsList({
                      "classes": "list--bare",
                      "itemsList": errorData
                  }) 
              }}
            {% endif %}
          {% endcall %}
        {% endif %}
      {%- endwith -%}
      <h1 class="u-fs-xl u-mt-m">Create business event</h1>
      {{ 
        onsMetadata({
          "termCol": "2",
          "descriptionCol": "10",
          "itemsList": [
            {
              "term": "Survey:",
              "descriptions": [ 
                  {
                      "description": survey_ref ~ ' ' ~ short_name
                  }
              ]
            },
            {
              "term": "Period:",
              "descriptions": [ 
                  {
                      "description": period,
                      "id": "period"
                  }
              ]
            }
          ]
        })
      }}

      <h2 class="u-fs-l u-mt-l">{{event_name}}</h2>
      <form method="post" action="{{ url_for('collection_exercise_bp.create_collection_exercise_event', short_name=short_name, period=period, ce_id=ce_id, tag=tag)}}" class="">
      <div class="date-time-editor u-mb-l">
        {{ form.csrf_token }}
        {{
            onsDateInput({
                "id": "date",
                "legend": "Enter a date",
                "day": {
                    "label": {
                        "text": "Day"
                    },
                    "name": "day",
                    "attributes": {
                        "autocomplete": "date-day"
                    }
                },
                "month": {
                    "label": {
                        "text": "Month"
                    },
                    "name": "month",
                    "attributes": {
                        "autocomplete": "date-month"
                    }
                },
                "year": {
                    "label": {
                        "text": "Year"
                    },
                    "name": "year",
                    "attributes": {
                        "autocomplete": "date-year"
                    }
                }
            })
        }}

        {{ onsDuration({
            "legend": "Time (Newport)",
            "field1": {
                "id": "time-select-hrs",
                "name": "hour",
                "label": "Hours",
                "attributes": {
                    "min": 0,
                    "max": 23
                }
            },
            "field2": {
                "id": "time-select-mins",
                "name": "minute",
                "label": "Minutes",
                "attributes": {
                    "min": 0,
                    "max": 59
                }
            }
        }) }}

        {{
            onsButton({
                "classes": "u-mb-s u-mt-l",
                "text": "Save",
                "id": "submit",
                "name": "submit"
            })
        }}   

        <p>
          <a href=" {{ url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=period) }}">Cancel</a>
        </p>
      </form>
    </div>
  </div>
{% endblock main %}
