{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/lists/_macro.njk" import onsList %}

{% set page_title = "Create Message" %}

{% block main %}
    {% if form.errors %}
        {% set errorData = [] %}

        {% call
            onsPanel({
                "title": "This page has 1 error" if form.errors|length == 1 else "There are " + form.errors|length|string + " errors on this page",
                "type": "error",
                "classes": "u-mb-l"
            })
        %}
        <p>These <strong>must be corrected</strong> to continue.</p>
        {% if form.subject.errors %}
            {% for error in form.subject.errors %}
                {% do errorData.append(
                    {
                        "text": error,
                        "index": true,
                        "url": "#secure-message-subject",
                        "classes": "js-inpagelink"
                    }
                ) %}
            {% endfor %}
        {% endif %}
        {% if form.body.errors %}
            {% for error in form.body.errors %}
                {% do errorData.append(
                    {
                        "text": error,
                        "index": true,
                        "url": "#secure-message-body",
                        "classes": "js-inpagelink"
                    }
                ) %}
            {% endfor %}
        {% endif %}
        {% if form.errors['sending'] %}
            {% do errorData.append(
                {
                    "text": form.errors['sending'],
                    "index": true
                }
            ) %}
        {% endif %}
        {{
            onsList({
                "classes": "list--bare",
                "itemsList": errorData
            }) 
        }}
        {% endcall %}
    {% endif %}
    
    <h1>Create message</h1>
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            <form action="{{ url_for('messages_bp.create_message') }}" method="post" id="create-message-form">
                {{ form.hidden_tag() }}
                {{ 
                    onsMetadata({
                        "termCol": "3",
                        "descriptionCol": "9",
                        "itemsList": [
                            {
                                "term": "Survey:",
                                "descriptions": [ 
                                    {
                                        "description": form.survey(id="survey-label"),
                                        "id": "survey"
                                    }
                                ]
                            },
                            {
                                "term": "RU Ref:",
                                "descriptions": [ 
                                    {
                                        "description": form.ru_ref(id="ru-ref-label"),
                                        "id": "ruref"
                                    }                
                                ]
                            },
                            {
                                "term": "Business:",
                                "descriptions": [ 
                                    {
                                        "description": form.business(id="business-label"),
                                        "id": "ru"
                                    }                                     
                                ]
                            },
                            {
                                "term": "To:",
                                "descriptions": [ 
                                    {
                                        "description": form.to(id="to-label"),
                                        "id": "recipient"
                                    }
                                ]
                            }     
                        ]
                    }) 
                }}

                {%- call onsFieldset({
                    "legend": "Complete the form to send a message",
                    "legendClasses": "u-vh"
                    }) -%}
                    {% if form.subject.errors %}
                        {% set subjectError = {} %}
                        {% for error in form.subject.errors %}
                            {% do subjectError | setAttribute("text", error) %}
                        {% endfor %}
                    {% endif %}
                    {% if form.body.errors %}
                        {% set bodyError = {} %}
                        {% for error in form.body.errors %}
                            {% do bodyError | setAttribute("text", error) %}
                        {% endfor %}
                    {% endif %}
                    {{
                        onsInput({
                            "id": "secure-message-subject",
                            "classes": "input--w-50",
                            "name": "subject",
                            "type": "text",
                            "label": {
                                "text": "Subject"
                            },
                            "maxlength": '96',
                            "attributes": {
                                "required": true
                            },
                            "error": subjectError
                        })
                    }}
                    {{
                        onsTextarea({
                            "id": "secure-message-body",
                            "name": "body",
                            "label": {
                                "text": "Message"
                            },
                            "maxlength": '10000',
                            "attributes": {
                                "required": true
                            },
                            "error": bodyError
                        })
                    }}
                {%- endcall -%}

                {{
                    onsButton({
                        "text": "Send",
                        "id": "btn-send-message",
                        "type": "submit",
                        "name": "send-message",
                        "submitType": "timer"
                    })
                }}    
            </form>
        </div>
    </div>
    {% if form.hidden_ru_ref.data %}
        <p class="u-mt-xs">
            <a href="{{ url_for('reporting_unit_bp.view_reporting_unit', ru_ref=form.hidden_ru_ref.data) }}" id="btn-cancel">Cancel</a>
        </p>
    {% endif %}
{% endblock %}
