{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}

{% set page_title = 'Create survey' %}
{% block main %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-8@m">
            <h1 class="ons-u-fs-xxl">Create survey</h1>
            <form action="" method="post">
                {{ form.csrf_token }}
                {% if errors %}
                    {% set errorData = [] %}

                    {% call
                        onsPanel({
                            "type":"error",
                            "id": "save-error",
                            "classes": "ons-u-mb-s",
                            "title": "This page has 1 error" if errors|length == 1 else "There are " + errors|length|string + " errors on this page"

                        })
                    %}
                        {% for field, error_list in errors %}
                            {% do errorData.append(
                                {
                                    "text": ', '.join(error_list),
                                    "index": true
                                }
                            ) %}
                        {% endfor %}
                        {{
                            onsList({
                                "classes": "ons-list--bare",
                                "itemsList": errorData
                            })
                        }}
                    {% endcall %}
                {% endif %}

                {%- call onsFieldset({
                    "legend": "Create new survey",
                    "legendClasses": "ons-u-vh"
                }) -%}
              <div class="ons-grid__col ons-col-5@m">
                    {{
                        onsInput({
                            "id": "long_name",
                            "name": "long_name",
                            "type": "text",
                            "maxLength": 100,
                            "attributes": {
                                "required": true
                            },
                            "label": {
                                "text": 'Survey title',
                                "description": "For example: Monthly Business Survey"
                            }
                        })
                    }}
                    {{
                        onsInput({
                            "id": "short_name",
                            "name": "short_name",
                            "type": "text",
                            "maxLength": 10,
                            "classes": "input--w-5",
                            "attributes": {
                                "required": true
                            },
                            "label": {
                                "text": 'Survey abbreviation',
                                "description": "For example: MBS"
                            }
                        })
                    }}
                    {{
                        onsInput({
                            "id": "survey_ref",
                            "name": "survey_ref",
                            "type": "text",
                            "maxLength": 20,
                            "value": survey_ref,
                            "classes": "input--w-5",
                            "attributes": {
                                "required": true
                            },
                            "label": {
                                "text": 'Survey ID',
                                "description": "For example: 001"
                            }
                        })
                    }}
              </div>
                {% endcall %}
                 <div class="ons-field field--select ons-u-mb-m">
                    {{
                        onsRadios({
                            "legend": "Survey mode",
                            "id": "surveyMode",
                            "name": "surveyMode",
                            "borderless": true,
                            "radios": [
                                {
                                    "id": "EQ",
                                    "label": {
                                        "text": "EQ"
                                    },
                                    "value": "EQ",
                                    "checked": true,
                                    },
                                {
                                    "id": "SEFT",
                                    "label": {
                                        "text": "SEFT"
                                    },
                                    "value": "SEFT"
                                },
                                {
                                    "id": "SEFT_AND_EQ",
                                    "label": {
                                        "text": "SEFT AND EQ"
                                    },
                                    "value": "SEFT_AND_EQ"
                                }
                            ]
                        })
                    }}
                </div>
                <p class="ons-field">
                    <label class="ons-label ons-u-fs-r--b " for="legal_basis">
                        Legal basis
                    </label>
                    {{ form.legal_basis(class_="input ons-list ons-list--bare", id='legal_basis', required=required) }}
                </p>
               
                <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
                    <div class="ons-grid__col">
                        {{
                            onsButton({
                                "text": "Create Survey",
                                "id": "save-btn"
                            })
                        }}
                    </div>
                    <div class="ons-grid__col ons-u-ml-s">
                        <a href="{{ url_for('surveys_bp.view_surveys') }}" role="button" class="ons-btn ons-btn--link ons-btn--secondary" id="btn-option-cancel">
                            <span class="ons-btn__inner">Cancel</span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
