{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}

{% set page_title = 'Create collection exercise' %}
{% block main %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-8@m">
            {% if errors %}
                {% call
                    onsPanel({
                        "type":"error",
                        "title": "This page has 1 error",
                        "classes": "ons-u-mb-s",
                        "id": "save-error"
                    })
                %}
                    <h2 id="error-creating-ce-message" class="ons-u-fs-r--b">Error creating collection exercise</h2>
                    <p class="ons-u-fs-r">{{ errors }}</p>
                {% endcall %}
            {% endif %}
             <h1 class="ons-u-fs-xl">Create collection exercise</h1>
            <form action="" method="post">
                {{ form.csrf_token }}
                {{
                    onsMetadata({
                        "termCol": "2",
                        "descriptionCol": "10",
                        "itemsList": [
                            {
                                "term": "Survey:",
                                "descriptions": [
                                    {
                                        "description": survey_ref ~ ' ' ~ short_name
                                    }
                                ]
                            }
                        ]
                    })
                }}

                {%- call onsFieldset({
                    "legend": "Create collection exercise",
                    "legendClasses": "ons-u-vh"
                }) -%}
                    {{
                        onsInput({
                            "id": "period",
                            "name": "period",
                            "type": "text",
                            "label": {
                                "text": 'Period'
                            },
                            "maxLength": 6,
                            "value": period,
                            "attributes": {
                                "required": true
                            }
                        })
                    }}
                    {{
                        onsInput({
                            "id": "user_description",
                            "name": "user_description",
                            "type": "text",
                            "label": {
                                "text": 'Period as shown to respondent'
                            },
                            "maxLength": 50,
                            "value": user_description,
                            "attributes": {
                                "required": true
                            }
                        })
                    }}
                {% endcall %}

                <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
                    <div class="ons-grid__col">
                        {{
                            onsButton({
                                "text": "Save",
                                "id": "save-btn"
                            })
                        }}
                    </div>
                    <div class="ons-grid__col ons-u-ml-m">
                        <a id="cancel-btn" href="{{ url_for('surveys_bp.view_survey', short_name=short_name, period=period) }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
