{% extends "layouts/spoke.html" %}
{% block page_title %} Edit contact details {% endblock %}
{% block main %}

<div role="main" id="main" class="page__main">


  <div class="spoke__header">

    <div class="spoke__header-title">

      <h1 class="u-fs-xl">Edit contact details</h1>

    </div>

  </div>

  <section class="spoke__body">

    {%- set href = url_for('respondent_bp.edit_contact_details', ru_ref=ru_ref, respondent_id=respondent_details.id) if tab=='respondents' else url_for('reporting_unit_bp.edit_contact_details', ru_ref=ru_ref, respondent_id=respondent_details.id) -%}
    <form action="{{ href }}" method="post">
      {{ form.csrf_token }}
      {% if error_type == 'api error' %}
      <div class="panel panel--simple panel--error u-mb-l">
        <div class="panel__body" id="save-error">
          <h2 id='error-saving-message' class="u-fs-r--b">Connection error</h2>
          <p class="u-fs-r">Please try saving your changes again.</p>
        </div>
      </div>
      {% endif %}

      {% if error_type == 'email conflict' %}
      <div class="panel panel--simple panel--error u-mb-l">
        <div class="panel__body" id="save-email-error">
          <h2 id='error-saving-email' class="u-fs-r--b">Error - email address already exists</h2>
          <p class="u-fs-r">Please enter a different email address.</p>
        </div>
      </div>
      {% endif %}

      <section>
        {% if errors %}
        <div class="panel panel--error u-mb-m">
          <div class="panel__header">
            {% if errors|length > 1 %}
            <h1 id="error-count" class="panel__title u-fs-r--b">This page has {{ errors|length }} errors</h1>
            {% else %}
            <h1 id="error-count" class="panel__title u-fs-r--b">This page has an error</h1>
            {% endif %}
          </div>
          <div class="panel__body">
            These must be corrected to continue.
            <ol class="list u-ml-s u-mt-xs">
              {% for error in form.last_name.errors %}
                <li class="list__item"><a href='#lastName'>{{ error }}</a></li>
              {% endfor %}
              {% for error in form.first_name.errors %}
                <li class="list__item"><a href='#firstName'>{{ error }}</a></li>
              {% endfor %}
              {% for error in form.email.errors %}
                <li class="list__item"><a href='#email'> c</a></li>
              {% endfor %}
            </ol>
           </div>
          </div>
          {% endif %}

        {% if failed_authentication %}
        <div id="lastname-panel" class="u-mb-m field panel panel--simple panel--error">
         {% else %}
         <div id="lastname-panel" class="field u-mb-m {% if form.last_name.errors %}panel panel--simple panel--error{% endif %}">
         {% endif %}
          <label for="lastName" class="label">
            Last Name
            <span class="secondary-info current-value">
              <span class="u-vh">Current value: </span>
                {{ respondent_details.lastName }}
            </span>
          </label>
          {% if errors %}<p class="u-vh">Last Name is required</p>{% endif %}
           {{ form.last_name(class_="input input--text", id='lastName', required=required, maxlength=254) }}
        </div>

        {% if failed_authentication %}
        <div id="firstname-panel" class="u-mb-m field panel panel--simple panel--error">
        {% else %}
        <div id="firstname-panel" class="field u-mb-m {% if form.first_name.errors %}panel panel--simple panel--error{% endif %}">
        {% endif %}
          <label for="firstName" class="label">
            First Name
            <span class="secondary-info current-value">
              <span class="u-vh">Current value: </span>
                {{ respondent_details.firstName }}
            </span>
          </label>
          {% if errors %}<p class="u-vh">First Name is required</p>{% endif %}
          {{ form.first_name(class_="input input--text", id='firstName', required=required, maxlength=254) }}
        </div>

        {% if failed_authentication %}
        <div id="email-panel" class="u-mb-m field panel panel--simple panel--error">
        {% else %}
        <div id="email-panel" class="field u-mb-m {% if form.email.errors %}panel panel--simple panel--error{% endif %}">
        {% endif %}
          <label for="email" class="label">
            Email Address
            <span class="secondary-info current-value">
              <span class="u-vh">Current value: </span>
                {{ respondent_details.emailAddress }}
            </span>
            <span class="label__description u-fs-s">ONS will send a verification email to the new address</span>
          </label>
          {% if errors %}<p class="u-vh">Email Address is required</p>{% endif %}
          {{ form.email(class_="input input--text", required=required, id='email', maxlength=254) }}
          <input type="hidden" name="hidden_email" value={{ respondent_details.emailAddress }}>
        </div>

        {% if failed_authentication %}
        <div id="telephone-panel" class="u-mb-m field panel panel--simple panel--error">
        {% else %}
        <div id="telephone-panel" class="field u-mb-m {% if form.telephone.errors %}panel panel--simple panel--error{% endif %}">
        {% endif %}
          <label for="telephone" class="label">
            Phone number
            <span class="secondary-info current-value">
              <span class="u-vh">Current value: </span>
                {{ respondent_details.telephone }}
            </span>
          </label>
          {% if errors %}<p class="u-vh">Telephone number is required</p>{% endif %}
          {{ form.telephone(class_="input input--text", id='telephone', required=required, maxlength=254) }}
        </div>

        <button class="btn u-mb-m" id="save-btn">Save changes</button>
      </form>
      </section>
    <div>
      {%- set href = url_for('respondent_bp.respondent_details', respondent_id=respondent_details.id) if tab=='respondents' else url_for('reporting_unit_bp.view_reporting_unit', ru_ref=ru_ref) -%}
      <a id="cancel-btn" href="{{ href }}" >Cancel</a>
    </div>
  </div>
</div>

{% endblock %}
