{% extends "layouts/base.html" %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/field/_macro.njk" import onsField %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/select/_macro.njk" import onsSelect %}
<!-- The "name": "banner" field within the textarea specifies that is getting posted -->
{% set page_title = 'Banner Admin'  %}
{% block main %}
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            <h1 class="u-fs-xl u-mt-m">Edit message template</h1>
            <form action="" method="post">
                {{ form.csrf_token }}
                {% if errors %}
                    {% set errorData = [] %}

                    {% call
                        onsPanel({
                            "type":"error",
                            "id": "save-error",
                            "classes": "u-mb-s",
                            "title": "This page has 1 error" if errors|length == 1 else "There are " + errors|length|string + " errors on this page"

                        })
                    %}
                        {% for field, error_list in errors %}
                            {% do errorData.append(
                                {
                                    "text": ', '.join(error_list),
                                    "index": true
                                }
                            ) %}
                        {% endfor %}
                        {{
                            onsList({
                                "classes": "list--bare",
                                "itemsList": errorData
                            }) 
                        }}
                    {% endcall %}
                {% endif %}
                    {%- call onsFieldset({
                        "legend": "Create a new banner",
                        "legendClasses": "u-vh",
                        "classes": "u-mt-m"
                        }) -%}
                        {% set alerts = [            
                            {
                                "value": "",
                                "text": "Select an option",
                                "disabled": true,
                                "selected": true
                            }
                        ] %}
                        
                        {{ 
                            onsTextarea({
                                "id": "banner-text",
                                "name": "banner",
                                "label": {
                                    "text": "Message"
                                },
                                "maxlength": '50000',
                                "attributes": {
                                    "required": true
                                },
                                "error": errorData if errorData
                            })
                        }}
                        <script{% if csp_nonce %} nonce="{{ csp_nonce() }}"{% endif %}>
                            document.getElementById("alert-list").classList.remove("hidden");
                            document.getElementById("alert-list-label").classList.remove("hidden");
                            document.getElementById("alert-list").addEventListener('change', function(event) {
                                document.getElementById("banner-text").value = event.target.value
                            });
                        </script>
                    {% endcall %}
                    {{
                        onsButton({
                            "classes": "u-mb-s u-mt-l",
                            "text": "Publish",
                            "id": "save-btn"
                        })
                    }}
             </form>
            <p>
                <a id="cancel-btn" href="{{ url_for('surveys_bp.view_surveys') }}">Cancel</a>
            </p>
        </div>
    </div>
{% endblock %}
