{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/radios/_macro.njk" import onsRadios %}

{% set page_title = 'Edit survey details' %}
{% block main %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-10@m">
            {% if errors %}
                {% call
                    onsPanel({
                        "type":"error",
                        "title": "This page has 1 error",
                        "classes": "ons-u-mb-s",
                        "id": "save-error"
                    })
                %}
                    <h2 id="error-saving-message" class="ons-u-fs-r--b">Error updating survey details</h2>
                    <p>Please remove any spaces or special characters from the name and try saving your changes again.</p>
                {% endcall %}
            {% endif %}
            <h1 class="ons-u-fs-xxl">Edit survey</h1>
            <form action="" method="post">
                {{ form.csrf_token }}
                {{
                    onsMetadata({
                        "termCol": "2",
                        "descriptionCol": "9",
                        "itemsList": [
                            {
                                "term": "Survey ID:",
                                "descriptions": [
                                    {
                                        "description": survey_ref
                                    }
                                ]
                            },
                            {
                                "term": "Legal Basis:",
                                "descriptions": [
                                    {
                                        "description": legal_basis
                                    }
                                ]
                            }
                        ]
                    })
                }}

                {%- call onsFieldset({
                    "legend": "Edit survey details",
                    "legendClasses": "ons-u-vh"
                }) -%}
                    {{
                        onsInput({
                            "id": "long_name",
                            "name": "long_name",
                            "type": "text",
                            "label": {
                                "text": 'Survey title'
                            },
                            "maxLength": 254,
                            "value": long_name,
                            "attributes": {
                                "required": true
                            }
                        })
                    }}
                    {{
                        onsInput({
                            "id": "short_name",
                            "name": "short_name",
                            "type": "text",
                            "label": {
                                "text": 'Survey abbreviation'
                            },
                            "maxLength": 10,
                            "value": short_name,
                            "attributes": {
                                "required": true
                            }
                        })
                    }}
                    {{
                        onsInput({
                            "id": "survey_ref",
                            "name": "hidden_survey_ref",
                            "type": "hidden",
                            "value": survey_ref,
                            "label": {
                                "text": 'Survey ref',
                                "classes": "ons-u-vh"
                            }
                        })
                    }}
                {% endcall %}
                <div class="ons-field field--select ons-u-mb-m">
                   {{
                        onsRadios({
                            "legend": "Survey mode",
                            "id": "survey_mode",
                            "name": "survey_mode",
                            "borderless": true,
                            "radios": [
                                {
                                    "id": "EQ",
                                    "label": {
                                        "text": "EQ"
                                    },
                                    "value": "EQ",
                                    "checked": true if survey_mode == 'EQ',
                                    },
                                {
                                    "id": "SEFT",
                                    "label": {
                                        "text": "SEFT"
                                    },
                                    "value": "SEFT",
                                    "checked": true if survey_mode == 'SEFT',
                                },
                                {
                                    "id": "EQ_AND_SEFT",
                                    "label": {
                                        "text": "EQ AND SEFT"
                                    },
                                    "value": "EQ_AND_SEFT",
                                    "checked": true if survey_mode == 'EQ_AND_SEFT',
                                }
                            ]
                        })
                    }}
                </div>
              
                <div class="ons-grid ons-grid--flex ons-grid--gutterless ons-grid--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
                    <div class="ons-grid__col">
                        {{
                            onsButton({
                                "text": "Save changes",
                                "id": "save-btn"
                            })
                        }}
                    </div>
                      <div class="ons-grid__col ons-u-ml-s">
                        <a href="{{ url_for('surveys_bp.view_surveys') }}" role="button" class="ons-btn ons-btn--link ons-btn--secondary" id="btn-option-cancel">
                            <span class="ons-btn__inner">Cancel</span></a>
                    </div>
                </div>  
            </form>
        </div>
    </div>
{% endblock %}
