{% extends "layouts/base.html" %}
{% set page_title = "Check your email" %}

{% block main %}
    <h1 class="ons-u-mt-xl">Password reset request sent</h1>
    <p>If {{ email }} is registered to an account, you'll receive an email with instructions to reset your password</p>

    <div class="guidance js-details"
        data-guidance-label="Help with email"
        data-guidance="Help with email"
        data-hide-label="Hide help with email"
        data-show-label="Show help with email">

        <div class="guidance__main js-details-body" id="guidance-help-with-email" aria-hidden="true">
            <div class="guidance__content ons-u-fs-r">
                <p>Email not arrived? It might be in your spam folder.</p>
                <p>If it doesn’t arrive in the next 15 minutes, please raise a service desk call with SDC RM</p>
            </div>
        </div>
    </div>
{% endblock main %}
