{% extends "layouts/base.html" %}

{% block page_title %} Home | Survey Data Collection {% endblock %}

{% block main %}

<div class="grid">
  <div class="grid__col col-12@m">
    <div role="main" id="main" class="page__main">
      <ul class="u-pt-l">
        <li><a name="surveys-link" href="/surveys/">View list of business surveys</a></li>
        <li><a name="messages-link" href="/messages/">View messages</a></li>
        <li><a name="create-message-link" href="/messages/create-message?ru_details=survey%3DBRES%2B2017%26ru_ref%3D49900000280%26business%3DBolts%2B%2526%2BRachets%2BLtd%26to%3DJacky%2BTurner%26to_uuid%3Df62dfda8-73b0-4e0e-97cf-1b06327a6712%26to_ru_id%3Dc614e64e-d981-4eba-b016-d9822f09a4fb">Create message link</a>
      </ul>
    </div>
  </div>
</div>

{% endblock main %}
