{% extends "layouts/base.html" %}

{% block page_title %} Home | Survey Data Collection {% endblock %}

{% block main %}

<div class="grid">
  <div class="grid__col col-12@m">
    <div role="main" id="main" class="page__main">
      <ul class="u-pt-l">
        <li><a name="surveys-link" href="/surveys/">View list of business surveys</a></li>
        <li><a name="messages-link" href="/messages/">View messages</a></li>
        <li><form action="{{ url_for('messages_bp.create_message')}}" method="post" id="create-message-view">
          <button type="submit" name="create-message" value="create-message-view" class="btn-link">Create message</button>
          <input type="hidden" name="ru_ref" value="49900000280">
          <input type="hidden" name="ru_id" value="c614e64e-d981-4eba-b016-d9822f09a4fb">
          <input type="hidden" name="business" value="Bolts & Rachets Ltd">
          <input type="hidden" name="survey" value="BRES 2017">
          <input type="hidden" name="survey_id" value="cb0711c3-0ac8-41d3-ae0e-567e5ea1ef87">
          <input type="hidden" name="case_id" value="c614e64e-d981-4eba-b016-d9822f09a4fb">
          <input type="hidden" name="msg_to_name" value="Jacky Turner">
          <input type="hidden" name="msg_to" value="f62dfda8-73b0-4e0e-97cf-1b06327a6712">
        </form></li>
      </ul>
    </div>
  </div>
</div>

{% endblock main %}
