{% extends "layouts/base.html" %}
{% from "components/lists/_macro.njk" import onsList %}

{% set page_title = "Home" %}

{% block main %}
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m ons-u-mt-xl">
            {{
                onsList({
                    "itemsList": [
                        {
                            "url": "/surveys/",
                            "text": "View list of business surveys",
                            "name": "surveys-link"
                        }
                    ]
                })
            }}
        </div>
    </div>
{% endblock main %}
