{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}

{% set page_title = 'Manage Alert Templates'  %}
{% block main %}
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            <h1 class="u-fs-xl u-mt-m">Manage message templates</h1>
            <p>
                <a id="create_message" href="{{ url_for('surveys_bp.view_surveys') }}">Create a new message template</a>
            </p>
            <form action="" method="post">
                {{ form.csrf_token }}
                {% set radioComponent = {
                    "legend": "Choose a template to edit",
                    "name": "event"
                } %}

                {% set radios = [] %}                
                {% for alert, message in alerts.items() %}
                    {% do radios.append(
                        {
                            "id": 'alert-' ~ loop.index,
                            "name": "alert",
                            "label": {
                                "text": alert
                            },
                            "value": message
                        }
                    ) %}
                {% endfor %}

                {% do radioComponent | setAttribute("radios", radios) %}
            
                {{
                    onsRadios(radioComponent)
                }}
                <p></p>
                <p></p>
                {{
                    onsButton({
                        "classes": "btn-group__btn",
                        "text": "Continue",
                        "id": "save-btn"
                    })
                }} 
                {{
                    onsButton({
                        "type": "button",
                        "classes": "btn--secondary btn-group__btn",
                        "text": "Cancel",
                        "id": "cancel-btn"
                    })
                }}
            </form>
            <p>
                <a id="cancel-btn" href="{{ url_for('surveys_bp.view_surveys') }}">Cancel</a>
            </p>
        </div>
    </div>
{% endblock %}
