{% extends "layouts/base.html" %}
{% block page_title %}Messages | Survey Data Collection{% endblock %}

{% block main %}
</br>

<div role="main" id="main" class="page__main">

  <div class="grid">
    <div class="grid__col col-30@l">
      <h1 class="jupiter">Filter messages by survey</h1>
        <form method="POST">
          {% if survey_list %}
            <div class="field field--radio field--multiplechoice">
              <fieldset>
                <legend class="field__legend mars u-mb-s">Please select a survey to see messages for your team</legend>
                <div class="field field--radio">
                  {% for survey in survey_list %}
                  <div class="field__item js-focusable-box">
                      <input class="input input--radio js-focusable" name="radio-answer" value={{ survey }} id={{ survey }} type="radio">
                      <label class="label label--inline venus" for={{ survey }}>{{ survey }}</label>
                  </div><br />
                  {% endfor %}
                  <div class="field__item js-focusable-box">
                      <input class="input input--radio js-focusable" name="radio-answer" value="BRES" id="BRES" type="radio">
                      <label class="label label--inline venus" for="BRES">BRES</label>
                  </div><br />
                </div>
              </fieldset>
            </div>

          <button class="btn u-mt-m" type="submit" id="continue">Continue</button>

          <br>
          <p>
            Or you can <a href="/messages"> view <b>all</b> messages.</a>
          </p>
          {% else %}
            <p> Unable to retrieve list of surveys </p>
          {% endif %}
        </form>
    </div>
  </div>
</div>
{% endblock %}
