{% extends "layouts/base.html" %}
{% block page_title %}Messages | Survey Data Collection{% endblock %}

{% block main %}

<div role="main" id="main" class="page__main">

  <div class="grid">
    <div class="grid__col col-12@m">
      {% if response_error %}
      <div class="panel panel--error col-6@m">
        <div class="panel__header">
            <h1 class="panel__title venus">Select a survey</h1>
        </div>
        <div class="panel__body">
            <p class="mars">Please select a survey to filter your messages.</p>
        </div>
      </div>
      {% endif %}
      <h1 class="jupiter">Filter messages by survey</h1>
        <form method="POST">
          {% if survey_list %}
            <div class="field field--radio field--multiplechoice">
              <fieldset>
                <legend class="field__legend mars u-mb-s">Please select a survey to see messages for your team</legend>
                <div class="field field--radio">
                  {% for survey in survey_list %}
                  <div class="field__item js-focusable-box">
                      <input class="input input--radio js-focusable" name="radio-answer" value="{{ survey.replace(' ', '') }}" id="{{ survey.replace(' ', '') }}" type="radio" required>
                      <label class="label label--inline venus" for="{{ survey.replace(' ', '') }}">{{ survey }}</label>
                  </div><br />
                  {% endfor %}
                </div>
              </fieldset>
            </div>

          <button class="btn u-mt-m" type="submit" id="continue">Continue</button>

          {% else %}
            <p> Unable to retrieve list of surveys </p>
          {% endif %}
        </form>

    </div>
  </div>
</div>
{% endblock %}
