{% extends "layouts/base.html" %}
{% block page_title %}Messages | Survey Data Collection{% endblock %}

{% block main %}

<div role="main" id="main" class="page__main">
  {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="panel panel--simple panel--success col-6@m u-mb-m">
              <div class="panel__body" data-qa="success-body">
                {% for message in messages %}
                <p class="mars" id="flashed-message-{{ loop.index }}">{{ message }}</p>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}

  {% if change_survey %}
    <h1 class="saturn u-mb-xs" name="page-messages-title">{{ selected_survey }} Messages

      <span class="mars">(<a id="change-survey" href="{{ url_for('messages_bp.select_survey') }}">Change survey</a>)</span>

    </h1>

  {% else %}
    <h1 class="jupiter" name="page-messages-title">Messages</h1>
  {% endif %}
  <div class="grid">
    <div class="grid__col col-12@m">
      <nav class="nav nav--horizontal nav--sub nav--dark u-mb-l u-pt-s" role="menu">
        <div class="container container--wide">
            <ul class="nav__list" aria-label="Section navigation menu">
                <li class="nav__item pluto {% if my_conversations %}nav__item--current{% endif %}">
                    <a class="nav__link" href="{{ url_for('messages_bp.view_selected_survey', selected_survey=selected_survey, my_conversations='true') }}" aria-current="{% if my_conversations %}location{% endif %}" role="menuitem">My Messages</a>
                </li>
                <li class="nav__item pluto {% if not is_closed and not my_conversations %}nav__item--current{% endif %}">
                    <a class="nav__link" href="{{ url_for('messages_bp.view_selected_survey', selected_survey=selected_survey) }}" aria-current="{% if not is_closed and not my_conversations %}location{% endif %}" role="menuitem">Open</a>
                </li>
                <li class="nav__item pluto {% if is_closed %}nav__item--current{% endif %}">
                    <a class="nav__link" href="{{ url_for('messages_bp.view_selected_survey', selected_survey=selected_survey, is_closed='true') }}" aria-current="{% if is_closed %}location{% endif %}" role="menuitem">Closed</a>
                </li>
            </ul>
        </div>
      </nav>
      <div class="messages-list">
        {% if response_error %}
        <div class="container page__container">
          <div class="grid">
            <div class="grid__col col-12@m">
              <div role="main" id="mains" class="page__main">
                <h1 class="saturn u-mt-l">Oops! Something went wrong</h1>
                <p>
                  There's an issue with the messaging service, please try again later.
                </p>
                <p>
                  Until then you can still use other parts of the system.
                </p>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        {% if not messages %}
          {% if is_closed %}
          <p>No closed conversations</p>
          {% elif my_conversations %}
          <p>There are currently no messages</p>
          {% else %}
          <p>No new conversations</p>
          {% endif %}
        {% else %}
        <table id="tbl-messages" class="message-list sortable" summary="messages in the system">
          <thead class="table--head">
            <tr class="table--row">
              <th scope="col" class="message-list__ru-ref sortable-column">
                RU Ref
              </th>
              <th scope="col" class="message-list__ru-name sortable-column">
                Business name
              </th>
              <th scope="col" class="message-list__subject sortable-column">
                Subject
              </th>
              <th scope="col" class="message-list__from sortable-column">
                From
              </th>
              <th scope="col" class="message-list__to sortable-column">
                To
              </th>
              <th scope="col" class="message-list__date-time sortable-column">
                Date and time
              </th>
            </tr>
          </thead>
              <tbody>
              {% for message in messages %}
                {% if message.unread %}
                   <tr name="message-unread" class="table--row table--row__selectable message-list__item--unread" id="message-{{ loop.index }}">
                    <td name="tbl-messages-RU_Ref" class="message-list__ru-ref circle-icon" id="ru-ref-{{ loop.index }}">
                {% else %}
                   <tr name="message" class="table--row table--row__selectable" id="message-{{ loop.index }}">
                    <td name="tbl-messages-RU_Ref" class="message-list__ru-ref" id="ru-ref-{{ loop.index }}">
                {% endif %}
                    {{ message.ru_ref or 'Unavailable' }}
                </td>
                <td name="tbl-messages-business" class="message-list__ru-name" id="business-name-{{ loop.index }}">
                    {{ message.business_name or 'Unavailable' }}
                </td>
                <td name="tbl-messages-subject" class="message-list__subject">
                    <a href="{{ url_for('messages_bp.view_conversation', thread_id=message.thread_id, page=page) }}#latest-message" id="message-link-{{ loop.index }}">{{ message.subject }}</a>
                </td>
                <td name="tbl-messages-from" class="message-list__from" id="message-from-{{ loop.index }}">
                    {{ message.from or 'Unavailable' }}
                </td>
                <td name="tbl-messages-to" class="message-list__to" id="message-to-{{ loop.index }}">
                    {{ message.to or 'Unavailable' }}
                </td>
                <td name="tbl-messages-received" class="message-list__date-time" id="received-time-{{ loop.index }}">
                   {{ message.sent_date or 'Unavailable' }}
                </td>
               </tr>
              {% endfor %}
              {% endif %}
          </tbody>
        </table>

        {{ pagination.links }}

        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
