{% extends "layouts/base.html" %}
{% block page_title %}Messages | Survey Data Collection{% endblock %}

{% block main %}
</br>

<div role="main" id="main" class="page__main">
  <h1 class="jupiter" name="page-messages-title">Messages</h1>
  <div class="grid">
    <div class="grid__col col-30@l">
      <div class="messages-list">
        {% if response_error %}
        <div class="container page__container">
          <div class="grid">
            <div class="grid__col col-12@m">
              <div role="main" id="mains" class="page__main">
                <h1 class="saturn u-mt-l">Oops! Something went wrong</h1>
                <p>
                  There's an issue with the messaging service, please try again later.
                </p>
                <p>
                  Until then you can still use other parts of the system.
                </p>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <table id="tbl-messages" class="table__dense" summary="messages in the system">
          <thead class="table--head">
            <tr class="table--row">
              <th scope="col" class="table--header--cell tbl-messages-RU-Ref">
                RU_Ref
              </th>
              <th scope="col" class="table--header--cell tbl-messages-business">
                Business name
              </th>
              <th scope="col" class="table--header--cell tbl-messages-subject">
                Subject
              </th>
              <th scope="col" class="table--header--cell tbl-messages-from">
                From
              </th>
              <th scope="col" class="table--header--cell tbl-messages-to">
                To
              </th>
              <th scope="col" class="table--header--cell tbl-messages-received">
                Received
              </th>
            </tr>
          </thead>
              <tbody>
              {% if not messages %}
                <p>No new messages</p>
              {% else %}
              {% for message in messages %}
               <tr class="table--row table--row__selectable">
                <td name="tbl-messages-RU_Ref" class="table--cell tbl-messages-RU_Ref">
                    {{ message.ru_ref }}
                </td>
                <td name="tbl-messages-business" class="table--cell tbl-messages-business">
                    {{ message.business_name }}
                </td>
                <td name="tbl-messages-subject" class="table--cell tbl-messages-subject">
                    {{ message.subject }}
                </td>
                <td name="tbl-messages-from" class="table--cell tbl-messages-from">
                    {{ message.from }}
                </td>
                <td name="tbl-messages-to" class="table--cell tbl-messages-to">
                    {{ message.to }}
                </td>
                <td name="tbl-messages-received" class="table--cell tbl-messages-received">
                   <time datetime="{{ message.sent_date }}">{{ message.sent_date }}</time>
                </td>
               </tr>
              {% endfor %}
              {% endif %}
          </tbody>
        </table>
          {%endif%}
      </div>
    </div>
  </div>
</div>
{% endblock %}
