{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsDescriptionList %}

{% set page_title = 'New enrolment code for ' ~ trading_as ~ ' ' ~ '(' ~ ru_ref ~ ') for survey ' ~ survey_ref ~ ' ' ~ survey_name %}
{% block main %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-8@m">
            <h1 class="ons-u-fs-xl">New enrolment code</h1>
            {{
                onsDescriptionList({
                    "termCol": "2",
                    "descriptionCol": "10",
                    "itemsList": [
                        {
                            "term": "Reference:",
                            "descriptions": [
                                {
                                    "description": ru_ref
                                }
                            ]
                        },
                        {
                            "term": "Name:",
                            "descriptions": [ 
                                {
                                    "description": ru_name,
                                    "id": "ru_name"
                                }
                            ]
                        },
                        {
                            "term": "Trading as:",
                            "descriptions": [
                                {
                                    "description": trading_as
                                }
                            ]
                        },
                        {
                            "term": "Survey:",
                            "descriptions": [
                                {
                                    "description": survey_name,
                                    "id": "survey"
                                }
                            ]
                        }
                    ]
                })
            }}

            <div class="ons-u-mt-l ons-u-mb-m">
                <div class="ons-u-fs-r">New enrolment code:</div>
                <div id="IAC" class="ons-u-fs-l ons-u-mt-s ons-u-mb-s">{{iac}}</div>
                <p id="copyEnrolmentCode" class="ons-u-fs-r">
                    You might want to make a note of this code before continuing
                </p>
            </div>

            <form action="/reporting-units/{{ru_ref}}">
                <input type="hidden" name="s" value="073" />
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {{
                    onsButton({
                        "classes": "ons-u-mb-s",
                        "text": 'Ok',
                        "id": "ok-button"
                    })
                }}
            </form>
        </div>
    </div>
{% endblock %}
