{% extends "layouts/base.html" %}
{% set page_title = 'Re-send verification email' %}
{% block main %}
<div role="main" id="main" class="page__main">


  <div class="spoke__header">

    <div class="spoke__header-title">
      <h1 class="u-fs-xl">Re-send verification email</h1>
    </div>

  </div>

    <div class="spoke__body">

    <form action="" method="post" class="u-mt-l">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" name="change" value="verification-email-sent" />

      <div>
        Re-send email to {{ email }}?
      </div>

      <button  id="confirm" type="submit" class="btn u-mb-s">Confirm</button>

      <div class="u-mt-xs">
        {%- set href = url_for('respondent_bp.respondent_details', respondent_id=respondent_id) if tab=='respondents' else url_for('reporting_unit_bp.view_reporting_unit', ru_ref=ru_ref) -%}
        <a id="cancel" href="{{ href }}" >Cancel</a>
      </div>

    </form>

  </div>

</div>
{% endblock %}

