{% extends "layouts/base.html" %}
{% block page_title %}{{ru.name}} | Reporting units | Survey Data Collection{% endblock %}

{% block main %}
<h1 id="RU_NAME" class="jupiter">{{ ru.name }}</h1>

  <dl class="item-headlines">
    <dt class="item-headlines-term">
      Reference:
    </dt>
    <dd id="RU_REF" class="item-headlines-definition">
      {{ ru.sampleUnitRef }}
    </dd>
  </dl>

  <h2 class="saturn">Surveys</h2>

  {% for survey in surveys %}
  <div class="ru-survey">
    <h3 name="survey-titles" class="saturn">{{ survey.surveyRef }} {{ survey.shortName }}</h3>

    <div class="ru-survey-ces">

      <h4 class="neptune">Collection exercises</h4>

      <table name="tbl-ce-for-survey" class="table table__dense" summary="Collection exercises for {{survey.shortName}} for {{ ru.sampleUnitRef }}">
        <thead class="table--head u-vhx">
          <tr class="table--row">
            <th scope="col" class="table--header--cell">
              Period
            </th>
            <th scope="col" class="table--header--cell">
              Reporting unit name (from sample)
            </th>
            <th scope="col" class="table--header--cell">
              Region (from sample)
            </th>
            <th scope="col" class="table--header--cell">
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          {% for ce in survey.collection_exercises[:4] %}
          <tr class="table--row">
            <td name="tbl-ce-period" class="table--cell">
              {{ ce.exerciseRef }}
            </td>
            <td name="tbl-ce-company-name" class="table--cell">
              {{ ce.companyName }}
            </td>
            <td name="tbl-ce-company-region" class="table--cell">
              {{ ce.companyRegion }}
            </td>
            <td name="tbl-ce-status" class="table--cell">
              {{ ce.responseStatus }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <div class="ru-survey-respondents u-pt-s">

      <h4 class="neptune">Respondents</h4>

      <div class="ru-survey-enrolment-code u-pb-s">
        {% if survey.activeIacCode %}
        Unused enrolment code: {{survey.activeIacCode}}
        {% endif %}
      </div>

      <table name="tbl-respondents-for-survey" class="table table__dense tbl-ru-survey-respondents" summary="Respondents for {{survey.shortName}} for {{ ru.sampleUnitRef }}">
        <thead class="table--head">
        <tr class="table--row">
          <th scope="col" class="table--header--cell">
            Name and contact details
          </th>
          <th scope="col" class="table--header--cell">
            Enrolment status
          </th>
          <th scope="col" class="table--header--cell">
            Messages
          </th>
        </tr>
        </thead>
        <tbody>
        {% for respondent in survey.respondents %}
        <tr class="table--row">
          <td name="tbl-respondent-details" class="table--cell">
            <dl class="description-list">
              <dt>
                Name
              </dt>
              <dd name="tbl-respondent-name">
                {{ respondent.firstName }} {{ respondent.lastName }}
              </dd>
              <dt>
                Email
              </dt>
              <dd name="tbl-respondent-email">
                {{ respondent.emailAddress }}
              </dd>
              <dt>
                Tel
              </dt>
              <dd name="tbl-respondent-phone">
                {{ respondent.telephone }}
              </dd>
              <dt>
                Account
              </dt>
              <dd name="tbl-respondent-status">
                {{ respondent.status }}
              </dd>
            </dl>
          </td>
          <td name="tbl-enrolment-status" class="table--cell">
            {{ respondent.enrolmentStatus }}
          </td>
          <td class="table--cell">
            <a href="">Create message</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
  {% endfor %}
{% endblock %}
