{% extends "layouts/base.html" %}
{% block page_title %}{{ru.name}} | Reporting units | Survey Data Collection{% endblock %}

{% block main %}
<h1 id="RU_NAME" class="jupiter">{{ ru.name }}</h1>

  <dl class="item-headlines">
    <dt class="item-headlines-term">
      Reference:
    </dt>
    <dd id="RU_REF" class="item-headlines-definition">
      {{ ru.sampleUnitRef }}
    </dd>
  </dl>

  <h2 class="saturn">Surveys</h2>

  {% for survey in surveys %}
  <div class="ru-survey">
    <h3 name="survey-titles" class="saturn">{{ survey.surveyRef }} {{ survey.shortName }}</h3>

    <div class="ru-survey-ces">

      <h4 class="neptune">Collection exercises</h4>

      <table name="tbl-ce-for-survey" class="table table__dense" summary="Collection exercises for {{survey.shortName}} for {{ ru.sampleUnitRef }}">
        <thead class="table--head u-vhx">
          <tr class="table--row">
            <th scope="col" class="table--header--cell">
              Period
            </th>
            <th scope="col" class="table--header--cell">
              Reporting unit name (from sample)
            </th>
            <th scope="col" class="table--header--cell">
              Region (from sample)
            </th>
            <th scope="col" class="table--header--cell">
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          {% for ce in survey.collection_exercises[:4] %}
          <tr class="table--row">
            <td name="tbl-ce-period" class="table--cell">
              {{ ce.exerciseRef }}
            </td>
            <td name="tbl-ce-company-name" class="table--cell">
              {{ ce.companyName }}
            </td>
            <td name="tbl-ce-company-region" class="table--cell">
              {{ ce.companyRegion }}
            </td>
            <td name="tbl-ce-status" class="table--cell">
              {{ ce.responseStatus }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
  {% endfor %}
{% endblock %}
