{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/table/_macro.njk" import onsTable %}

{% set page_title = ru.name + " | " + survey.display_name %}
{% set is_reporting_unit_permission = hasPermission('reportingunits.edit') %}
{% set is_message_edit_permission = hasPermission('messages.edit') %}
{% block main %}

    <div class="ons-grid ons-u-mb-xs">
      {{
            onsButton({
                "variants": ['secondary', 'small'],
                "text": "Back to surveys",
                "classes": "ons-u-ml-s",
                "url": url_for('reporting_unit_bp.view_reporting_unit', ru_ref=ru.sampleUnitRef),
                "noIcon": true
            })
    }}
    </div>
    <div class="ons-grid">
        <div id="main" class="ons-grid__col ons-col-10@m">
            <h1 id="RU_NAME" class="ons-u-fs-l">{{ ru.name }}</h1>
            <h2 id="SURVEY_NAME" class="ons-u-fs-xl">{{ survey.display_name }}</h2>
        </div>
        <div class="ons-grid__col ons-col-12@m">
            <div class="ru-survey-ces">
                <h3 id="COLLECTION_EXERCISES" class="ons-u-fs-m">Collection exercises</h3>

                {%
                    set collectionExerciseTableData = {
                        "variants": ['compact', 'responsive'],
                        "id": 'tbl-collection-exercises',
                        "ths": [
                            {
                                "value": "Period"
                            },
                            {
                                "value": "Reporting unit name"
                            },
                            {
                                "value": "Trading as"
                            },
                            {
                                "value": "Region"
                            },
                            {
                                "value": "Status"
                            }
                        ]
                    }
                %}

                {% set collectionExerciseTableDataRows = [] %}

                {% for ce in collection_exercises %}
                    {% if ce.responseStatus == 'Not started' or ce.responseStatus == 'No longer required' %}
                        {% set status_class = 'ons-status--dead' %}
                    {% elif ce.responseStatus == 'In progress' or ce.responseStatus == 'Completed' or ce.responseStatus == 'Completed by phone' %}
                        {% set status_class = 'ons-status--success' %}
                    {% else %}
                        {% set status_class = 'ons-status--error' %}
                    {% endif %}

                    {% if ce.responseStatus in ['Not started', 'In progress'] and is_reporting_unit_permission  %}
                        {% set survey_link = '&nbsp;   <a href="' + url_for("case_bp.get_response_statuses", ru_ref=ru.sampleUnitRef, survey=survey.shortName, period=ce.exerciseRef) + '">Change</a>' %}
                    {% elif ce.responseStatus in ['Completed', 'Completed by phone', 'No longer required'] and is_reporting_unit_permission  %}
                        {% set survey_link = '&nbsp;   <a href="' + url_for("case_bp.get_response_statuses", ru_ref=ru.sampleUnitRef, survey=survey.shortName, period=ce.exerciseRef) + '">View</a>' %}
                    {% else %}
                        {% set survey_link = '' %}
                    {% endif %}
                    {% do collectionExerciseTableDataRows.append(
                        {
                            "tds": [
                                {
                                    "value": ce.exerciseRef,
                                    "data": "Period",
                                    "name": "tbl-collection-exercises-period"
                                },
                                {
                                    "value": ce.companyName,
                                    "data": "Reporting unit name",
                                    "name": "tbl-collection-exercises-ru-name"
                                },
                                {
                                    "value": ce.tradingAs,
                                    "data": "Trading as",
                                    "name": "tbl-collection-exercises-trading-as"
                                },
                                {
                                    "value": ce.companyRegion,
                                    "data": "Region",
                                    "name": "tbl-collection-exercises-region"
                                },
                                {
                                    "value": '<span class="ons-status ' + status_class + '">' + ce.responseStatus + '</span>' + survey_link,
                                    "data": "Status",
                                    "name": "tbl-collection-exercises-status"
                                },
                            ]
                        }
                    ) %}
                {% endfor %}

                {% do collectionExerciseTableData | setAttribute("trs", collectionExerciseTableDataRows) %}
                {{
                    onsTable(collectionExerciseTableData)
                }}
            </div>
            <div class="ru-survey-respondents ons-u-pt-s">
                <h3 id="RESPONDENTS" class="ons-u-fs-m">Respondents</h3>
                {% if is_reporting_unit_permission %}
                  {% if iac != "" %}
                    <div>Unused enrolment code:
                        <code class="ons-u-fs-r ons-u-ml-s" id="unused-enrolment-code">{{ iac }}</code>
                    </div>
                  {% else %}
                    <a href="{{ url_for('reporting_unit_bp.generate_new_enrolment_code', case_id=case.id,
                        collection_exercise_id=collection_exercises[0].id, ru_name=ru.name,
                        ru_ref=ru.sampleUnitRef, trading_as=collection_exercises[0].tradingAs, survey_ref=survey.surveyRef,
                        survey_name=survey.shortName) }}"
                        id="generate-new-code-{{survey.shortName}}">Generate new enrolment code</a>
                  {% endif %}
                {% endif %}
                {%
                    set respondentTableData = {
                        "variants": ['compact', 'responsive'],
                        "id": 'tbl-respondents',
                        "ths": [
                            {
                                "value": "Contact details"
                            },
                            {
                                "value": "Account status"
                            },
                            {
                                "value": "Enrolment status"
                            },
                            {
                                "value": "Messages"
                            }
                        ]
                    }
                %}

                {% set respondentTableDataRows = [] %}

                {% for respondent in respondents %}
                    {% if respondent.status == 'SUSPENDED' %}
                        {% set account_status_class = 'ons-status--error' %}
                    {% else %}
                        {% set account_status_class = 'ons-status--success' %}
                    {% endif %}

                    {% if respondent.enrolmentStatus == 'ENABLED' %}
                        {% set enrolment_status_class = 'ons-status--success' %}
                        {% set change_status_link = '<a href="' + url_for("reporting_unit_bp.confirm_change_enrolment_status", ru_ref=ru.sampleUnitRef, ru_name=ru.name, survey_id=survey.id,
                            survey_name=survey.shortName, respondent_id=respondent.id, respondent_first_name=respondent.firstName,
                            respondent_last_name=respondent.lastName, business_id=ru.id, trading_as=ru.trading_as, change_flag="DISABLED", tab="reporting_units") + '" id="change-enrolment-status">Disable</a>' %}
                    {% elif respondent.enrolmentStatus == 'PENDING' %}
                        {% set enrolment_status_class = 'ons-status--info' %}
                        {% set change_status_link = '<a href="' + url_for("reporting_unit_bp.view_resend_verification", ru_ref=ru.sampleUnitRef, party_id=respondent.id) + '">Re-send verification email</a>' %}
                    {% else %}
                        {% set enrolment_status_class = 'ons-status--dead' %}
                        {% set change_status_link = '<a href="' + url_for("reporting_unit_bp.confirm_change_enrolment_status", ru_ref=ru.sampleUnitRef, ru_name=ru.name, survey_id=survey.id,
                            survey_name=survey.shortName, respondent_id=respondent.id, respondent_first_name=respondent.firstName,
                            respondent_last_name=respondent.lastName, business_id=ru.id, trading_as=ru.trading_as, change_flag='ENABLED', tab="reporting_units") + '" id="change-enrolment-status">Re-enable</a>' %}
                    {% endif %}
                    {% if not is_reporting_unit_permission %}
                       {% set change_status_link = '' %}
                    {% endif %}
              
              {% if is_message_edit_permission %}
  
                      {% set formData = {
                          "action": url_for('messages_bp.create_message'),
                          "button": {
                              "text": "Create message",
                              "id": "create-message-button-" + loop.index|string,
                              "classes": 'ons-btn--secondary ons-btn--small',
                              "value": 'create-message-view',
                              "name": 'create-message'
                          },
                          "hiddenFormField": [
                              {
                                  "name": "ru_ref",
                                  "value": ru.sampleUnitRef
                              },
                              {
                                  "name": "business_id",
                                  "value": ru.id
                              },
                              {
                                  "name": "business",
                                  "value": ru.name
                              },
                              {
                                  "name": "survey",
                                  "value": survey.shortName
                              },
                              {
                                  "name": "survey_id",
                                  "value": survey.id
                              },
                              {
                                  "name": "msg_to_name",
                                  "value": respondent.firstName + ' ' + respondent.lastName
                              },
                              {
                                  "name": "msg_to",
                                  "value": respondent.id
                              },
                              {
                                  "name": "csrf_token",
                                  "value": csrf_token()
                              }
                          ]
                      } %}
              {% endif %}
                    {% do respondentTableDataRows.append(
                        {
                            "tds": [
                                {
                                    "value": '<dl class="description-list">
                                            <dt>
                                                Name:
                                            </dt>
                                            <dd name="tbl-respondent-name">
                                                ' + respondent.firstName + ' ' + respondent.lastName + '
                                            </dd>
                                            <dt>
                                                Email:
                                            </dt>
                                            <dd name="tbl-respondent-email">
                                                ' + respondent.emailAddress + '
                                            </dd>
                                            <dt>
                                                Tel:
                                            </dt>
                                            <dd name="tbl-respondent-phone">
                                                ' + respondent.telephone + '
                                            </dd>
                                        </dl>',
                                    "data": "Contact details",
                                    "name": "tbl-respondents-contact-details"
                                },
                                {
                                    "value": '<span class="ons-status ' + account_status_class + '">' + respondent.status|title + '</span>',
                                    "data": "Account status",
                                    "name": "tbl-respondents-account-status"
                                },
                                {
                                    "value": '<span class="ons-status ' + enrolment_status_class + '">' + respondent.enrolmentStatus|title + '</span> <br/>' + change_status_link,
                                    "data": "Enrolment status",
                                    "name": "tbl-respondents-enrolment-status"
                                },
                                {
                                    "form": formData
                                }
                            ]
                        }
                    ) %}
                {% endfor %}

                {% do respondentTableData | setAttribute("trs", respondentTableDataRows) %}
                {{
                    onsTable(respondentTableData)
                }}
            </div>
        </div>
    </div>
{% endblock %}
