{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/description-list/_macro.njk" import onsDescriptionList %}
{% from "components/table/_macro.njk" import onsTable %}

{% set page_title = ru.name + " | Reporting units" %}

{% block main %}
    {% include 'partials/flashed-messages.html' %}

    <h1 id="RU_NAME" class="ons-u-fs-xl">{{ ru.name }}</h1>
{{
    onsDescriptionList({
        "classes": "ons-u-mb-no",
        "descriptionListLabel": "Information about this business and its survey requirements",
        "termCol": "2",
        "descriptionCol": "10",
        "itemsList": [
            {
                "term": "Reference:",
                "descriptions": [
                    {
                        "description": ru.sampleUnitRef
                    }
                ]
            },
            {
                "term": "Trading as:",
                "descriptions": [
                    {
                        "description": ru.trading_as
                    }
                ]
            }
        ]
    })
}}
  <div class="ons-header__grid-top">
    <div class="ons-grid__col ons-col-10@m ons-u-pl-no">
        {% include 'partials/reporting-unit-tabs.html' %}
        {% 
            set respondentTableData = {
                "variants": ['compact', 'responsive'],
                "id": 'tbl-respondents',
                "ths": [
                    {
                        "value": "Respondent"
                    },
                    {
                        "value": "Account status"
                    },
                    {
                        "value": "Surveys"
                    }
                ]
            }
        %}

        {% set respondentTableDataRows = [] %}

        {% if respondents|length > 0 %}
            {% for respondent in respondents %}
                {% set survey_string = [] %}
                {% for survey in respondent.surveys %}
                        {% do survey_string.append('<a href="' + url_for("reporting_unit_bp.view_reporting_unit_survey", ru_ref=ru.sampleUnitRef, survey_id=survey[0]) + '">' + survey[1].name + '</a>') %}
                    {% if survey[1].status == "DISABLED" %}
                        {% do survey_string.append(" (Account disabled)") %}
                    {% endif %}
                    {% do survey_string.append("<br/>") %}
                {% endfor %}
                {% if hasPermission('reportingunits.edit') %}
                  {% set res = '<a href="' + url_for("reporting_unit_bp.view_contact_details", ru_ref=ru.sampleUnitRef, respondent_id= respondent.id) + '">' + respondent.respondent + '</a>' %}
                {% else %}
                  {% set res = respondent.respondent %}
                {% endif %}
                {% do respondentTableDataRows.append( 
                    {
                        "tds": [
                            {
                                "value": res,
                                "data": "Respondent"
                            },
                            {
                                "value": respondent.status,
                                "data": "Account status"
                            },
                            {
                                "value": survey_string|join(''),
                                "data": "Surveys"
                            }
                        ]
                    }
                ) %}
            {% endfor %}
            {% do respondentTableData | setAttribute("trs", respondentTableDataRows) %}
            {{
                onsTable(respondentTableData)
            }}
        {% else %}
            <p>No respondents enrolled for this reporting unit</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
