{% extends "layouts/base.html" %}
{% set page_title = 'Request New Account' %}

{% block main %}
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m ons-u-mt-m">
            <h1 class="ons-u-mt-l">Account already exists</h1>
            <p class="ons-u-mb-l">An account already exists for the email {{ email }}<br/>
                If you have forgotten your password, you can <a href="/passwords/forgot-password">request a password reset</a>.</br/>
                Otherwise, please <a href="/sign-in">sign in to your account.</a></p>
        </div>
    </div>
{% endblock main %}
