{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/password/_macro.njk" import onsPassword %}

{% set errorType = data['error']['type'] %}

{% set page_title = "Reset Password" %}

{% block main %}

{% if errorType %}

    {% set errorNotEnteredTitle = "Password is required" %}
    {% set errorNotEnteredDescription = "Please check the passwords and try again" %}

    {% set errorNoMatchTitle = "Your passwords do not match" %}
    {% set errorNoMatchDescription = "Please check the passwords and try again" %}

    {% set errorStrongerPasswordTitle = "Your password doesn't meet the requirements" %}
    {% set errorStrongerPasswordDescription = "Please choose a different password" %}

    {% set errorPasswordSameAsOldTitle = "Your password matches your old password" %}
    {% set errorPasswordSameAsOldDescription = "Please choose a different password or login with the old password" %}

    {% set errorTitle = {
        errorNotEnteredTitle if errorType.password[0] == errorNotEnteredTitle
        errorNoMatchTitle if errorType.password[0] == errorNoMatchTitle
        errorStrongerPasswordTitle if errorType.password[0] == errorStrongerPasswordTitle
        errorPasswordSameAsOldTitle if errorType.password[0] == errorPasswordSameAsOldTitle
    } %}
    {% set errorDescription = {
        errorNotEnteredDescription if errorType.password[0] == errorNotEnteredTitle
        errorNoMatchDescription if errorType.password[0] == errorNoMatchTitle
        errorStrongerPasswordDescription if errorType.password[0] == errorStrongerPasswordTitle
        errorPasswordSameAsOldDescription if errorType.password[0] == errorPasswordSameAsOldDescription
    } %}

    {% call
        onsPanel({
            "type": "error",
            "classes": "u-mb-s",
            "title": errorTitle
        })
    %}
        <p>This <strong>must be corrected</strong> to continue.</p>
        <a href="#reset-details" class="js-inpagelink">
        {{ errorDescription }}
    {% endcall %}
{% endif %}

<form
    method="post"
    action="{{ url_for('passwords_bp.post_reset_password', token=data.token) }}"
    class="form"
    role="form">
    {{ form.csrf_token }}

    <h1 class="u-fs-l">Reset your password</h1>
    <p>Your password must have:</p>
    {{
        onsList({
            "itemsList": [
                {
                    "text": "at least 8 characters"
                },
                {
                    "text": "at least one capital letter"
                },
                {
                    "text": "at least one symbol (eg ?!£%)"
                },
                {
                    "text": "at least one number"
                }
            ]
        }) 
    }}

    {% if errorType.password %}
        {% set error = { "text": errorType['password'][0] } %}
    {% endif %}

    {%- call onsFieldset({
        "legend": "Choose a password",
        "legendClasses": "u-vh"

    }) -%}
        {{
            onsPassword({
                "id": "inputPassword",
                "name": "inputPassword",
                "label": {
                    "text": "New password"
                },
                "attributes": {
                    "autocomplete": 'off'
                },
                "error": error
            })
        }}
        {{
            onsInput({
                "id": "inputPassword",
                "name": "inputPassword",
                "label": {
                    "text": "Re-type Password"
                },
                "attributes": {
                    "autocomplete": 'off'
                },
                "error": error
            })
        }}
    {%- endcall -%}

    {{
        onsButton({
            "classes": "u-mb-s",
            "text": "Confirm",
            "id": "confirm_password_button"
        })
    }}   

    <p><a href="{{ url_for('sign_in_bp.sign_in') }}">Cancel</a></p>

</form>
{% endblock main %}
