{% extends "layouts/base.html" %}
{% block page_title %}Respondents | Survey Data Collection{% endblock %}

{% block main %}
    <div role="main" id="main" class="page__main">
    <h1 class="jupiter">Respondents</h1>
    <div class="grid">
        <div class="grid__col col-12@l">

            <div class="ru-search">

                <form action="" method="post">
                    {{ form.csrf_token }}

                    <div class="field u-mb-s">
                        <label class="label">Type a verified respondents email</label>
                        {{ form.query(size=20, class_="respondent-search-box input input--text")}}
                    </div>

                    <div>
                        <button id="btn-search-respondent" type="submit" class="btn btn--primary">Search</button>
                    </div>
                </form>

            </div>

            {% if respondent.id %}

                <dl class="description-list">
                <dt>
                  Name
                </dt>
                <dd id="respondent-name" name="tbl-respondent-name">
                  {{ respondent.firstName }} {{ respondent.lastName }}
                </dd>
                <dt>
                  Email
                </dt>
                <dd id="respondent-email" name="tbl-respondent-email">
                  {{ respondent.emailAddress }}
                </dd>
                <dt>
                  Tel
                </dt>
                <dd name="tbl-respondent-phone">
                  {{ respondent.telephone }}
                </dd>
                    <dt>
                        Account Status
                    </dt>
                    <dd>
                        {{ respondent.status }}
                    </dd>
                <div>
                  <form action="{{ url_for('reporting_unit_bp.view_contact_details', ru_ref=ru.sampleUnitRef, respondent_id=respondent.id)}}" method="get">
                  <a href=# id="edit-contact-details-btn" onclick="this.parentNode.submit()"> Edit contact details </a>
                  </form>
                </div>
              </dl>
            {% else %}
                No Respondent found.
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}