{% extends "layouts/base.html" %}
{% block page_title %}Respondents | Survey Data Collection{% endblock %}

{% block main %}
    <div role="main" id="main" class="page__main">
        <h1 class="jupiter">Respondents</h1>
        <div class="grid">
            <div class="grid__col col-12@l">

                <div class="ru-search">

                    <form action="" method="post">
                        {{ form.csrf_token }}

                        <div class="field u-mb-s">
                            <label class="label">Type a verified respondents email</label>
                            {{ form.query(size=20, class_="respondent-search-box input input--text")}}
                        </div>

                        <div>
                            <button id="btn-search-respondent" type="submit" class="btn btn--primary">Search</button>
                        </div>
                    </form>

                </div>
                {% if response %}
                    No Respondent found.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}