{% extends "layouts/base.html" %}

{% block page_title %} Sign-In | Survey Data Collection {% endblock %}


{% block main %}
<br>
<div class="container page__container">
  <div class="grid">
    <div class="grid__col col-12@m">
      <form action="/" method="post">
        {{ form.csrf_token }}
        <div>
          Username <br>
          {{ form.username(size=20) }} <br>
        </div>
        <div>
          Password <br>
          {{ form.password(size=20) }} <br>
        </div>
        <br>
        <input type="submit" class="btn btn--primary" value="Login">
      </form>
    </div>
  </div>
</div>



<div class="container page__container">
  <div class="grid">
    <div class="grid__col col-12@m">
      <div role="main" id="main" class="page__main">
        <ul class="u-pt-l">
          <li><a name="surveys-link" href="/surveys/">View list of business surveys</a></li>
          <li><a name="logout-link" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



{% endblock main %}
