{% extends "layouts/base.html" %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/error/_macro.njk" import onsError %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/password/_macro.njk" import onsPassword %}

{% set page_title = "Sign-In" %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "failed_authentication" or category == "successful_signout" or category == "account_created" or category == "warn" %}
                    {% if category == "failed_authentication" %}
                        {% set type = "error" %}
                    {% elif category == "warn" %}
                        {% set type = "warn" %}
                    {% else %}
                        {% set type = "success" %}
                    {% endif %}
                    {% call
                        onsPanel({
                            "type": type,
                            "classes": "ons-u-mb-s",
                            "title": message if category == "failed_authentication",
                            "iconType": "check" if category == "successful_signout" else null,
                        })
                    %}
                        {% if category == "failed_authentication" %}
                            <p><a href="#username" id="try-again-link" class="ons-js-inpagelink">Please try again</a></p>
                        {% elif category == "warn" %}
                            <p id="signed-out-warning">{{ message }}</p>
                        {% else %}
                            <p id="successfully-signed-out">{{ message }}</p>
                        {% endif %}
                    {% endcall %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" class="form">
        {{ form.csrf_token }}
        {% if form.errors %}
            {% set errorData = [] %}
            {% call
                onsPanel({
                    title: "This page has 1 error" if form.errors|length == 1 else "There are {{ form.errors|length }} errors on this page",
                    type: "error"
                })
            %}
                <p>These <strong>must be corrected</strong> to continue.</p>
                {% for error in form.username.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#username",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {% for error in form.password.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#password",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {{
                    onsList({
                        "classes": "list--bare",
                        "itemsList": errorData
                    })
                }}
            {% endcall %}
        {% endif %}
        <h2>Sign in</h2>
        {% if failed_authentication or form.username.errors | length > 0 %}
            {% set error = { "text": "Email address is required" } %}
        {% endif %}
        {%- call onsFieldset({
            "legend": "Sign in",
            "legendClasses": "ons-u-vh"
        }) -%}
            {{
                onsInput({
                    "id": "username",
                    "name": "username",
                    "type": "text",
                    "label": {
                        "text": "Email address"
                    },
                    "attributes": {
                        "required": true
                    },
                    "error": error
                })
            }}

            {% if failed_authentication or form.password.errors | length > 0 %}
                {% set error = { "text": "Password is required" } %}
            {% endif %}

            {{
                onsPassword({
                    "id": "password",
                    "name": "password",
                    "label": {
                        "text": "Password"
                    },
                    "showPasswordText": "Show password",
                    "error": error
                })
            }}
        {%- endcall -%}
        {{
            onsButton({
                "text": "Sign in",
                "type": "submit",
                "classes": "ons-u-mt-l",
                "id": "SIGN_IN_BUTTON",
                "submitType": "timer"
            })
        }}
    </form>
    <div class="ons-u-mt-m">
        <a href="/passwords/forgot-password">Forgot password?</a>
    </div>
{% endblock main %}
