{% extends "layouts/social-base.html" %}
{% block page_title %}Social | Survey Data Collection{% endblock %}
{% block main %}

<div class="container page__container">
    <h1 class="jupiter u-mt-m" id="case_ref">{{attributes.Reference}}</h1>
    <div class="case-details u-mt-m">
        <dl class="description-list description-list-4" id="case-status">
            <dt class="description-list__name">
                Status:
            </dt>
            <dd class="description-list__value" id="case-group-status">
                {{status.caseGroupStatus}}
            </dd>
        </dl>
        <section class="social-case-section u-mt-l">
            <h2 class="neptune">Property address</h2>
            <dl class="survey-info info-panel" id="case-attributes">
                {% if attributes.Prem1 %}
                <dt class="case-address__prem" id="case-prem1">
                    {{attributes.Prem1}}
                </dt>
                {% endif %}
                {% if attributes.Prem2 %}
                <dt class="case-address__prem" id="case-prem2">
                    {{attributes.Prem2}}
                </dt>
                {% endif %}
                {% if attributes.Prem3 %}
                <dt class="case-address__prem" id="case-prem3">
                    {{attributes.Prem3}}
                </dt>
                {% endif %}
                {% if attributes.Prem4 %}
                <dt class="case-address__prem" id="case-prem4">
                    {{attributes.Prem4}}
                </dt>
                {% endif %}
                {% if attributes.District %}
                <dt class="case-address__prem" id="case-district">
                    {{attributes.District}}
                </dt>
                {% endif %}
                {% if attributes.PostTown %}
                <dt class="case-address__prem" id="case-post_town">
                    {{attributes.PostTown}}
                </dt>
                {% endif %}
                {% if attributes.Postcode %}
                <dt class="case-address__prem postcode" id="case-postcode">
                    {{attributes.Postcode}}
                </dt>
                {% endif %}
            </dl>
        </section>
    </div>
</div>
{% endblock %}
