{% extends "layouts/base.html" %}
{% set page_title = survey.shortName + " | Surveys" %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/status/_macro.njk" import onsStatus %}

{% set surveyEditPermission = hasPermission('surveys.edit') %}

{% block main %}
    {% if updated_ce_message %}
        {{
            onsPanel({
                "type": "success",
                "iconType": "check",
                "classes": "ons-u-mb-s",
                "id": "updated_ce_message",
                "body": "Collection exercise details updated"
            })
        }}
    {% endif %}
    {% if created_ce_message %}
        {% call
            onsPanel({
                "type": "success",
                "iconType": "check",
                "classes": "ons-u-mb-s",
                "id": "created_ce_message"
            })
        %}
            <h1 class="ons-u-fs-r--b">Collection exercise created</h1>
            <p class="ons-u-fs-r">
                <a href="{{ url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName.replace(' ', ''), period=newly_created_period) }}" id="newly_created_ce_link">View/edit {{survey.shortName}} {{newly_created_period}}</a>
            </p>
        {% endcall %}
    {% endif %}
    
    <div class="ons-grid ons-grid--flex ons-grid--between">
        <div class="ons-grid__col">
            <h1 name="page-survey-title">{{survey.longName}} | {{survey.shortName}} {{survey.surveyRef}}</h1>
        </div>
            {% if surveyEditPermission %}
                <div class="ons-grid__col"> 
                    <p class="ons-field">
                        <a href="{{url_for('collection_exercise_bp.get_create_collection_exercise_form', survey_ref=survey.surveyRef, short_name=survey.shortName.replace(' ', ''))}}">Create collection exercise</a>
                    </p>
                </div>
            {% endif %}
      </div>
    <section class="ce-list">
        {% if surveyEditPermission %}
            {% if survey.surveyMode == 'EQ' %}
                <p class="ons-field">
                    {{
                        onsButton({
                            "text": "Link collection instrument",
                            "id": "link-collection-instrument",
                            "variants": ['secondary', 'small'],
                            "name": "link-collection-instrument-link",
                            "noIcon": true,
                            "url": url_for('surveys_bp.get_link_collection_instrument', short_name=survey.shortName)
                        })
                    }}
                </p>
            {% endif %}
        {% endif %}
        <h2>Collection exercises (CE)</h2>

        {% set surveyTableData = {
            "variants": ['compact', 'responsive'],
            "id": 'tbl-collection-exercise',
            "caption": 'The table shows collection exercise data for ' + survey.longName,
            "hideCaption": true,
            "ths": [
                {
                    "value": "Period ID"
                },
                {
                    "value": "Reporting dates"
                },
                {
                    "value": "Status"
                },
                {
                    "value": "Sample Size"
                },
                {
                    "value": "MPS"
                },
                {
                    "value": "Go live"
                },
                {
                    "value": "Return by"
                },
                {
                    "value": "First Reminder"
                }
            ]
        } %}

        {% set surveyTableDataRows = [] %}

        {% for exercise in collection_exercises %}
            {% set exerciseRef = exercise.exerciseRef if exercise.exerciseRef else "" %}
            {% set surveyTableReport = '<a href="'+ url_for('collection_exercise_bp.response_chasing', ce_id=exercise.id, survey_id=survey.id) +'" target="_blank"><svg class="ons-svg-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false"><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/><path d="M0 0h24v24H0z" fill="none"/></svg> Response chasing</a>' if (exercise.state|upper == "LIVE" or  exercise.state|upper == "ENDED") %}
            {% if exercise.state == 'Ended' %}
                {% set type = 'ons-status ons-status--dead' %}
                {% set status_event = '' %}
            {% elif exercise.state == 'Live' %}
                {% set type = 'ons-status ons-status--success' %}
                {% set status_event = '' %}
                {% if exercise.event_status == 'Processing' or exercise.event_status == 'Retrying' %}
                  {% set type = 'ons-status ons-status--pending' %}
                  {% set status_event = '(' + exercise.event_status + ')' %}
                {% endif %}
                {% if exercise.event_status == 'Failed' %}
                  {% set type = 'ons-status ons-status--error' %}
                  {% set status_event = '(' + exercise.event_status + ')' %}
                {% endif %}
            {% elif exercise.state == 'Created' or exercise.state == 'Scheduled'%}
                {% set type = 'ons-status ons-status--info' %}
                {% set status_event = '' %}
            {% else %}
                {% set type = 'ons-status ons-status--info' %}
                {% set status_event = '' %}
            {% endif %}
            {% do surveyTableDataRows.append(
                {
                    "highlight": true if newly_created_period == exerciseRef,
                    "tds": [
                        {
                            "value": '<a href="/surveys/' + survey.shortName.replace(' ', '') + "/" + exerciseRef + '"
                                name="ce-link-' + exerciseRef + '">' + exerciseRef + '</a>',
                            "data": "Period",
                            "name" : "tbl-ce-period"
                        },
                        {
                            "value": exercise.userDescription,
                            "data": "Respondent sees",
                            "name" : "tbl-ce-shown-as"
                        },
                        {
                            "value": '<span class="'+ type + '">'+ exercise.state + status_event +'</span>',
                            "data": "Status",
                            "name" : "tbl-ce-status"
                        },
                        {
                            "value": exercise.sample_summary and exercise.sample_summary.totalSampleUnits or "",
                            "data": "Sample",
                            "name" : "tbl-ce-status"
                        },
                        {
                            "value": exercise.events.mps and exercise.events.mps.date or "",
                            "data": "MPS",
                            "name" : "tbl-ce-status"
                        },
                        {
                            "value": exercise.events.go_live and exercise.events.go_live.date or "",
                            "data": "Go live",
                            "name" : "tbl-ce-status"
                        },
                        {
                            "value": exercise.events.return_by and exercise.events.return_by.date or "",
                            "data": "Return by",
                            "name" : "tbl-ce-status"
                        },
                        {
                            "value": exercise.events.reminder and exercise.events.reminder.date or "",
                            "data": "First Reminder",
                            "name" : "tbl-ce-report"
                        },
                    ]
                }
            ) %}
        {% endfor %}

        {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}

        {{
            onsTable(surveyTableData)
        }}

    </section>
{% endblock %}
