{% extends "layouts/base.html" %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Surveys" %}
{% set surveyEditPermission = hasPermission('surveys.edit') %}

{% block main %}
    {% if info_message or new_survey %}
        {% call
            onsPanel({
                "type": "success",
                "iconType": "check",
                "classes": "ons-u-mb-s",
                "id": "success-panel"
            })
        %}
            {% if info_message %}
                {{ info_message }}
            {% endif %}
            {% if new_survey %}
                <a href={{url_for("surveys_bp.view_survey", short_name=new_survey.short_name)}} id="created_survey_link">
                    {{ new_survey.long_name }}</a> has been added.
            {% endif %}
        {% endcall %}
    {% endif %}
    <div class="ons-grid ons-grid-flex ons-grid-flex--between">
      <div class="ons-grid__col">
          <h1 class="ons-u-fs-xl u-mb-xs" name="page-surveys-title">Online Business Surveys
          </h1>
      </div>
      {% if surveyEditPermission %}
          <div class="ons-grid__col"> 
             <p class="ons-field">
                <a href="{{url_for('surveys_bp.create_survey')}}" id="create-new-survey" name="create-new-survey">Create survey</a>
            </p>
          </div>
      {% endif %}
    </div>
    <div class="ons-grid">
        <div class="ons-grid__col">
            
        {% set surveyTableHeaders = [
        {
            "value": "Survey title"
        },
        {
            "value": "Survey ID"
        },
        {
            "value": "Survey mode"
        },
        {
            "value": "Legal basis"
        }
        ] %}
    
        {% if surveyEditPermission %}
            {% do surveyTableHeaders.append({"value": "Edit survey"}) %}
        {% endif %}
        
        {% set surveyTableData = {
            "table_class": 'table--dense',
            "variants": ['sortable', 'compact', 'responsive'],
            "sortBy": "Sort by",
            "ariaAsc": "ascending",
            "ariaDesc": "descending",
            "id": 'tbl-surveys',
            "ths": surveyTableHeaders
        } %}
        {% set surveyTableDataRows = [] %}
        {% for survey in survey_list %}
            {% set surveyRow = [
                {
                    "value": '<a href="/surveys/' + survey.shortName.replace(' ', '') + '" name="survey-link-' + survey.shortName + '">' + survey.longName + '</a><a style="text-decoration: none">' + ' | ' + survey.shortName + '</a>',
                    "data": "Survey Title"
                },
                {
                    "value": survey.surveyRef,
                    "data": "Survey ID"
                },
                {
                    "value": survey.surveyMode.replace('_AND_', ' and '),
                    "data": "Survey mode"
                },
                {
                    "value": survey.legalBasis,
                    "data": "Legal basis"
                }
            ] %}
        
            {% if surveyEditPermission %}
                {% do surveyRow.append({
                    "value": '<a href="' + url_for("surveys_bp.view_survey_details", short_name=survey.shortName) + '">Edit survey</a>',
                    "class": "ons-u-ta-right",
                    "dataSort": "2"
                }) %}
            {% endif %}

            {% do surveyTableDataRows.append({"tds": surveyRow}) %}
        {% endfor %}

        {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}

        {{
            onsTable(surveyTableData)
        }}
        </div>
    </div>
{% endblock %}
