{% extends "layouts/base.html" %}
{% set page_title = survey.shortName + " | Surveys" %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/status/_macro.njk" import onsStatus %}

{% set surveyEditPermission = hasPermission('surveys.edit') %}

{% block main %}
    {% if updated_ce_message %}
        {{
            onsPanel({
                "type": "success",
                "iconType": "check",
                "classes": "ons-u-mb-s",
                "id": "updated_ce_message",
                "body": "Collection exercise details updated"
            })
        }}
    {% endif %}
    
    <div class="ons-grid ons-grid-flex ons-grid-flex--between">
        <div class="ons-grid__col">
            <h1 name="page-survey-title">{{survey.longName}} | {{survey.shortName}} {{survey.surveyRef}}</h1>
        </div>
    </div>
    {% if collection_exercises|length > 0 %}
    <section class="ce-list">
        <div class="ons-grid ons-grid-flex ons-grid-flex--between">
            <div class="ons-grid__col">
                <h2 class="ons-u-fs-l u-mb-xs" name="page-survey-subtitle">Collection exercises (CE)</h2>
            </div>
        </div>
        {% if surveyEditPermission %}
            <div class="ons-grid ons-grid-flex ons-grid-flex--between">
                <div class="ons-grid__col"> 
                    <p class="ons-field">
                        <a id="create-collection-exercise" style="text-decoration: none;" href="{{url_for('collection_exercise_bp.get_create_collection_exercise_form', survey_ref=survey.surveyRef, short_name=survey.shortName.replace(' ', ''), previous_period=collection_exercises[0].exerciseRef)}}">Create collection exercise</a>
                    </p>
                </div>
            </div>
        {% endif %}

        {% set surveyTableData = {
            "variants": ['compact', 'responsive'],
            "id": 'tbl-collection-exercise',
            "caption": 'The table shows collection exercise data for ' + survey.longName,
            "hideCaption": true,
            "ths": [
                {
                    "value": "Period ID"
                },
                {
                    "value": "Reporting dates"
                },
                {
                    "value": "Status"
                },
                {
                    "value": "Sample Size"
                },
                {
                    "value": "MPS"
                },
                {
                    "value": "Go live"
                },
                {
                    "value": "Return by"
                },
                {
                    "value": "First Reminder"
                }
            ]
        } %}

        {% set surveyTableDataRows = [] %}

        {% for exercise in collection_exercises %}
            {% set status_event = '' %}
            {% set state_html_class = 'ons-status--info' %}
            {% if exercise.state == 'Ended' %}
                {% set state_html_class = 'ons-status--dead' %}
            {% elif exercise.state == 'Live' %}
                {% set state_html_class = 'ons-status--success' %}
                {# Live exercises have the event status in brackets if it's processing, retrying or failed. #}
                {% if exercise.event_status == 'Processing' or exercise.event_status == 'Retrying' %}
                  {% set state_html_class = 'ons-status--pending' %}
                  {% set status_event = ' (' + exercise.event_status + ')' %}
                {% endif %}
                {% if exercise.event_status == 'Failed' %}
                  {% set state_html_class = 'ons-status--error' %}
                  {% set status_event = ' (' + exercise.event_status + ')' %}
                {% endif %}
            {% endif %}
            {% do surveyTableDataRows.append(
                {
                    "highlight": true if newly_created_period == exercise.exerciseRef,
                    "tds": [
                        {
                            "value": '<a href="/surveys/' + survey.shortName.replace(' ', '') + "/" + exercise.exerciseRef + '"
                                name="ce-link-' + exercise.exerciseRef + '">' + exercise.exerciseRef + '</a>',
                            "data": "Period"
                        },
                        {
                            "value": exercise.userDescription,
                            "data": "Respondent sees"
                        },
                        {
                            "value": '<span class="ons-status ' + state_html_class + '">' + exercise.state + status_event + '</span>',
                            "data": "Status"
                        },
                        {
                            "value": exercise.sampleSize,
                            "data": "Sample"
                        },
                        {
                            "value": exercise.events.mps.date,
                            "data": "MPS"
                        },
                        {
                            "value": exercise.events.go_live.date,
                            "data": "Go live"
                        },
                        {
                            "value": exercise.events.return_by.date,
                            "data": "Return by"
                        },
                        {
                            "value": exercise.events.reminder.date,
                            "data": "First Reminder"
                        },
                    ]
                }
            ) %}
        {% endfor %}

        {% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}

        {{
            onsTable(surveyTableData)
        }}

    </section>
    {% else %}
        <div class="ons-grid ons-grid-flex ons-grid-flex--between">
            <div class="ons-grid__col">
                <h2 class="ons-u-fs-l u-mb-xs" name="page-survey-subtitle">Collection exercises (CE)</h2>
                <p>No collection exercises to display.</p>
                <p>{% if surveyEditPermission %}<a id="create-collection-exercise" style="text-decoration: none;" href="{{url_for('collection_exercise_bp.get_create_collection_exercise_form', survey_ref=survey.surveyRef, short_name=survey.shortName.replace(' ', ''))}}">Create collection exercise</a>{% endif %}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
