{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/field/_macro.njk" import onsField %}

{% set page_title = 'Update event date' %}
{% block main %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-8@m">
            {%- with errors = get_flashed_messages(category_filter=["error"]) -%}
                {%- if errors -%}
                    {% call
                        onsPanel({
                            "type":"error",
                            "title": "This page has 1 error",
                            "classes": "ons-u-mb-s",
                            "id": "save-error"
                        })
                    %}
                        {% set errorData = [] %}
                        {% if date_restriction_text %}
                            {% for message in errors %}
                                {% do errorData.append(
                                    {
                                        "text": message,
                                        "index": true,
                                        "url": "#",
                                        "classes": "ons-js-inpagelink"
                                    }
                                ) %}
                            {% endfor %}
                            <h2 class="ons-u-fs-m" id='error-saving-message'>Error updating {{event_name}}</h2>
                            <div id='error-text'>
                                {{
                                    onsList({
                                        "classes": "ons-list--bare",
                                        "itemsList": errorData
                                    })
                                }}
                            </div>
                        {% endif %}
                    {% endcall %}
                {% endif %}
            {%- endwith -%}
            <h1 class="ons-u-fs-xl">Change business event</h1>
            {{
                onsMetadata({
                    "termCol": "2",
                    "descriptionCol": "10",
                    "itemsList": [
                        {
                            "term": "Survey:",
                            "descriptions": [
                                {
                                    "description": survey.surveyRef ~ ' ' ~ survey.shortName
                                }
                            ]
                        },
                        {
                            "term": "Period:",
                            "descriptions": [
                                {
                                    "description": ce.exerciseRef,
                                    "id": "period"
                                }
                            ]
                        }
                    ]
                })
            }}

            <h2 class="ons-u-fs-l ons-u-mt-l">{{event_name}}</h2>
            {% if date_restriction_text %}
                {% for text in date_restriction_text %}
                    <p>{{ text }}</p>
                {% endfor %}
            {% endif %}

            <form method="post">
                <div class="date-time-editor ons-u-mb-l">
                    {{ form.csrf_token }}

                    <fieldset class="fieldgroup fieldgroup--inline fieldgroup--date" data-qa="widget-date" role="group">
                        <legend class="fieldgroup__title ons-u-fs-r--b ons-u-mb-xs">Date</legend>
                        <div class="ons-field-group">
                            <div class="ons-field field--input">
                                <label class="ons-label ons-u-fs-s--b" for="date-en-gb-day" id="label-date-range-from-day" data-qa="label-day">Day</label>
                                {{ form.day(id="date-en-gb-day", size=2, class_="ons-input ons-input--text input--StringField input--w-2", type="number") }}
                            </div>
                            <div class="ons-field field--select">
                                <label class="ons-label ons-u-fs-s--b" for="date-en-gb-month" id="label-date-range-from-month" data-qa="label-month">Month</label>
                                {{ form.month(id="date-en-gb-month", class_="ons-input ons-input--w-auto") }}
                            </div>
                                <div class="ons-field field--input">
                                <label class="ons-label ons-u-fs-s--b" for="date-en-gb-year" id="label-date-range-from-year" data-qa="label-year">Year</label>
                                {{ form.year(id="date-en-gb-year", class="ons-input ons-input--text input--StringField ons-input--w-4", type="number") }}
                            </div>
                        </div>
                    </fieldset>
                    {% if tag not in ['ref_period_start', 'ref_period_end', 'employment'] %}
                        <fieldset class="fieldgroup fieldgroup--time ons-u-mt-l" data-qa="widget-time">
                            <legend class="fieldgroup__title ons-u-fs-r--b">Time (Newport)</legend>
                            <div class="ons-field-group">
                                <div class="ons-field field--select field--hrs">
                                    <label class="ons-label ons-u-fs-s--b" for="time-select-hrs" id="time-hrs">Hrs</label>
                                    {{ form.hour(id="time-select-hrs", class_="input input--w-4 input--select__time-hrs") }}
                                </div>

                                <div class="ons-field field--select field--mins">
                                    <label class="ons-label ons-u-fs-s--b" for="time-select-mins" id="time-mins">Mins</label>
                                    {{ form.minute(id="time-select-mins", class_="input input--w-4 input--select__time-mins") }}
                                </div>
                            </div>
                        </fieldset>
                    {% endif %}
                </div>
                {% if ('nudge' in event_name) or (show is true) %}
                    {%- call onsField({}) -%}
                        {{
                            onsCheckboxes({
                                "dontWrap": true,
                                "checkboxesLabel": "Remove event?",
                                "classes": "ons-u-fw-b",
                                "checkboxes": [
                                    {
                                        "id": "checkbox",
                                        "name": "checkbox",
                                        "label": {
                                            "text": "Yes"
                                        },
                                        "value": "y"
                                    }
                                ]
                            })
                        }}
                    {% endcall %}
                {% endif %}
                {% if show is false %}
                    {%- call onsField({}) -%}
                        {{
                            onsCheckboxes({
                                "dontWrap": true,
                                "checkboxesLabel": "To remove this event, delete more recent reminders first.",
                                "classes": "ons-u-fw-b",
                                "checkboxes": [
                                    {
                                        "id": "checkbox",
                                        "name": "checkbox",
                                        "label": {
                                            "text": "Disabled"
                                        },
                                        "value": "y",
                                        "attributes": {
                                            "disabled": true
                                        }
                                    }
                                ]
                            })
                        }}
                    {% endcall %}
                {% endif %}
                {{
                    onsButton({
                        "classes": "ons-u-mb-s ons-u-mt-l",
                        "text": "Save",
                        "id": "submit",
                        "name": "submit"
                    })
                }}

                <p>
                    <a href=" {{ url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=period) }}">Cancel</a>
                </p>
            </form>
        </div>
    </div>
{% endblock main %}
