{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/metadata/_macro.njk" import onsMetadata %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/date-input/_macro.njk" import onsDateInput %}
{% from "components/duration/_macro.njk" import onsDuration %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}
{% from "components/field/_macro.njk" import onsField %}

{% set page_title = 'Update event date' %}
{% block main %}
  <div class="grid grid--gutterless">
    <div class="grid__col col-8@m">
      {%- with errors = get_flashed_messages(category_filter=["error"]) -%}
        {%- if errors -%}
            {% call
              onsPanel({
                  "type":"error",
                  "title": "This page has 1 error",
                  "classes": "u-mb-s",
                  "id": "save-error"
              })
            %}
            {% set errorData = [] %}
            {% if date_restriction_text %}
              {% for message in errors %}
                  {% do errorData.append(
                    {
                        "text": message,
                        "index": true,
                        "url": "#",
                        "classes": "js-inpagelink"
                    }
                ) %}

              {% endfor %}
              <h2 class="u-fs-m" id='error-saving-message'>Error updating {{event_name}} </h2>
              <div id='error-text'>
                {{
                    onsList({
                        "classes": "list--bare",
                        "itemsList": errorData
                    }) 
                }}
              </div>
            {% endif %}
          {% endcall %}
        {% endif %}
      {%- endwith -%}
      <h1 class="u-fs-xl u-mt-m">Change business event</h1>
      {{ 
        onsMetadata({
          "termCol": "2",
          "descriptionCol": "10",
          "itemsList": [
            {
              "term": "Survey:",
              "descriptions": [ 
                  {
                      "description": survey.surveyRef ~ ' ' ~ survey.shortName
                  }
              ]
            },
            {
              "term": "Period:",
              "descriptions": [ 
                  {
                      "description": ce.exerciseRef,
                      "id": "period"
                  }
              ]
            }
          ]
        })
      }}

      <h2 class="u-fs-l u-mt-l">{{event_name}}</h2>
      {% if date_restriction_text %}
        {% for text in date_restriction_text %}
        <div>
          <p> {{ text }} </p>
        </div>
        {% endfor %}
      {% endif %}

    <form method="post" class="">
      <div class="date-time-editor u-mb-l">
        {{ form.csrf_token }}
        {{
            onsDateInput({
                "id": "date",
                "legend": "Enter a date",
                "day": {
                    "label": {
                        "text": "Day"
                    },
                    "name": "day",
                    "attributes": {
                        "autocomplete": "date-day"
                    }
                },
                "month": {
                    "label": {
                        "text": "Month"
                    },
                    "name": "month",
                    "attributes": {
                        "autocomplete": "date-month"
                    }
                },
                "year": {
                    "label": {
                        "text": "Year"
                    },
                    "name": "year",
                    "attributes": {
                        "autocomplete": "date-year"
                    }
                }
            })
        }}
        {{ onsDuration({
            "legend": "Time (Newport)",
            "field1": {
                "id": "time-select-hrs",
                "name": "hour",
                "label": "Hours",
                "attributes": {
                    "min": 0,
                    "max": 23
                }
            },
            "field2": {
                "id": "time-select-mins",
                "name": "minute",
                "label": "Minutes",
                "attributes": {
                    "min": 0,
                    "max": 59
                }
            }
        }) }}
      {% if ('nudge' in event_name) or (show is true) %}
        {%- call onsField({                    
          }) -%}

          {{
              onsCheckboxes({
                  "dontWrap": true,
                  "checkboxesLabel": "Remove event?",
                  "classes": "u-fw-b",
                  "checkboxes": [
                      {
                          "id": "checkbox",
                          "name": "checkbox",
                          "label": {
                              "text": "Yes"
                          },
                          "value": "y"
                      }
                  ]
              })
          }}
        {% endcall %}
      {% endif %} 
      {% if show is false %}
        {%- call onsField({                    
          }) -%}

          {{
              onsCheckboxes({
                  "dontWrap": true,
                  "checkboxesLabel": "To remove this event, delete more recent reminders first.",
                  "classes": "u-fw-b",
                  "checkboxes": [
                      {
                          "id": "checkbox",
                          "name": "checkbox",
                          "label": {
                              "text": "Confirm"
                          },
                          "value": "y"
                      }
                  ]
              })
          }}
        {% endcall %}
      {% endif %} 
        {{
            onsButton({
                "classes": "u-mb-s u-mt-l",
                "text": "Save",
                "id": "submit",
                "name": "submit"
            })
        }}   

        <p>
          <a
            href=" {{ url_for('collection_exercise_bp.view_collection_exercise', short_name=survey.shortName, period=period) }}">Cancel</a>
        </p>
      </form>

    </div>
  </div>
{% endblock main %}
