{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% set page_title = "Respondents" %}
{% set hide_breadcrumbs = true %}

{% block main %}
    {% if success_panel %}
        {% call
            onsPanel({
                "type": "success",
                "iconType": "check",
                "classes": "ons-u-mb-s",
                "id": "success-panel"
            })
        %}
            {{ success_panel }}
        {% endcall %}
    {% endif %}
    {% set ns = namespace() %}
    {% set ns.optionError = false %}
    {% with messages = get_flashed_messages() %}
        {%- if messages -%}
            {% for message in messages %}
                {% set ns.optionError = true %}
                {% set ns.errorMessage = message %}
                {% set errorTitle = 'There is 1 error on this page' %}
                {% call
                    onsPanel({
                        "type": "error",
                        "classes": "ons-u-mb-s",
                        "title": errorTitle
                    })
                %}
                    {{
                        onsList({
                            "element": "ol",
                            "itemsList": [
                                {
                                    "text": message,
                                    "url": "#input_error",
                                    "classes": "ons-js-inpagelink"
                                }
                            ]
                        })
                    }}
                {% endcall %}
            {% endfor %}
        {%- endif -%}
    {% endwith %}
    <h1>Find a respondent</h1>
    <form action="{{ url_for('respondent_bp.search_redirect') }}" method="post">
        {{ form.csrf_token }}
        {% if ns.optionError %}
            {% set errorOption = { "text": ns.errorMessage,  "id": 'input_error' } %}
        {% endif %}
        {%- call onsFieldset({
            "legend": "Enter respondent information to search",
            "legendClasses": "ons-u-vh",
            "error": errorOption
        }) -%}
            {{
                onsInput({
                    "id": "first_name",
                    "name": "first_name",
                    "type": "text",
                    "label": {
                        "text": "First name"
                    }
                })
            }}
            {{
                onsInput({
                    "id": "last_name",
                    "name": "last_name",
                    "type": "text",
                    "label": {
                        "text": "Last name"
                    }
                })
            }}
            {{
                onsInput({
                    "id": "email_address",
                    "name": "email_address",
                    "type": "text",
                    "label": {
                        "text": "Email address"
                    }
                })
            }}
        {%- endcall -%}
        {{
            onsButton({
                "text": "Search",
                "id": "btn-search-respondent",
                "classes": "ons-u-mt-m",
                "submitType": "timer"
            })
        }}
    </form>
{% endblock %}
