{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}

{% set page_title = "Respondents" %}

{% block main %}
    <h1 class="u-fs-xl">Find a respondent</h1>
    <div class="grid">
        <div class="grid__col col-12@l">

            <div class="ru-search">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% call panel(id='validation-error', type='error', class='u-mb-s') %}
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endcall %}
                    {% endif %}
                {% endwith %}

                <form action="{{ url_for('respondent_bp.search_redirect') }}" method="post">
                    {{ form.csrf_token }}
                    <div class="field u-mb-s">
                        <label class="label">First name</label>
                        {{ form.first_name(size=20, class_="respondent-search-box input input--text")}}
                    </div>

                    <div class="field u-mb-s">
                        <label class="label">Last name</label>
                        {{ form.last_name(size=20, class_="respondent-search-box input input--text")}}
                    </div>

                    <div class="field u-mb-s">
                        <label class="label">Email address</label>
                        {{ form.email_address(size=20, class_="respondent-search-box input input--text")}}
                    </div>
                    {{
                        onsButton({
                            "text": "Search",
                            "id": "btn-search-respondent"
                        })
                    }}   
                </form>
            </div>
        </div>
    </div>
{% endblock %}
