    
<h1 class="ons-u-mt-xl">Find a respondent</h1>
<form action="{{ url_for('respondent_bp.search_redirect') }}" method="post">
    {{ form.csrf_token }}
    {%- call onsFieldset({
        "legend": "Enter respondent information to search",
        "legendClasses": "ons-u-vh"
    }) -%}
        {{
            onsInput({
                "id": "first_name",
                "name": "first_name",
                "type": "text",
                "label": {
                    "text": "First name"
                }
            })
        }}
        {{
            onsInput({
                "id": "last_name",
                "name": "last_name",
                "type": "text",
                "label": {
                    "text": "Last name"
                }
            })
        }}
        {{
            onsInput({
                "id": "email_address",
                "name": "email_address",
                "type": "text",
                "label": {
                    "text": "Email address"
                }
            })
        }}
    {%- endcall -%}
    {{
        onsButton({
            "text": "Search",
            "id": "btn-search-respondent",
            "classes": "ons-u-mt-m ons-u-mb-m",
            "submitType": "timer"
        })
    }}
</form>
