{% from "components/table/_macro.njk" import onsTable %}
{% set surveyTableData = {
    "id": 'tbl-businesses',
    "ths": [
        {
            "value": "Name"
        },
        {
            "value": "Email Address"
        },
        {
            "value": "Status"
        }
    ]
} %}

{% set surveyTableDataRows = [] %}
{% for respondent in respondents %}
    {% if not respondent.mark_for_deletion %}
        {% do surveyTableDataRows.append(
            {
                "tds": [
                    {
                        "value": '<a href="' + respondent.href + '">' + respondent.name + '</a>'
                    },
                    {
                        "value": respondent.email
                    },
                    {
                        "value": '<span class="ons-status ons-status--small ' + respondent.status_class + '}">' + respondent.status | title + '</span>'
                    }
                ]
            }
        ) %}
    {% else %}
        {% do surveyTableDataRows.append(
            {
                "tds": [
                    {
                        "value": respondent.name
                    },
                    {
                        "value": respondent.email
                    },
                    {
                        "value": '<span class="ons-status ons-status--small ' + respondent.status_class + '}">Deleted</span>'
                    }
                ]
            }
        ) %}
    {% endif %}
{% endfor %}

{% do surveyTableData | setAttribute("trs", surveyTableDataRows) %}
{{
    onsTable(surveyTableData)
}}
