<nav  id="breadcrumbs" class="breadcrumb" aria-label="Breadcrumb">
    <ol class="breadcrumb__items">
        <li id="breadcrumb-1" class="breadcrumb__item icon--breadcrumb"><a href="/" class="breadcrumb__link pluto">Home</a></li>
        {% for breadcrumb in breadcrumbs[:-1] %}
        <li id="breadcrumb-{{loop.index+1}}" class="breadcrumb__item icon--breadcrumb">
          <a href={{breadcrumb.link}} class="breadcrumb__link pluto">{{breadcrumb.title}}</a>
        </li>
        {% endfor %}
        <li id="breadcrumb-{{breadcrumbs | length + 1}}" class="breadcrumb__item breadcrumb__item--current pluto" aria-current="page">{{breadcrumbs[-1].title}}</li>
    </ol>
</nav>