<header class="page__header">

  <div class="container">
    <div class="header header__global">
      <div class="header__container container">
        <div class="logo header__logo">
          <a href="/"><img src="/static/images/logo-white.svg" alt="Office for National Statistics" class="logo__img" /><span class="page__header--title">ONS</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bar header__site" role="banner">
    <div class="bar__inner container">
      <div class="bar__title neptune"><a href="/">Survey Data Collection</a></div>
      {% if current_user.is_authenticated %}
        <div><a id="sign-out-btn" href="/logout" class="sign-out">Sign out</a></div>
      {% endif %}
    </div>
  </div>

  {% if current_user.is_authenticated %}
  <div class="bar bar__sitenavigation" role="banner">
    <div class="bar__inner container">
      <div class="sitenavigation">
        <ul class="sitenavigation__list">
          <li class="sitenavigation__listitem {% if request.path == '/' %} sitenavigation__listitem--active{% endif %}">
            <a href="/">Home</a>
          </li>
          <li class="sitenavigation__listitem{% if request.path.startswith('/surveys') %} sitenavigation__listitem--active{% endif %}">
            <a href="/surveys/">Surveys</a>
          </li>
          <li class="sitenavigation__listitem{% if request.path.startswith('/reporting-units') %} sitenavigation__listitem--active{% endif %}">
            <a href="/reporting-units/">Reporting units</a>
          </li>
          <li class="sitenavigation__listitem{% if request.path.startswith('/respondents') %} sitenavigation__listitem--active{% endif %}">
            <a href="/respondents/">Respondents</a>
          </li>
          <li class="sitenavigation__listitem{% if request.path.startswith('/messages') %} sitenavigation__listitem--active{% endif %}">
            <a href="/messages/" id="messages-link">Messages</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

</header>
