<div class="bar bar__sitenavigation" role="banner">
  <div class="bar__inner container">
    <div class="sitenavigation">
      <ul class="sitenavigation__list">
        <li class="sitenavigation__listitem sitenavigation__listitem--active">
          <a href="/">Home</a>
        </li>
        <li class="sitenavigation__listitem">
          <a href="/surveys/">Surveys</a>
        </li>
        <li class="sitenavigation__listitem">
          <a href="/reporting-units/">Reporting units</a>
        </li>
        <li class="sitenavigation__listitem">
          <a href="/respondents/">Respondents</a>
        </li>
        <li class="sitenavigation__listitem">
          <a href="/messages/">Messages</a>
        </li>
      </ul>
    </div>
  </div>
</div>
