{% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        {% call
            onsPanel({
                    "type": "error",
                    "classes": "ons-u-mb-l",
                    "title":  errorTitle,
                })
        %}
            {% for message in messages %}
                <p id="flashed-message-{{ loop.index }}">{{ message }}</p>
            {% endfor %}
        {% endcall %}
    {% endif %}
{% endwith %}
{% if form.password.errors or form.password_confirm.errors %}
    {% set errorData = [] %}
        {% set error_count = form.password.errors | length|default(0, true) + form.password_confirm.errors | length|default(0, true) %}
        {% set plural_suffix = 's' if error_count > 1 else '' %}
        {% set plural_singular_word = 'are ' if error_count > 1 else 'is ' %}
        {% set header_text = 'There ' ~ plural_singular_word ~ error_count ~ ' problem' ~ plural_suffix ~ ' with your password' %}
        {% call
            onsPanel({
                "title": header_text,
                "classes": "ons-u-mb-l",
                "type": "error"
            })
        %}
        {% for error in form.password.errors %}
            {% do errorData.append(
                {
                    "text": error,
                    "index": true,
                    "url": "#password",
                    "classes": "ons-js-inpagelink"
                }
            ) %}
        {% endfor %}
        {% for error in form.password_confirm.errors %}
            {% do errorData.append(
                {
                    "text": error,
                    "index": true,
                    "url": "#password_confirm",
                    "classes": "ons-js-inpagelink"
                }
            ) %}
        {% endfor %}
        {{
            onsList({
                "element": 'ol',
                "classes": "list--bare",
                "itemsList": errorData
            })
        }}
    {% endcall %}
{% endif %}
