<div class="case-search">
  <div class="bar__inner container">
    <form action="/social" method="post">
      <label class="label venus u-mt-s" for="postcode-search">Find case by postcode</label>
      <div class="field cosy">
        <input class="input input--text case-search-input2" type="text" name="postcode" id="postcode-search"
               maxlength="8" required/>
      </div>
      <div class="cosy">
        <button type="submit" class="btn btn--primary case-search-submit2">Search</button>
      </div>
    </form>
  </div>
</div>
