{% from "components/breadcrumb/_macro.njk" import onsBreadcrumb %}

{% set breadcrumbsData = [] %}
{% if breadcrumbs|length > 1 %}
  {% for breadcrumb in breadcrumbs[:-2] %}

    {% do breadcrumbsData.append(breadcrumb) %}
  {% endfor %}

  {% do breadcrumbsData.append(
    { 
      "text": breadcrumbs[-2].text,
      "url": breadcrumbs[-2].url
    }
  ) %}
  {{ 

    onsBreadcrumb({
        "ariaLabel": "Breadcrumbs",
        "id": "breadcrumbs",
        "itemsList": breadcrumbsData
    })
  }}
{% endif %}


