{% set navigation = {
  "classes": "nav--inline nav--light nav--header nav--h-m js-main-nav",
  "id": "main-nav",
  "ariaLabel": "Main menu",
  "ariraListLabel": "Navigation menu",
  "currentPath": request.path,
} %}

{% do navigation | setAttribute("itemsList", [
    {
      "title": "Home",
      "url": "/"
    },
    {
      "title": "Surveys",
      "url": "/surveys/"
    },
    {
      "title": "Reporting units",
      "url": "/reporting-units/"
    },
    {
      "title": "Messages",
      "url": "/messages/"
    }
  ]) 
%}

{% do page | setAttribute("navigation", navigation) %}
