html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template: 1fr auto;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

.fieldgroup--date .field--day {
    max-width: 3rem;
}

.fieldgroup--date .field--month {
    max-width: 10rem;
}

.fieldgroup--date .field--year {
    max-width: 4rem;
}

.fieldgroup--time .fieldgroup__fields {
    display: flex;
}

.fieldgroup--time .fieldgroup__title {
    margin: 0 0 0.5rem 0;
}

.input--select__time-hrs {
    max-width: 4rem;
    margin-right: 1rem;
}

.input--select__time-mins {
    max-width: 4rem;
}

/* For when we really do want not to display something! */

.hidden {
    display: none;
}

/* Collection exercise page */

#output .panel {
    margin-top: 1rem;
}

#output h3 {
    margin-bottom: 0;
}

button.cancel {
    padding: 0.6rem 1rem !important;
    margin-left: 0.5rem;
}

button.hidden {
    display: none;
}

#btn-check-sample-contents,
#btn-upload-sample,
#btn-cancel-load-sample,
#btn-add-ci,
#btn-load-ci,
#btn-send-message,
#btn-close-conversation,
#continue {
    margin-top: 0.6rem;
}

.list__item--ci {
    list-style-type: square;
}

/* used on CE page */

.btn--light.btn--border {
    font-weight: 600;
    background: transparent;
    border: 2px solid #033e58;
    color: #033e58;
    padding: 8px 32px;
    padding: 0.5rem 2rem;
}

.btn--light.btn--border:hover,
.btn--light.btn--border:focus {
    background: #033e58;
    color: white;
}

.btn--secondary.btn--border.btn--small {
    margin: 0 0.5rem;
    padding: 0.25rem 1rem;
    width: auto;
}

.page__content {
    overflow-x: visible;
}

/* RU page Reporting unit page */

.ru-survey {
    margin: 1rem 0;
    border: 0.5rem solid #eeecec;
}

.ru-survey h3 {
    font-weight: 500;
}

.response__changed {
    background-color: #edf4f0;
}

/* Collection exercise views */

.ce-section h2 {
    padding-top: 9px;
    margin-bottom: 0.3rem;
    padding-bottom: 0.4rem;
}

.ce-events__list {
    width: 100%;
    border-collapse: collapse;
    margin: 1.3rem 0 0.3rem auto;
}

.ce-events__list th,
.ce-events__list td {
    text-align: left;
    vertical-align: top;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}

.ce-events__list th {
    font-weight: 700;
    border-bottom: 1px solid #222;
}

#upload legend {
    display: none;
}

#filedrag {
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover {
    color: #0f8243;
    border-color: #0f8243;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

.ce-overview-table{
    table-layout: fixed;
}

.ce-overview-table th td{
    width: 33.3%;
}

/* Collection exercise - Reporting unit styles */

.error-message {
    color: #d0021b;
}
