{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% set page_title = 'Banner Admin'  %}
{% block main %}
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{
                            onsPanel({
                                "type": "success",
                                "classes": "u-mb-s",
                                "id": "updated_removed_alert_message",
                                "body": message
                            })
                        }}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h1>Create a new alert</h1>
            <form action="{{ url_for('admin_bp.post_banner') }}" method="POST">
                {{ form.csrf_token }}
                {% if errors %}
                    {% set errorData = [] %}

                    {% call
                        onsPanel({
                            "type":"error",
                            "id": "save-error",
                            "classes": "u-mb-s",
                            "title": "This page has 1 error" if errors|length == 1 else "There are " + errors|length|string + " errors on this page"

                        })
                    %}
                        {% for field, error_list in errors %}
                            {% do errorData.append(
                                {
                                    "text": ', '.join(error_list),
                                    "index": true
                                }
                            ) %}
                        {% endfor %}
                        {{
                            onsList({
                                "classes": "list--bare",
                                "itemsList": errorData
                            }) 
                        }}
                    {% endcall %}
                {% endif %}
                {%- call onsFieldset({
                    "legend": "Create a new banner",
                    "legendClasses": "u-vh",
                    "classes": "u-mt-m"
                    }) -%}
                    {% set radioComponent = {
                        "legend": "Message template (optional)",
                        "name": "event"
                    } %}
    
                    {% set radios = [] %}                
                    {% for banner in list_of_alerts %}
                        {% do radios.append(
                            {
                                "id": banner['id']|string,
                                "name": "banner_id",
                                "label": {
                                    "text": banner['title']
                                },
                                "value": banner['content'],
                                "attributes": {
                                    "banner_id": banner['id']
                                }
                            }
                        ) %}
                    {% endfor %}
    
                    {% do radioComponent | setAttribute("radios", radios) %}
                
                    {{
                        onsRadios(radioComponent)
                    }} 
                    {{
                        onsInput({
                            "id": "banner-input-id",
                            "name": "banner_id",
                            "type": "hidden",
                            "value": ""
                        })
                    }}
                    <p></p>
                    <a href="{{ url_for('admin_bp.manage_alert') }}">Manage message templates</a>
                    <p></p>
                    {% set bannerTextError = { "text": form.banner_text.errors[0], "id": "bannertext-panel" } %}
                    {{ 
                        onsTextarea({
                            "id": "banner_text",
                            "name": "banner_text",
                            "label": {
                                "text": "Message"
                            },
                            "maxlength": '50000',
                            "error": bannerTextError if form.banner_text.errors
                        })
                    }}
                    <script{% if csp_nonce %} nonce="{{ csp_nonce() }}"{% endif %}>
                        document.getElementsByName("event").forEach(element => {
                            element.addEventListener("change", function(event) {
                                document.getElementById("banner_text").value = event.target.value;
                                document.getElementById("banner-input-id").value = event.target.getAttribute("banner_id");
                            })
                        });
                    </script>
                {% endcall %}
                {%- call onsFieldset({
                    "legend": "Create a new banner",
                    "legendClasses": "u-vh",
                    "classes": "u-mt-m"
                    }) -%}
                    {{
                        onsButton({
                            "text": "Publish",
                            "id": "save-btn"
                        })
                    }} 
                    {{
                        onsButton({
                            "classes": "btn--secondary",
                            "hideCaret": true,
                            "text": "Cancel",
                            "url": url_for('home_bp.home')
                        })
                    }}
                {% endcall %}
             </form>
        </div>
    </div>
{% endblock %}
