{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/lists/_macro.njk" import onsList %}
{% from "components/field/_macro.njk" import onsField %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/select/_macro.njk" import onsSelect %}
{% from "components/radios/_macro.njk" import onsRadios %}
<!-- The "name": "banner" field within the textarea specifies that is getting posted -->
{% set page_title = 'Banner Admin'  %}
{% block main %}
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            {% if response_error %}
                {% call
                    onsPanel({
                        "type": "error",
                        "classes": "u-mb-s",
                        "title":  "There is a problem"
                    })
                %}
                <p><a href="#banner-text" id="alert-select-link" class="js-inpagelink">Select an alert</a></p>
                {% endcall %}
                {% set error = {
                    "text": "Please select a message template or enter a message"
                } %}
            {% endif %}
            {% if current_banner and not response_error %} 
                {{
                    onsPanel({
                        "label": {
                            "text": "Message" 
                        },
                        "title": "Active Banner",
                        "body": current_banner.content,
                        "classes": "u-mb-l"    
                    })
                }}
            {% endif %}
            {% if not current_banner and not response_error %} 
                {{
                    onsPanel({
                        "label": {
                            "text": "Message" 
                        },
                        "body": "No banner currently active",
                        "classes": "u-mb-l"    
                    })
                }}
            {% endif %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{
                            onsPanel({
                                "type": "success",
                                "classes": "u-mb-s",
                                "id": "updated_removed_alert_message",
                                "body": message
                            })
                        }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1 class="u-fs-xl u-mt-m">Banner Admin</h1>
            <form action="{{ url_for('admin_bp.update_banner') }}" method="POST">
                {{ form.csrf_token }}
                {% if errors %}
                    {% set errorData = [] %}

                    {% call
                        onsPanel({
                            "type":"error",
                            "id": "save-error",
                            "classes": "u-mb-s",
                            "title": "This page has 1 error" if errors|length == 1 else "There are " + errors|length|string + " errors on this page"

                        })
                    %}
                        {% for field, error_list in errors %}
                            {% do errorData.append(
                                {
                                    "text": ', '.join(error_list),
                                    "index": true
                                }
                            ) %}
                        {% endfor %}
                        {{
                            onsList({
                                "classes": "list--bare",
                                "itemsList": errorData
                            }) 
                        }}
                    {% endcall %}
                {% endif %}
                    {%- call onsFieldset({
                        "legend": "Create a new banner",
                        "legendClasses": "u-vh",
                        "classes": "u-mt-m"
                        }) -%}
                        {% set radioComponent = {
                            "legend": "Choose a template to publish",
                            "name": "event"
                        } %}
        
                        {% set radios = [] %}                
                        {% for banner in list_of_alerts %}
                            {% do radios.append(
                                {
                                    "id": banner['id']|string,
                                    "name": "banner_id",
                                    "label": {
                                        "text": banner['title']
                                    },
                                    "value": banner['content'],
                                    "attributes": {
                                        "banner_id": banner['id']
                                    }
                                }
                            ) %}
                        {% endfor %}
        
                        {% do radioComponent | setAttribute("radios", radios) %}
                    
                        {{
                            onsRadios(radioComponent)
                        }} 
                        {{
                            onsInput({
                                "id": "banner-input-id",
                                "name": "banner_id",
                                "type": "hidden",
                                "value": ""
                            })
                        }}
                        <p></p>
                        <a href="{{ url_for('admin_bp.manage_alert') }}"> Manage message templates</a>
                        <p></p>
                        {{ 
                            onsTextarea({
                                "id": "banner-text",
                                "name": "content",
                                "label": {
                                    "text": "Message"
                                },
                                "maxlength": '50000',
                                "error": error if response_error
                            })
                        }}
                        <script{% if csp_nonce %} nonce="{{ csp_nonce() }}"{% endif %}>
                            // document.getElementById("alert-list").classList.remove("hidden");
                            // document.getElementById("alert-list-label").classList.remove("hidden");
                            document.getElementsByName("event").forEach(element => {
                                element.addEventListener("change", function(event) {
                                    document.getElementById("banner-text").value = event.target.value;
                                    document.getElementById("banner-input-id").value = event.target.getAttribute("banner_id");
                                })
                            });
                        </script>
                    {% endcall %}
                    {%- call onsFieldset({
                        "legend": "Create a new banner",
                        "legendClasses": "u-vh",
                        "classes": "u-mt-m"
                        }) -%}
                        {{
                            onsButton({
                                "dontWrap": false,
                                "classes": "btn-group__btn",
                                "text": "Publish",
                                "id": "save-btn"
                            })
                        }} 
                        {{
                            onsButton({
                                "dontWrap": false,
                                "classes": "btn--secondary btn-group__btn",
                                "text": "Cancel",
                                "url": url_for('surveys_bp.view_surveys')
                            })
                        }}
                    {% endcall %}
             </form>
        </div>
    </div>
{% endblock %}
