{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/textarea/_macro.njk" import onsTextarea %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% set page_title = 'Alert Admin' %}
{% block main %}
    <div class="ons-grid ons-grid--gutterless">
        <div class="ons-grid__col ons-col-8@m">
            <h1>Message templates</h1>
            {% for banner in list_of_templates %}
                <h2>{{ banner['title'] }}</h2>
                <p>{{ banner['content'] }}</p>
            {% endfor %}
        </div>
        <div>
            <a href="{{ url_for('admin_bp.get_banner_admin') }}" role="button" class="ons-btn"><span class="ons-btn__inner">Back to create an alert</span></a>
        </div>
    </div>
{% endblock %}
