{% extends "layouts/base.html" %}
{% from "components/search/_macro.njk" import onsSearch %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% block main %}
    <div class="ons-grid ons-grid--flex ons-grid--between">
        <div class="ons-grid__col">
            <h1 class="ons-u-fs-l u-mb-xs" name="page-manage-account-title">{{ name }}</h1>
        </div>
    </div>
    {{ form.csrf_token }}
    {{ 
        onsCheckboxes({
            "dontWrap": false,
            "legend": "Select user permissions",
            "checkboxes": [
                {
                    "id": "surveys-edit",
                    "name": "surveys-edit",
                    "label": {
                        "text": "Surveys: Edit"
                    },
                    "value": "y",
                    "checked": permissions["surveys.edit"]
                },
                {
                    "id": "reporting-units-edit",
                    "name": "reporting-units-edit",
                    "label": {
                        "text": "Reporting Units: Edit"
                    },
                    "value": "y",
                    "checked": permissions["reportingunits.edit"]
                },
                {
                    "id": "respondents-edit",
                    "name": "respondents-edit",
                    "label": {
                        "text": "Respondents: Edit"
                    },
                    "value": "y",
                    "checked": permissions["respondents.edit"]
                },
                {
                    "id": "respondents-delete",
                    "name": "respondents-delete",
                    "label": {
                        "text": "Respondents: Delete"
                    },
                    "value": "y",
                    "checked": permissions["respondents.delete"]
                },
                {
                    "id": "messages-edit",
                    "name": "messages-edit",
                    "label": {
                        "text": "Messages: Edit"
                    },
                    "value": "y",
                    "checked": permissions["messages.edit"]
                },
                {
                    "id": "users-admin",
                    "name": "users-admin",
                    "label": {
                        "text": "Manage User Accounts"
                    },
                    "value": "y",
                    "checked": permissions["users.admin"]
                },
            ]
        })
    }}
{% endblock %}