{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/radios/_macro.njk" import onsRadios %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/lists/_macro.njk" import onsList %}

{% set page_title = 'Template Admin' %}
{% block main %}
    <div class="grid grid--gutterless">
        <div class="grid__col col-8@m">
            <h1>Manage message templates</h1>
            <p>
                <a id="create_message" href="{{ url_for('admin_bp.put_new_banner_in_datastore') }}">Create a new message template</a>
            </p>
            {% if errors %}
                {% set errorData = [] %}

                {% call
                    onsPanel({
                        "type":"error",
                        "id": "save-error",
                        "classes": "u-mb-s",
                        "title": "This page has 1 error" if errors|length == 1 else "There are " + errors|length|string + " errors on this page"
                    })
                %}
                    {% for field, error_list in errors %}
                        {% do errorData.append(
                            {
                                "text": ', '.join(error_list),
                                "index": true
                            }
                        ) %}
                    {% endfor %}
                    {{
                        onsList({
                            "classes": "list--bare",
                            "itemsList": errorData
                        })
                    }}
                {% endcall %}
            {% endif %}
            <form action="" method="post">
                {{ form.csrf_token }}
                {% set radioComponent = {
                    "legend": "Choose a template to edit",
                    "name": "template_id"
                } %}

                {% set radios = [] %}
                {% for banner in list_of_templates %}
                    {% do radios.append(
                        {
                            "id": banner['id']|string,
                            "name": "banner_id",
                            "label": {
                                "text": banner['title']
                            },
                            "value": banner['id']
                        }
                    ) %}
                {% endfor %}

                {% do radioComponent | setAttribute("radios", radios) %}
                {{
                    onsRadios(radioComponent)
                }}

                <div class="grid grid--flex grid--gutterless grid--vertical-center grid--no-wrap@s u-mt-m u-mb-m">
                    <div class="grid__col">
                        {{
                            onsButton({
                                "dontWrap": false,
                                "classes": "btn-group__btn",
                                "text": "Continue",
                                "id": "save-btn"
                            })
                        }}
                    </div>
                    <div class="grid__col u-ml-m">
                        <a href="{{ url_for('admin_bp.get_banner_admin')}}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
