
{% extends "layouts/base.html" %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/list/_macro.njk" import onsList %}
{% from "components/password/_macro.njk" import onsPassword %}
{% from "components/input/_macro.njk" import onsInput %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/table/_macro.njk" import onsTable %}
{% from "components/checkboxes/_checkbox-macro.njk" import onsCheckbox %}

{% set page_title = 'Create New Account' %}

{% block main %}
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@m">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
                {% call
                    onsPanel({
                            "type": "error",
                            "classes": "ons-u-mb-l",
                            "title":  errorTitle
                        })
                %}
                    {% for message in messages %}
                        <p id="flashed-message-{{ loop.index }}">{{ message }}</p>
                    {% endfor %}
                {% endcall %}
            {% endif %}
        {% endwith %}
          {% if form.errors %}
            {% set errorData = [] %}
                {% set error_count = form.errors | length %}
                {% set plural_suffix = 's' if error_count > 1 else '' %}
                {% set header_text = 'This page has ' ~ error_count ~ ' error' ~ plural_suffix %}
            {% call
                onsPanel({
                    "title": header_text,
                    "type": "error"
                })
            %}
                <p>These <strong>must be corrected</strong> to continue.</p>
                {% for error in form.first_name.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#first_name",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {% for error in form.last_name.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#last_name",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {% for error in form.email.errors %}
                    {% do errorData.append(
                        {
                            "text": error,
                            "index": true,
                            "url": "#email",
                            "classes": "ons-js-inpagelink"
                        }
                    ) %}
                {% endfor %}
                {{
                    onsList({
                        "classes": "list--bare",
                        "itemsList": errorData
                    })
                }}
            {% endcall %}
        {% endif %}
            <h1>Create your account</h1>
            <form method="post" action="" class="form" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    {{
                        onsInput({
                            "id": "first_name",
                            "name": "first_name",
                            "type": "text",
                            "label": {
                                "description": "Enter the new users first name",
                                "text": "First name"
                            },
                        })
                    }}
                    {{
                        onsInput({
                            "id": "last_name",
                            "name": "last_name",
                            "type": "text",
                            "label": {
                                "description": "Enter the new users last name",
                                "text": "Last name"
                            },
                        })
                    }}
                    {{
                        onsInput({
                            "id": "email",
                            "name": "email",
                            "type": "text",
                            "label": {
                                "description": "Enter the ONS email of the new user",
                                "text": "ONS email address"
                            },
                        })
                    }}
              <div class="ons-u-mt-l">
              <h2>Select user permissions</h2>
              <span>All users have permission to view all the preselected Survey Data Collection areas below.</span>
              <table id="tbl-users" class="ons-table ons-u-mt-xs ons-table--responsive">
                <thead class="ons-table__head">
                    <tr class="ons-table__row">
                        <th scope="col" class="ons-table__header">
                            <span>Survey Data Collection area</span>
                        </th>
                        <th scope="col" class="ons-table__header">
                            <span>View</span>
                        </th>
                        <th scope="col" class="ons-table__header">
                            <span>Edit</span>
                        </th>
                        <th scope="col" class="ons-table__header">
                            <span>Delete</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="ons-table__body">
                    <tr class="ons-table__row">
                        <td class="ons-table__cell">
                            Surveys
                        </td>
                        <td class="ons-table__cell">
                            {{
                              onsCheckbox({
                                  "id": "surveys_view",
                                  "name": "surveys_view",
                                  "label": {
                                      "text": "View surveys"
                                  },
                                  "hideLabel": true,
                                  "value": "y",
                                  "checked": true,
                                  "disabled": true,
                              })
                          }}
                        </td>
                        <td class="ons-table__cell">
                            {{
                              onsCheckbox({
                                  "id": "surveys_edit",
                                  "name": "surveys_edit",
                                  "label": {
                                      "text": "Edit surveys"
                                  },
                                  "hideLabel": true,
                                  "value": "y",
                              })
                          }}
                        </td>
                        <td class="ons-table__cell">
                            {{
                                onsCheckbox({
                                    "id": "surveys_delete",
                                    "name": "surveys_delete",
                                    "label": {
                                        "text": "Delete surveys"
                                    },
                                    "hideLabel": true,
                                    "value": "y",
                                })
                            }}
                        </td>
                    </tr>
                    <tr class="ons-table__row">
                        <td class="ons-table__cell">
                            Reporting units
                        </td>
                        <td class="ons-table__cell">
                            {{
                              onsCheckbox({
                                  "id": "reporting_units_view",
                                  "label": {
                                      "text": "View reporting units"
                                  },
                                  "hideLabel": true,
                                  "value": "y",
                                  "checked": true,
                                  "disabled": true,
                              })
                          }}
                        </td>
                        <td class="ons-table__cell">
                            {{
                            onsCheckbox({
                                "id": "reporting_units_edit",
                                "name": "reporting_units_edit",
                                "label": {
                                    "text": "Edit reporting units"
                                },
                                "hideLabel": true,
                                "value": "y",
                            })
                        }}
                        </td>
                        <td class="ons-table__cell"></td>
                    </tr>
                    <tr class="ons-table__row">
                        <td class="ons-table__cell">
                            Respondents
                        </td>
                        <td class="ons-table__cell">
                            {{
                              onsCheckbox({
                                  "id": "respondents_view",
                                  "label": {
                                      "text": "View respondents"
                                  },
                                  "hideLabel": true,
                                  "value": "y",
                                  "checked": true,
                                  "disabled": true,
                              })
                          }}
                        </td>
                        <td class="ons-table__cell">
                        {{
                            onsCheckbox({
                                "id": "respondents_edit",
                                "name": "respondents_edit",
                                "label": {
                                    "text": "Edit respondents"
                                },
                                "hideLabel": true,
                                "value": "y",
                            })
                        }}
                        </td>
                        <td class="ons-table__cell">
                        {{
                            onsCheckbox({
                                "id": "respondents_delete",
                                "name": "respondents_delete",
                                "label": {
                                    "text": "Delete respondents"
                                },
                                "hideLabel": true,
                                "value": "y",
                            })
                        }}
                        </td>
                    </tr>
                    <tr class="ons-table__row">
                        <td class="ons-table__cell">
                            Messages
                        </td>
                        <td class="ons-table__cell">
                            {{
                              onsCheckbox({
                                  "id": "messages_view",
                                  "label": {
                                      "text": "View messages"
                                  },
                                  "hideLabel": true,
                                  "value": "y",
                                  "checked": true,
                                  "disabled": true,
                              })
                          }}
                        </td>
                        <td class="ons-table__cell">
                        {{
                            onsCheckbox({
                                "id": "messages_edit",
                                "name": "messages_edit",
                                "label": {
                                    "text": "Edit messages"
                                },
                                "hideLabel": true,
                                "value": "y",
                            })
                        }}
                        </td>
                      <td class="ons-table__cell"></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="ons-grid ons-grid-flex ons-grid--gutterless ons-u-mt-l ons-u-mb-m">
            <div class="ons-grid__col ons-col-5@m">
            <strong>Manager permissions</strong>
            {{
                onsCheckbox({
                    "id": "users_admin",
                    "name": "users_admin",
                    "classes": "ons-u-mt-s",
                    "label": {
                        "text": "Manage user accounts"
                    },
                    "value": "y",
                })
              }}
            </div>
          </div>
          <div class="ons-grid ons-grid-flex ons-grid--gutterless ons-grid-flex--vertical-center ons-grid--no-wrap@s ons-u-mt-m ons-u-mb-m">
            <div class="ons-grid__col">
            {{
                onsButton({
                    "id": "create-account",
                    "text": "Create account",
                    "submitType": "timer"
                })
            }}
            </div>
            <div class="ons-grid__col ons-u-ml-s">
                <a href="{{ url_for('admin_bp.manage_user_accounts') }}" role="button" class="ons-btn ons-btn--link ons-btn--secondary" id="btn-option-cancel">
                    <span class="ons-btn__inner">Cancel</span></a>
            </div>
          </div>
            </form>
        </div>
    </div>
{% endblock main %}
