table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

table th, td {
    text-align: left;
}

th, td {
    padding: 15px 0;
    word-wrap: normal;
    line-height: 1;
    vertical-align: top;
    border-bottom: thin solid #e4e8eb;
}

.table__dense {
    font-size: 81.25%;
}

table > thead {
    border-bottom: 2px solid #595959;
}

.table--row {
    border-bottom: 1px solid #e4e8eb;
}

.table--header--cell {
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 2px solid #595959;
}

.table--cell:first-child, .table--header--cell:first-child {
    padding-left: 0;
}

.table--cell {
    padding: 0.5rem 0 0.5rem 1rem;
}