.ce-section h2 {
    border-bottom: 2px solid #222;
}

.ce-event-date {
    color: #666;
    font-weight: 400;
}

.ce-events .tbl-ce-value {
    text-align: right;
}

.ce-event-date em {
    color: #222;
    font-weight: 500;
}
