.info-panel {
    font-size: 90%;
}

.survey-info {
    margin: 0;
}

.survey-info__data {
    margin: 0 0 0 6rem;
    padding: 0 0 0.5rem 0;
}

.survey-info__title {
    float: left;
    clear: left;
    width: 6rem;
    margin: 0;
    padding: 0;
    color: #444;
}

.ce-info {
    margin: 0;
}

.ce-info__data {
    margin: 0 0 0 4rem;
    padding: 0 0 0.5rem 0;
    font-weight: bold;
}

.ce-info__title {
    float: left;
    clear: left;
    width: 4rem;
    margin: 0;
    padding: 0;
    color: #444;
}
