#btn-load-sample, #btn-load-ci {
    margin-top: 0.6rem;
}

.btn {
  background-color: #0f8243;
  color: #fff;
  border: none;
  padding: 13.5px 45px;
  padding: 0.75rem 2.5rem;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 3px;
  display: inline-block;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  width: 100%;
  -webkit-transition: background-color 200ms ease-in, color 200ms ease-in;
  transition: background-color 200ms ease-in, color 200ms ease-in;
  *display: inline;
  *zoom: 1;
}

.btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0a542b;
}

.btn:focus {
  background-color: #4263c2;
  outline: none;
}

.btn.btn--border {
  font-weight: 600;
  background: #fff;
  border: 1px solid #0f8243;
  color: #0f8243;
  padding: 8px 32px;
  padding: 0.5rem 2rem;
}

.btn.btn--border:hover, .btn.btn--border:focus {
  background: #0f8243;
  color: #fff;
}

@media only screen and (min-width: 500px) {
  .btn.btn--border {
    border-width: 2px;
  }
}

@media only screen and (min-width: 500px) {
  .btn {
    width: auto;
  }
}

.btn--secondary {
  background-color: #033e58;
  color: #fff;
  border: none;
  padding: 13.5px 45px;
  padding: 0.75rem 2.5rem;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 3px;
  display: inline-block;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  width: 100%;
  -webkit-transition: background-color 200ms ease-in, color 200ms ease-in;
  transition: background-color 200ms ease-in, color 200ms ease-in;
  *display: inline;
  *zoom: 1;
}

.btn--secondary:hover {
  text-decoration: none;
  color: #fff;
  background-color: #011b27;
}

.btn--secondary:focus {
  background-color: #4263c2;
  outline: none;
}

.btn--secondary.btn--border {
  font-weight: 600;
  background: #fff;
  border: 1px solid #033e58;
  color: #033e58;
  padding: 8px 32px;
  padding: 0.5rem 2rem;
}

.btn--secondary.btn--border:hover, .btn--secondary.btn--border:focus {
  background: #033e58;
  color: #fff;
}

@media only screen and (min-width: 500px) {
  .btn--secondary.btn--border {
    border-width: 2px;
  }
}

@media only screen and (min-width: 500px) {
  .btn--secondary {
    width: auto;
  }
}

.btn--neutral {
  background-color: #999;
  color: #fff;
  border: none;
  padding: 13.5px 45px;
  padding: 0.75rem 2.5rem;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 3px;
  display: inline-block;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  width: 100%;
  -webkit-transition: background-color 200ms ease-in, color 200ms ease-in;
  transition: background-color 200ms ease-in, color 200ms ease-in;
  *display: inline;
  *zoom: 1;
}

.btn--neutral:hover {
  text-decoration: none;
  color: #fff;
  background-color: gray;
}

.btn--neutral:focus {
  background-color: #4263c2;
  outline: none;
}

.btn--neutral.btn--border {
  font-weight: 600;
  background: #fff;
  border: 1px solid #999;
  color: #999;
  padding: 8px 32px;
  padding: 0.5rem 2rem;
}

.btn--neutral.btn--border:hover, .btn--neutral.btn--border:focus {
  background: #999;
  color: #fff;
}

@media only screen and (min-width: 500px) {
  .btn--neutral.btn--border {
    border-width: 2px;
  }
}

@media only screen and (min-width: 500px) {
  .btn--neutral {
    width: auto;
  }
}

.btn--light {
  background-color: #fff;
  color: transparent;
  border: none;
  padding: 13.5px 45px;
  padding: 0.75rem 2.5rem;
  margin: 0 0 16px;
  margin: 0 0 1rem;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 3px;
  display: inline-block;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  width: 100%;
  -webkit-transition: background-color 200ms ease-in, color 200ms ease-in;
  transition: background-color 200ms ease-in, color 200ms ease-in;
  *display: inline;
  *zoom: 1;
}

.btn--light:hover {
  text-decoration: none;
  color: #033e58;
  background-color: #e6e6e6;
}

.btn--light:focus {
  background-color: #4263c2;
  outline: none;
}

.btn--light.btn--border {
  font-weight: 600;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 32px;
  padding: 0.5rem 2rem;
}

.btn--light.btn--border:hover, .btn--light.btn--border:focus {
  background: #fff;
  color: #033e58;
}

@media only screen and (min-width: 500px) {
  .btn--light.btn--border {
    border-width: 2px;
  }
}

@media only screen and (min-width: 500px) {
  .btn--light {
    width: auto;
  }
}

.btn--lg {
  font-weight: 600;
  padding: 16.2px 16px;
  padding: 0.9rem 1rem;
}

@media only screen and (min-width: 500px) {
  .btn--lg {
    padding: 0.9rem 5rem;
  }
}

.btn--link {
  padding: 1.8px;
  padding: 0.1rem;
  margin: 0;
  display: inline-block;
  color: #4263c2;
  background: transparent;
  cursor: pointer;
  text-decoration: underline;
  width: auto;
  *display: inline;
  *zoom: 1;
}

.btn--link:hover {
  text-decoration: underline;
  color: #033e58;
  background: transparent;
}

.btn--link:focus {
  color: white;
  background: #4263c2;
}

.btn-group {
  font-size: 0;
}

.btn-group .btn {
  display: inline-block;
  margin-right: 16px;
  *display: inline;
  *zoom: 1;
}

.btn-group .btn:last-of-type {
  margin-right: 0;
}

.btn-group__btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.btn--menu {
  padding-right: 1.5em;
}

@media only screen and (min-width: 740px) {
  .btn--menu {
    display: none;
  }
}

.btn--menu:before, .btn--menu:after {
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  content: "";
  position: absolute;
  right: 0;
  bottom: 1px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.1em;
  height: 1.1em;
}

.btn--menu:before {
  opacity: 1;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxM3B4IiB2aWV3Qm94PSIyOTAgNTEgMTYgMTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQogICAgPGcgaWQ9Ikdyb3VwLTIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI5MC4wMDAwMDAsIDUxLjAwMDAwMCkiPg0KICAgICAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlLTIiIGZpbGw9IiM0QTRBNEEiIHg9IjAiIHk9IjAiIHdpZHRoPSIxNiIgaGVpZ2h0PSIyLjA5NTIzODEiPjwvcmVjdD4NCiAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0yIiBmaWxsPSIjNEE0QTRBIiB4PSIwIiB5PSI1LjIzODA5NTI0IiB3aWR0aD0iMTYiIGhlaWdodD0iMi4wOTUyMzgxIj48L3JlY3Q+DQogICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGUtMiIgZmlsbD0iIzRBNEE0QSIgeD0iMCIgeT0iMTAuNDc2MTkwNSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjIuMDk1MjM4MSI+PC9yZWN0Pg0KICAgIDwvZz4NCjwvc3ZnPg");
  background-size: auto;
}

.btn--menu:after {
  opacity: 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNXB4IiB2aWV3Qm94PSIyOTAgNDUgMjQgMjUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQogICAgPGcgaWQ9Ikdyb3VwLTIiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI5MC4wMDAwMDAsIDQ1LjAwMDAwMCkiPg0KICAgICAgICA8ZyBpZD0iR3JvdXAtMyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIuMDAwMDAwLCAxMi41MDAwMDApIHJvdGF0ZSgtMzE1LjAwMDAwMCkgdHJhbnNsYXRlKC0xMi4wMDAwMDAsIC0xMi41MDAwMDApIHRyYW5zbGF0ZSg0LjAwMDAwMCwgNC4wMDAwMDApIiBmaWxsPSIjNEE0QTRBIj4NCiAgICAgICAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGUtMiIgeD0iMCIgeT0iNyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjIuMDk1MjM4MSI+PC9yZWN0Pg0KICAgICAgICAgICAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjAwMDAwMCwgOC4wNDc2MTkpIHJvdGF0ZSgtOTAuMDAwMDAwKSB0cmFuc2xhdGUoLTguMDAwMDAwLCAtOC4wNDc2MTkpICIgeD0iMCIgeT0iNyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjIuMDk1MjM4MSI+PC9yZWN0Pg0KICAgICAgICA8L2c+DQogICAgPC9nPg0KPC9zdmc+");
  background-size: auto;
}

button.unready{
  background:#6a6a6a;
}

button.unready:hover{
  background:#6a6a6a;
}