

.secure-message--recipient,
.secure-message--meta{
  font-size: 81.25%;
}

.sm-form-recipient-label,
.sm-form-meta-label{
  display: inline-block;
  width: 5rem;
  color: #666;
}

.secure-message--subject, .secure-message--message{
  display: block;
  width: 100%;
}

label.secure-message--subject{
  margin-top: 1rem;
}

input.secure-message--subject{
  border: 1px solid #222;
  margin-bottom: 1rem;
}

textarea.secure-message--message{
  border: 1px solid #222;
  margin-bottom: 1rem;
}
