.ru-search-box {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    padding: 12px 12px 12px 12px;
}
