{% macro container() -%}
    {% with %}
        {% set class_reversible = '' if not 'reversible' in kwargs else ' ons-grid--reverse' %}
        {% set class_align_mid = '' if not 'align_mid' in kwargs else ' ons-grid--align-mid' %}
        {% set class_flexbox = '' if not 'flexbox' in kwargs else ' ons-grid-flex' %}
        {% set class_gutterless = '' if not 'gutterless' in kwargs else ' ons-grid--gutterless' %}
        {% set class_tight = '' if not 'tight' in kwargs else ' ons-grid--tight' %}
        {% set class_spaced = '' if not 'spaced' in kwargs else ' ons-grid--spaced' %}
        {% set class_pixelgutter = '' if not 'pixelgutter' in kwargs else ' ons-grid--pixelgutter' %}
        {% set custom_classes = ' ' + kwargs.get('class', '') %}
        {% set id = kwargs.get('id', False)%}
        {% set custom_attribs = kwargs.get('custom_attribs', '') %}
        <div class="ons-grid{{ class_reversible }}{{ class_align_mid }}{{ class_flexbox }}{{ class_gutterless }}{{ class_tight }}{{ class_spaced }}{{ class_pixelgutter }}{{ custom_classes }}"{% if id %} id="{{ id }}"{% endif %} {{ custom_attribs | safe }}>
            {{ caller () }}
        </div>
    {% endwith %}
    {% endmacro %}

    {% macro column(class_list=[]) %}
    {% with %}
        {% set id = kwargs.get('id', '') %}
        {% set custom_attribs = kwargs.get('custom_attribs', '') %}
        {% set all_classes = ['ons-grid__col'] + class_list %}
        <div class="{{ all_classes | join(' ') }}"{% if id %} id="{{ id }}"{% endif %} {{ custom_attribs | safe }}>
            {{ caller() }}
        </div>
    {% endwith %}
{% endmacro %}
