{# Panels #}
{% macro info(header='', id='', class='', font_size='venus') -%}
{% call _panel('info', header, id, class, font_size) %}
{% endmacro %}

{% macro success(header='', id='', class='', font_size='venus') -%}
{% call _panel('success', header, id, class, font_size) %}
{% endmacro %}

{% macro warn(header='', id='', class='', font_size='venus') -%}
{% call _panel('warn', header, id, class, font_size) %}
{% endmacro %}

{% macro error(header='', id='', class='', font_size='venus') -%}
{% call _panel('error', header, id, class, font_size) %}
{% endmacro %}

{# Non-exported supermacro #}
{% macro _panel(type, header='', id='', class='', font_size='venus') -%}
<div class="panel{% if header != '' %} panel--simple{% endif %} panel--{{ type }} {{ class }}">
    {% if header != '' %}
    <div class="panel__header">
        <div class="{{ font_size }}">{{ header }}</div>
    </div>
    {% endif %}
    <div id="{{ id }}" class="panel__body">
        {{ caller() }}
    </div>
</div>
{% endmacro %}