{% macro panel() -%}
{% with %}
{# Establishing variables #}
{% set simple_class = ' panel--simple' if not 'header' in kwargs %}
{% set type_class = ' panel--' + kwargs.get('type', 'info') %}
{% set custom_classes = kwargs.get('class', '') %}
{% set header = kwargs.get('header', False) %}
{% set font_size = kwargs.get('font_size', 'venus') %}
{% set id = kwargs.get('id', '') %}
{% set data_qa = kwargs.get('data-qa', '') %}
{% set custom_attribs = kwargs.get('custom_attribs') %}
{% set header_custom_attribs = kwargs.get('header_custom_attribs') %}
{% set body_custom_attribs = kwargs.get('body_custom_attribs') %}

{# Render component #}
<div class="panel{{ simple_class }}{{ type_class }} {{ custom_classes }}"{% if custom_attribs %}{% call attribs(custom_attribs) %}{% endcall %}{% endif %}>
    {% if header %}
    <div class="panel__header"{{ header_attrib_string }}>
        <div class="{{ font_size }}">{{ header }}</div>
    </div>
    {% endif %}
    <div id="{{ id }}" class="panel__body" data-qa="{{ data_qa }}"{{ body_attrib_string }}>
        {{ caller() }}
    </div>
</div>
{% endwith %}
{% endmacro %}
