/* Data panel */

/* To change and add to the data-panel CSS component */

.data-panel-header {
    cursor: pointer;
    padding: 1.5rem;
    margin-bottom: 0;
    color: #4263c2;

    &:hover {
        text-decoration: underline;
        background-color: #eeecec;
    }

    &::after {
        content: "\02795"; /* Unicode character for "plus" sign (+) */
        color: #4263c2;
        float: right;
        margin-left: 5px;

        &.active::after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
    }

    &__title {
        border: 0;
        background: none;
        color: #4263c2;
        padding: 0;
        display: none;
    }
}

.data-panel-body {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}
