.download-csv,
.edit-icon,
.add-icon,
.remove-icon {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.download-csv {
    background-image: url("/static/images/ic_file_download_black_18px.svg");
}

.edit-icon {
    background-image: url("/static/images/ic_mode_edit_black_18px.svg");
}

.add-icon {
    background-image: url("/static/images/ic_add_circle_outline_black_18px.svg");
}

.remove-icon {
    background-image: url("/static/images/ic_remove_circle_outline_black_18px.svg");
}
