.edit-icon,
.add-icon {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.edit-icon {
    background-image: url("../../images/ic_mode_edit_black_18px.svg");
}

.add-icon {
    background-image: url("../../images/ic_add_circle_outline_black_18px.svg");
}
