/* Unread circle icon */

.circle-icon::before {
    content: " \25CF";
    font-size: 16px;
    color: #4263c2;
    margin-left: -0.75rem;
    margin-right: 0.2rem;
}

/* Create new message */

input.secure-message--recipient {
    font-size: 1rem;
    margin-bottom: 1rem;
}

input.secure-message--subject {
    border: 1px solid #222;
    margin-bottom: 1rem;
}

label.secure-message--subject {
    margin-top: 1rem;
}

textarea.secure-message--message {
    border: 1px solid #222;
    margin-bottom: 1rem;
}

.sm-form-recipient-label,
.sm-form-meta-label {
    display: inline-block;
    width: 5rem;
    color: #666;
}

.secure-message-conversation-meta__label {
    display: inline-block;
    width: 5rem;
    color: #666;
}

.secure-message--subject,
.secure-message--message {
    display: block;
    width: 100%;
}

@media only screen and (min-width : 740px) {

    .create-message.block {
        width: 60%;
    }
}

/* Message list table */

.message-list {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;

    thead,
    tbody {

        tr {
            border-bottom: 2px solid #666;
        }
    }

    tbody tr {
        border-width: 1px;

        &:hover {
            cursor: pointer;
            background: #e4d8eb;
            background: #eee;
        }
    }

    th,
    td {
        text-align: left;
        padding: 0.5rem 0 0.5rem 1rem;
    }

    th {
        padding-bottom: 0.25rem;
        background: white;
    }

    &__date-time,
    &__ru-ref,
    &__ru-name,
    &__subject,
    &__from,
    &__to {
        white-space: nowrap;
    }

    &__date-time {
        width: 10rem;
    }

    &__ru-ref {
        width: 8rem;
    }

    &__ru-name {
        max-width: 16rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__subject {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__from {
        width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__to {
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: 8rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__item--unread {
        font-weight: 800;
    }
}

@media only screen and (min-width : 740px) {

    .message-list__date-time,
    .message-list__ru-ref,
    .message-list__ru-name,
    .message-list__subject,
    .message-list__from,
    .message-list__to {
        padding-right: 2rem;
    }

    .message-list__subject {
        min-width: 250px;
    }

    .message-list__from {
        min-width: 150px;
    }

    .message-list__to {
        min-width: 150px;
    }
}

/* Conversation views */
@media only screen and (min-width : 740px) {

    .secure-message-conversation {
        width: 62.5%;
    }
}

.secure-message-sent-message-meta.sm-from-ons {
    background: #033e58;
}

.secure-message-sent-message-meta.sm-from-respondent {
    background: #0f8243;
}

.secure-message-conversation-meta {
    margin-bottom: 1rem;
}

.secure-message-sent-message {
    border: 1px solid #222;
    margin-bottom: 2rem;
    border-radius: 0.2rem;
}

.secure-message-sent-message-meta,
.secure-message-sent-message-body {
    padding: 0.5rem;
}

.secure-message-sent-message-meta {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    padding-top: 0.333rem;
    padding-bottom: 0.333rem;
    position: relative;
}

.secure-message-sent-message-meta__label {
    display: none;
}

.secure-message-sent-message-meta-datetime,
.secure-message-sent-message-meta-from,
.secure-message-sent-message-meta-to {
    display: block;
    color: white;
}

.secure-message-mark-unread {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    color: white;
    margin-right: 0.5em;
    margin-top: 0.2em;
}

.secure-message-mark-unread:hover {
    color: white;
}
