
.pagination {
    color: black;
    padding: 1px;
    display: inline;

    ul {
        color: black;
        float: left;
        padding-left: 0;
        display: inline;
    }

    li {
        list-style-type: none;
        float: left;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        border-radius: 0.2rem;
        display: inline;

        a {
            padding: 8px 16px;
        }

        &.active {
            margin: 0 6px;
            background-color: #033e58;

            a {
                color: white;
            }
        }

        &.disabled {

            a {
                color: #666;
                text-decoration: none;
            }
        }

        &:hover:not(.active) {
            background-color: #e4e8eb;
            transition: background-color 0.3s;
        }

        &.previous.disabled.unavailable {
            display: none;
        }

        &.next.disabled {
            display: none;
        }
    }
}
